<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.weixiucheliang.mapper.MaintenanceMapper">


    <!--维修列表-->
    <select id="selectList" parameterType="org.springblade.anbiao.weixiu.page.MaintenancePage" resultType="org.springblade.anbiao.weixiu.VO.MaintenanceVO">
        <if test="size==0">
            SELECT
            a.driver_Id AS driverId,
            a.acb_maintenance_content AS acbMaintenanceContent,
            a.acb_repair_reason AS acbRepairReason,
            a.send_Date AS sendDate,
            a.acb_before_maintenance AS acbBeforeMaintenance,
            a.id AS Id,
            a.dept_Id AS dept_Id,
            c.cheliangpaizhao AS carNum,
            d.jiashiyuanxingming AS driverName,
            a.maintain_Dict_Id AS maintainDictId,
            a.maintenance_Dept_Name AS maintenanceDeptName,
            b.dept_name AS deptName
            FROM
            anbiao_cheliang_baoyangweixiu a
            LEFT JOIN anbiao_vehicle c ON a.vehicle_Id = c.id
            LEFT JOIN anbiao_jiashiyuan d ON  a.driver_Id = d.id
            inner join (
        <include
            refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.dept_Id = b.id
        <where> a.is_Deleted = 0
            <if test="asiYear!=null and asiYear!=''">
                AND  a.send_Date between #{asiYear} and #{asiYear}
            </if>
            <if test="deptName!=null and deptName!=''">
                AND b.dept_name= #{deptName}
            </if>
            <if test="carNum!=null and carNum!=''">
                AND c.cheliangpaizhao = #{carNum}
            </if>
            <if test="driverId!=null and driverId!=''">
                AND a.driver_Id = #{driverId}
            </if>
               limit ${total}
        </where>
        </if>

            <if test="current != 0">
                SELECT
                a.driver_Id AS driverId,
                a.acb_maintenance_content AS acbMaintenanceContent,
                a.acb_repair_reason AS acbRepairReason,
                a.send_Date AS sendDate,
                a.acb_before_maintenance AS acbBeforeMaintenance,
                a.id AS Id,
                a.dept_Id AS dept_Id,
                c.cheliangpaizhao AS carNum,
                d.jiashiyuanxingming AS driverName,
                a.maintain_Dict_Id AS maintainDictId,
                a.maintenance_Dept_Name AS maintenanceDeptName,
                b.dept_name AS deptName
                FROM
                anbiao_cheliang_baoyangweixiu a
                LEFT JOIN anbiao_vehicle c ON a.vehicle_Id = c.id
                LEFT JOIN anbiao_jiashiyuan d ON a.driver_Id = d.id
                inner join (
                <include
                    refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
                ) b on a.dept_Id = b.id
                <where> a.is_Deleted = 0
                    <if test="asiYear!=null and asiYear!=''">
                        AND  a.send_Date between #{asiYear} and #{asiYear}
                    </if>
                    <if test="deptName!=null and deptName!=''">
                        AND b.dept_name= #{deptName}
                    </if>
                    <if test="carNum!=null and carNum!=''">
                        AND c.cheliangpaizhao = #{carNum}
                    </if>
                    <if test="driverId!=null and driverId!=''">
                        AND a.driver_Id = #{driverId}
                    </if>
                    limit ${offsetNo},${size}
                </where>
           </if>
    </select>

    <!--维修信息-->
    <select id="selectAll" parameterType="org.springblade.anbiao.weixiu.page.MaintenancePage" resultType="org.springblade.anbiao.weixiu.entity.MaintenanceEntity">
        SELECT
            a.driver_Id AS driverId,
            a.acb_maintenance_content AS acbMaintenanceContent,
            a.acb_repair_reason AS acbRepairReason,
            a.send_Date AS sendDate,
            a.acb_before_maintenance AS acbBeforeMaintenance,
            a.id AS Id,
            a.dept_Id AS depID,
            a.vehicle_Id AS vehicleId,
            c.cheliangpaizhao AS carNum,
            d.jiashiyuanxingming AS driverName,
            a.maintain_Dict_Id AS maintainDictId,
            a.maintenance_Dept_Name AS maintenanceDeptName,
            a.acb_bill_attachment AS acbBillAttachment,
            a.acb_before_maintenance AS acbBeforeMaintenance,
            a.acb_after_maintenance AS acbAfterMaintenance,
            a.acb_center_maintenance AS acbCenterMaintenance,
            a.acb_cost AS acbCost,
            b.dept_name AS deptName
        FROM
            anbiao_cheliang_baoyangweixiu a
        LEFT JOIN anbiao_vehicle c ON a.vehicle_Id = c.id
        LEFT JOIN anbiao_jiashiyuan d ON  a.driver_Id = d.id
        inner join (
        <include
            refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.dept_Id = b.id
        where a.id =#{id} AND a.is_Deleted = 0
    </select>

    <select id="selectC"  parameterType="org.springblade.anbiao.weixiu.page.MaintenancePage" resultType="org.springblade.anbiao.weixiu.entity.FittingsEntity">
        SELECT
            a.awp_ids AS awpIds,
            a.awp_name AS awpName,
            a.awp_unit AS awpUnit,
            a.awp_model AS awpModel,
            a.awp_fs_ids AS awpFsIds,
            a.awp_fs_name AS awpFsName,
            a.awp_remarks AS awpRemarks,
            a.awp_unit_price AS awpUnitPrice,
            a.awp_purchase_price AS awpPurchasePrice,
            b.peijianid AS peijianID
        FROM
            anbiao_weixiu_peijian a
        <if test="id!=null">
            LEFT JOIN  anbiao_weixiucailiaomingxi b on a.awp_ids = b.peijianid
            where b.weihuid = #{id}
        </if>
    </select>

    <!--新增维修-->
    <insert id="insertOne" parameterType="org.springblade.anbiao.weixiu.entity.MaintenanceEntity" keyProperty="id" useGeneratedKeys="true">
        insert into anbiao_cheliang_baoyangweixiu(dept_Id,vehicle_Id,driver_Id,send_Date,acb_maintenance_content,
                                       maintenance_Dept_Name,maintain_Dict_Id,acb_repair_reason,acb_before_maintenance,
                                                acb_after_maintenance,is_Deleted,acb_bill_attachment,acb_center_maintenance,acb_cost
        )
        values (#{depID},#{vehicleId},#{driverId},#{sendDate},#{acbMaintenanceContent},
                #{maintenanceDeptName},#{maintainDictId},#{acbRepairReason},#{acbBeforeMaintenance},
                #{acbAfterMaintenance},0,#{acbBillAttachment},#{acbCenterMaintenance},#{acbCost}
               )
    </insert>

    <insert id="insertB" parameterType="org.springblade.anbiao.weixiu.entity.FittingEntity">
        insert into anbiao_weixiucailiaomingxi
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="cailiaomingcheng !=null">
                cailiaomingcheng,
            </if>
            <if test="weihuid !=null">
                weihuid,
            </if>
            <if test="caozuoren !=null">
                caozuoren,
            </if>
            <if test="xinghao !=null">
                xinghao,
            </if>
            <if test="shuliang !=null">
                shuliang,
            </if>
            <if test="danjia!=null">
                danjia,
            </if>
            <if test="beizhu!=null">
                beizhu,
            </if>
            <if test="xiaoji!=null">
                xiaoji,
            </if>
            <if test="createtime!=null">
                createtime,
            </if>
            <if test="caozuorenid!=null">
                caozuorenid ,
            </if>
            <if test="caozuoshijian!=null">
                caozuoshijian,
            </if>
            <if test="peijianid !=null">
                peijianid,
            </if>
            isdelete
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="cailiaomingcheng !=null">
                 #{cailiaomingcheng},
            </if>
            <if test="weihuid !=null">
                 #{weihuid},
            </if>
            <if test="caozuoren !=null">
                #{caozuoren},
            </if>
            <if test="xinghao !=null">
                #{xinghao},
            </if>
            <if test="shuliang !=null">
                #{shuliang},
            </if>
            <if test="danjia!=null">
                 #{danjia},
            </if>
            <if test="beizhu!=null">
                 #{beizhu},
            </if>
            <if test="xiaoji!=null">
                 #{xiaoji},
            </if>
            <if test="createtime!=null">
               #{createtime},
            </if>
            <if test="caozuorenid!=null">
                  ${caozuorenid} ,
            </if>
            <if test="caozuoshijian!=null">
                #{caozuoshijian},
            </if>
            <if test="peijianid !=null">
                #{peijianid},
            </if>
            0
        </trim>
    </insert>

    <!--修改维修-->
    <update id="updateMain" parameterType="org.springblade.anbiao.weixiu.entity.MaintenanceEntity">
        update anbiao_cheliang_baoyangweixiu
        <set>
            <if test="depID != null">
                dept_Id = #{depID},
            </if>
            <if test="vehicleId != null">
                vehicle_Id = #{vehicleId},
            </if>
            <if test="driverId != null">
                driver_Id = #{driverId},
            </if>
            <if test="sendDate != null">
                send_Date = #{sendDate},
            </if>
            <if test="acbMaintenanceContent != null">
                acb_maintenance_content = #{acbMaintenanceContent},
            </if>
            <if test="maintenanceDeptName != null">
                maintenance_Dept_Name = #{maintenanceDeptName},
            </if>
            <if test="maintainDictId !=null">
                maintain_Dict_Id = #{maintainDictId},
            </if>
            <if test="acbRepairReason !=null">
                acb_repair_reason = #{acbRepairReason},
            </if>
            <if test="acbBeforeMaintenance !=null">
                acb_before_maintenance = #{acbBeforeMaintenance},
            </if>
            <if test="acbAfterMaintenance!=null">
                acb_after_maintenance = #{acbAfterMaintenance},
            </if>
            <if test="acbBillAttachment!=null">
                acb_bill_attachment =#{acbBillAttachment},
            </if>
            <if test="acbCost!=null">
                acb_cost =#{acbCost}
            </if>
        </set>
        where id = ${id}
    </update>
    <update id="updateB" parameterType="org.springblade.anbiao.weixiu.entity.FittingEntity">
        update anbiao_weixiucailiaomingxi
        <set>
            <if test="cailiaomingcheng !=null">
                cailiaomingcheng = #{cailiaomingcheng},
            </if>
            <if test="weihuid !=null">
                weihuid = #{weihuid},
            </if>
            <if test="caozuoren !=null">
                caozuoren = #{caozuoren},
            </if>
            <if test="xinghao !=null">
                xinghao = #{xinghao},
            </if>
            <if test="shuliang !=null">
                shuliang = #{shuliang},
            </if>
            <if test="danjia!=null">
                danjia = #{danjia},
            </if>
            <if test="beizhu!=null">
                beizhu = #{beizhu},
            </if>
            <if test="xiaoji!=null">
                xiaoji = #{xiaoji},
            </if>
            <if test="createtime!=null">
                createtime = #{createtime},
            </if>
            <if test="caozuorenid!=null">
                caozuorenid =  ${caozuorenid} ,
            </if>
            <if test="caozuoshijian!=null">
                caozuoshijian = #{caozuoshijian}
            </if>
        </set>
        where weihuid = ${weihuid}
    </update>

    <!--删除维修-->
    <delete id="deleteMain" parameterType="org.springblade.anbiao.weixiu.page.MaintenancePage">
        update anbiao_cheliang_baoyangweixiu set
            is_Deleted = 1
        WHERE id = #{id}
    </delete>

    <sql id="tableSql">
        select
        a.*,c.cheliangpaizhao,
        b.dept_name as deptName
        from
        anbiao_cheliang_baoyangweixiu a
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.dept_Id = b.id
        LEFT JOIN anbiao_vehicle c ON a.vehicle_Id = c.id
        where a.is_Deleted = 0
    </sql>

    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by createtime desc
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
        <if test="orderColumn != null and orderColumn != '' and order == 0">
            asc
        </if>
    </sql>

    <select id="selectTotal"
            parameterType="org.springblade.anbiao.weixiu.page.MaintenancePage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql"/>
        )d where 1 = 1
        <if test="asiYear!=null and asiYear!=''">
            AND d.send_Date = #{asiYear}
        </if>
        <if test="deptName!=null and deptName!=''">
            AND d.deptName= #{deptName}
        </if>
        <if test="carNum!=null and carNum!=''">
           AND d.cheliangpaizhao = #{carNum}
        </if>
    </select>


</mapper>
