<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.dianziwendang.mapper.AnbiaoElectronicFileDeailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.anbiao.dianziwendang.entity.AnbiaoElectronicFileDeail">
        <id column="add_id" property="addId" />
        <result column="aad_aef_ids" property="aadAefIds" />
        <result column="aad_ap_ids" property="aadApIds" />
        <result column="aad_ap_name" property="aadApName" />
        <result column="aad_ap_type" property="aadApType" />
        <result column="add_ap_autograph" property="addApAutograph" />
        <result column="add_time" property="addTime" />
    </resultMap>

</mapper>
