<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.doc.biaozhunhuamuban.mapper.BiaozhunhuamubanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="biaozhunhuamubanResultMap" type="org.springblade.doc.biaozhunhuamuban.entity.Biaozhunhuamuban">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="dept_id" property="deptId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="path" property="path"/>
        <result column="sort" property="sort"/>
        <result column="tier" property="tier"/>
        <result column="file_property" property="fileProperty"/>
        <result column="caozuorenid" property="caozuorenid"/>
        <result column="caozuoren" property="caozuoren"/>
        <result column="caozuoshijian" property="caozuoshijian"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="is_muban" property="is_muban"/>
        <result column="anbiao_property" property="anbiaoProperty"/>
        <result column="file_suoshuren_id" property="fileSuoshurenId"/>
        <result column="is_edit" property="isEdit"/>
        <result column="muban_path" property="mubanPath"/>
        <result column="cumulative_visits" property="cumulativeVisits"/>
        <result column="last_preview_time" property="lastPreviewTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="BiaoZhunHuaResultMap" type="org.springblade.doc.biaozhunhuamuban.entity.BiaoZhunHua">
    </resultMap>

    <resultMap id="BiaozhunhuamubanListResultMap" type="org.springblade.doc.biaozhunhuamuban.entity.BiaozhunhuamubanList">
    </resultMap>

    <resultMap id="biaozhunhuamubanResultVoMap" type="org.springblade.doc.biaozhunhuamuban.vo.BiaozhunhuamubanVO">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="dept_id" property="deptId"/>
        <result column="title" property="title"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="path" property="path"/>
        <result column="sort" property="sort"/>
        <result column="tier" property="tier"/>
        <result column="caozuorenid" property="caozuorenid"/>
        <result column="caozuoren" property="caozuoren"/>
        <result column="caozuoshijian" property="caozuoshijian"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="file_property" property="fileProperty"/>
        <result column="anbiao_property" property="anbiaoProperty"/>
        <result column="document_number" property="documentNumber"/>
        <result column="file_suoshuren_id" property="fileSuoshurenId"/>
        <result column="is_edit" property="isEdit"/>
        <result column="muban_path" property="mubanPath"/>
        <result column="cumulative_visits" property="cumulativeVisits"/>
        <result column="last_preview_time" property="lastPreviewTime"/>
        <result column="is_muban" property="is_muban"/>
    </resultMap>

    <!--插入标准化文件与安全生产文档绑定关系-->
    <insert id="insertBind">
        insert into anbiao_biaozhunhuamuban_safetyproductionfile(biaozhunhuamuban_id,safetyproductionfile_id) values
        <foreach collection="safetyIds" item="item" index="index" separator=",">
            (#{id},#{item})
        </foreach>
    </insert>
    <!--修改文件性质-->
    <update id="updateFilePropertyById">
        update anbiao_biaozhunhuamuban set file_property = #{fileProperty}
        where id = #{id}
    </update>
    <!--修改文件所属人-->
    <update id="updatefileSuoshurenById">
        update anbiao_biaozhunhuamuban set file_suoshuren_id = #{fileSuoshurenId}
        where id = #{id}
    </update>
    <!--根据id修改文档编号-->
    <update id="updateDocumentNumberById">
        update anbiao_biaozhunhuamuban set document_number = #{documentNumber},is_edit=1 where id=#{id}
    </update>
    <!--根据模板文件id实现两文件排序号对调,实现文件排序上下移动-->
    <update id="swapFileSort">
          UPDATE anbiao_biaozhunhuamuban a
      JOIN anbiao_biaozhunhuamuban b  on a.parent_id=b.parent_id
      SET a.sort = b.sort, b.sort = a.sort
      where a.id = #{originId} AND b.id = #{targetId}
    </update>
    <!--更改模板文件排序号-->
    <update id="updateSortById">
        update  anbiao_biaozhunhuamuban set sort = #{sort} where id=#{id}
    </update>
    <!--文件重命名-->
    <update id="updateNameById">
        update anbiao_biaozhunhuamuban set directory_name = #{name} where id=#{id}
    </update>
    <!--更新记录-->
    <update id="updatePreviewRecordById">
         UPDATE anbiao_biaozhunhuamuban
         SET cumulative_visits = IFNULL(cumulative_visits, 0) + 1,
         last_preview_time = DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
         WHERE
            id = #{id}
    </update>
    <!--取消绑定-->
    <delete id="deleteBind">
        update anbiao_biaozhunhuamuban_safetyproductionfile set is_deleted=1 where id=#{id}
    </delete>

    <select id="JurgrantTree" resultMap="biaozhunhuamubanResultVoMap">
        SELECT
            id,
            parent_id,name as title
        FROM
            anbiao_biaozhunhuamuban
        WHERE
            is_deleted = 0
        AND dept_id=#{deptId}
    </select>

    <select id="JurpostTreeKeys" resultMap="biaozhunhuamubanResultVoMap">
        SELECT
            b.id
        FROM
            blade_post_menu a
        INNER JOIN(
        SELECT
            id
        FROM
            anbiao_biaozhunhuamuban
        WHERE
            id NOT IN (
                SELECT DISTINCT
                    shangji.id
                FROM
                    anbiao_biaozhunhuamuban shangji,
                    anbiao_biaozhunhuamuban xiaji
                WHERE
                    xiaji.parent_id = shangji.id
            ) AND is_deleted = 0
            )b ON a.menu_id=b.id
        and
            post_id  =#{postId}
        AND a.type = 2
    </select>


    <select id="tree" resultMap="biaozhunhuamubanResultVoMap">
        SELECT
            anbiao.id,
            anbiao.parent_id,
            anbiao.dept_id,
        CASE when anbiao.type='文件' and directory_name is not null then directory_name when anbiao.type='文件夹' and  (anbiao.NAME regexp '[^0-9.]')=1 THEN replaceFirst_regex('[\x00-\xff]|\\-|\\.','', anbiao.NAME) else   anbiao.NAME end as  name,
            anbiao.type,
        CASE WHEN anbiao.is_edit=1 THEN anbiao.path ELSE anbiao.muban_path end as path,
            anbiao.sort,
            anbiao.tier,
            anbiao.caozuorenid,
            anbiao.caozuoren,
            anbiao.caozuoshijian,
            anbiao.file_property,
            CASE WHEN ISNULL(anbiao.document_number) then 	b.levelNumber else  anbiao.document_number end as document_number,
            count(t.tier) as fileNum,
            b.levelNumber,
            anbiao.file_suoshuren_id,
            anbiao.cumulative_visits,
            anbiao.last_preview_time,
            anbiao.remark,
            anbiao.starlevel,
            anbiao.score,
            case
                when IFNULL(anbiao.score,'') != '' and COUNT(t.tier) > 0 then anbiao.score
                when IFNULL(anbiao.score,'') != '' and COUNT(t.tier) = 0 then '0'
                else ''
            end as nowscores,
            anbiao.yunyingleixing
        FROM
            anbiao_biaozhunhuamuban anbiao
--             查询文件数
        LEFT JOIN (
            SELECT DISTINCT tier FROM anbiao_biaozhunhuamuban
            WHERE dept_id = #{deptId} and type = '文件' and is_deleted=0
        ) t ON t.tier LIKE concat(anbiao.tier, '-%')
--             查询文件层级编号
        LEFT JOIN (
            SELECT
                a.id,
                REPLACE(group_concat(b.sort order by b.tier),',','.') as levelNumber
            FROM(
                select id,tier from anbiao_biaozhunhuamuban WHERE dept_id=#{deptId} and is_deleted=0
                ) a
            LEFT JOIN (SELECT sort,tier from anbiao_biaozhunhuamuban where dept_id = #{deptId}  ORDER BY sort) b on a.tier like CONCAT(b.tier,'-%') or a.tier = b.tier
            GROUP BY a.id
        ) b on anbiao.id = b.id
        WHERE anbiao.dept_id = #{deptId}
        AND anbiao.is_deleted=0
        <if test="parentId != null">
            and  anbiao.parent_id = #{parentId}
        </if>
        <if test="parentId == null">
            AND anbiao.parent_id = 0
        </if>
        GROUP BY
            id,
            anbiao.parent_id,
            anbiao.dept_id,
            anbiao. NAME,
            anbiao.type,
            anbiao.path,
            anbiao.sort,
            anbiao.caozuorenid,
            anbiao.caozuoren,
            anbiao.caozuoshijian,
            anbiao.file_property
        ORDER BY anbiao.sort
    </select>
    <!--查询标准化目录最大id-->
    <select id="selectMaxId" resultType="java.lang.Integer">
        SELECT MAX(id) from anbiao_biaozhunhuamuban
    </select>


    <!--根据parentId查询直属下级节点-->
    <select id="getByParentId" resultType="org.springblade.doc.biaozhunhuamuban.entity.Biaozhunhuamuban">
        SELECT
            id,
            parent_id,
            dept_id,
            NAME,
            type,
            path,
            sort,
            tier,
            caozuorenid,
            caozuoren,
            caozuoshijian,
            file_property,
            file_suoshuren_id
        FROM
            anbiao_biaozhunhuamuban
        WHERE
            parent_id = #{parentId} and is_deleted = 0
    </select>
    <!--查询下级节点最大sort值-->
    <select id="selectMaxSorByParentId" resultType="java.lang.Integer">
        SELECT
           IFNULL(max(sort),0)
        FROM
            anbiao_biaozhunhuamuban
        WHERE
            is_deleted = 0 and parent_id = #{id}
    </select>

    <!--根据文件性质查询目录-->
    <select id="filePropertyTree" resultType="org.springblade.doc.biaozhunhuamuban.vo.BiaozhunhuamubanVO">
        SELECT
            anbiao.id,
            anbiao.parent_id,
            anbiao.dept_id,
            CASE when anbiao.type='文件' and directory_name is not null then directory_name when anbiao.type='文件夹' and  (anbiao.NAME regexp '[^0-9.]')=1 THEN replaceFirst_regex('[\x00-\xff]|\\-|\\.','', anbiao.NAME) else   anbiao.NAME end as  name,
            anbiao.type,
            CASE WHEN anbiao.is_edit=1 THEN anbiao.path ELSE anbiao.muban_path end as path,
            anbiao.sort,
            anbiao.tier,
            anbiao.caozuorenid,
            anbiao.caozuoren,
            anbiao.caozuoshijian,
            anbiao.file_property,
            CASE WHEN ISNULL(anbiao.document_number) then 	b.levelNumber else  anbiao.document_number end as document_number,
            count(t.tier) as fileNum,
            b.levelNumber,
            anbiao.file_suoshuren_id,
            anbiao.cumulative_visits,
            anbiao.last_preview_time
        FROM(
            SELECT DISTINCT
                anbiao.id,
                anbiao.parent_id,
                anbiao.dept_id,
                anbiao. NAME,
                anbiao.type,
                anbiao.path,
                anbiao.sort,
                anbiao.tier,
                anbiao.caozuorenid,
                anbiao.caozuoren,
                anbiao.caozuoshijian,
                anbiao.document_number,
                anbiao.file_property,
                anbiao.directory_name,
                anbiao.file_suoshuren_id,
                anbiao.is_edit,
                anbiao.muban_path,
                anbiao.cumulative_visits,
                anbiao.last_preview_time
            FROM anbiao_biaozhunhuamuban anbiao
            INNER JOIN (SELECT tier from anbiao_biaozhunhuamuban where file_property=#{fileProperty} and is_deleted=0 and dept_id = #{deptId}) wenjian
            on wenjian.tier like CONCAT(anbiao.tier,'-%') or anbiao.tier like CONCAT(wenjian.tier,'-%') or anbiao.file_property=#{fileProperty}
            WHERE anbiao.is_deleted=0 and dept_id = #{deptId}
            )anbiao
        LEFT JOIN (
            SELECT DISTINCT a.tier FROM anbiao_biaozhunhuamuban a
            INNER JOIN (SELECT tier from anbiao_biaozhunhuamuban where file_property = #{fileProperty} and is_deleted=0 and dept_id = #{deptId}) b
            on a.tier like CONCAT(b.tier,'-%') or b.tier like CONCAT(a.tier,'-%')  or b.tier=a.tier
            WHERE a.type = '文件' and is_deleted=0 and dept_id = #{deptId}
        ) t ON t.tier LIKE concat(anbiao.tier, '-%')

         LEFT JOIN (
            SELECT
                a.id,
                REPLACE(group_concat(b.sort order by b.tier),',','.') as levelNumber
            FROM
                anbiao_biaozhunhuamuban a
            LEFT JOIN (SELECT sort,tier from anbiao_biaozhunhuamuban where dept_id = #{deptId}  ORDER BY sort) b on a.tier like CONCAT(b.tier,'-%') or a.tier = b.tier
            where a.dept_id = #{deptId}
            GROUP BY a.id
        ) b on anbiao.id = b.id
        GROUP BY
            id,
            anbiao.parent_id,
            anbiao.dept_id,
            anbiao. NAME,
            anbiao.type,
            anbiao.path,
            anbiao.sort,
            anbiao.caozuorenid,
            anbiao.caozuoren,
            anbiao.caozuoshijian,
            anbiao.file_property
        ORDER BY anbiao.sort
    </select>


    <!--根据文件性质查询文件列表数据-->
    <select id="fileList" resultType="org.springblade.doc.biaozhunhuamuban.vo.BiaozhunhuamubanVO"
            parameterType="org.springblade.doc.biaozhunhuamuban.page.BiaozhunhuamubanPage">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>
    <select id="selectTotal" resultType="int"
            parameterType="org.springblade.doc.biaozhunhuamuban.page.BiaozhunhuamubanPage">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>
    <!--获取模板树-->
    <select id="getMubanTree" resultType="org.springblade.doc.biaozhunhuamuban.vo.BiaozhunhuamubanVO">
        SELECT
            id,
            parent_id,
            dept_id,
            NAME,
            type,
            path,
            sort,
            tier,
            file_property,
            document_number,
            directory_name,
            muban_path,
            yunyingleixing,
            remark,
            score,
            starlevel
        FROM
            anbiao_biaozhunhuamuban
        WHERE
            is_muban = 1
        AND dept_id = 1
        AND is_deleted = 0
        AND parent_id !=0
        AND yunyingleixing=#{yunyingleixing}
        <if test="isOnlyDir !=null and isOnlyDir == '1'.toString()">
            AND type='文件夹'
        </if>
    </select>
    <!--获取机构下标准化文件的数量-->
    <select id="getCountByDetpId" resultType="java.lang.Integer">
        SELECT count(*) FROM anbiao_biaozhunhuamuban where is_deleted=0 and dept_id=#{dept_id}
    </select>

    <sql id="tableSql">
        SELECT
            id,
            parent_id,
            dept_id,
            CASE when directory_name is not null then directory_name  else   a.NAME end as  name,
            type,
            path,
            sort,
            a.tier,
            caozuorenid,
            caozuoren,
            caozuoshijian
        FROM
            anbiao_biaozhunhuamuban a
        INNER JOIN(
            SELECT tier from anbiao_biaozhunhuamuban where file_property=#{fileProperty} and is_deleted=0
        ) b
        on a.tier like CONCAT(b.tier,'-%') or b.tier like CONCAT(a.tier,'-%') or a.tier=b.tier
        WHERE
        type = '文件'
        AND dept_id = #{deptId}
        and is_deleted=0
        and IFNULL(caozuoshijian,'') != ''
    </sql>

    <sql id="querySql">

    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by caozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>


    <sql id="BiaoZhunHuatableSql">
        select
            DISTINCT
            a.*
        from(
            select
                DISTINCT
                b.dept_id as deptId,
                b.dept_name as deptName,
                case when b.jigouleixing = 'qiye' then '企业'
                    when b.jigouleixing = 'geti' then '个体'
                    else '其他'
                end as jigouleixing,
                '安全标准化文件' leixing,
                case
                    when a.yunyingleixing = 1 then '危货'
                    when a.yunyingleixing = 2 then '普货'
                    when a.yunyingleixing = 3 then '客运'
                end as yunyingleixing,
                '已生成' as status,
                (select distinct s.caozuoren from anbiao_biaozhunhuamuban s where s.dept_id = a.dept_id and s.is_Deleted = 0 and s.yunyingleixing = a.yunyingleixing and s.caozuoshijian = a.caozuoshijian) as caozuoren,
                a.caozuoshijian
            from(
                select
                    DISTINCT
                    dept_id,
                    yunyingleixing,
                    min(caozuoshijian) as caozuoshijian
                from
                    anbiao_biaozhunhuamuban
                where is_deleted = 0
                GROUP BY
                    dept_id,
                    yunyingleixing
                ) a
            inner join(
                select * from anbiao_organization
                where jigouleixing in('qiye','geti')
                    and isdelete = 0
                )b on a.dept_id = b.dept_id
            where b.dept_id is not null
        UNION
            select
                DISTINCT
                b.dept_id as deptId,
                b.dept_name as deptName,
                case when b.jigouleixing = 'qiye' then '企业'
                    when b.jigouleixing = 'geti' then '个体'
                    else '其他'
                end as jigouleixing,
                '安全管理标准文档' leixing,
                '' as yunyingleixing,
                '已生成' as status,
                (select DISTINCT s.caozuoren from anbiao_SafetyProductionFile s where s.dept_id = a.dept_id and s.is_Deleted = 0 and s.caozuoshijian = a.caozuoshijian) as caozuoren,
                a.caozuoshijian
            from(
                select
                    DISTINCT
                    dept_id,
                    min(caozuoshijian) as caozuoshijian
                from
                    anbiao_SafetyProductionFile
                where is_deleted = 0
                GROUP BY
                    dept_id
                ) a
                left join(
                    select * from anbiao_organization
                    where jigouleixing in('qiye','geti')
                        and isdelete = 0
                    )b on a.dept_id = b.dept_id
                where b.dept_id is not null
                )a
            inner join(
                select
                    b.id
                from
                    blade_dept a,blade_dept b
                where b.tree_code like CONCAT(a.tree_code,'%')
                    and a.id = #{deptId}
                    and b.extend_type = '机构'
                )b on a.deptId = b.id
            where 1=1
                and IFNULL(a.caozuoshijian,'') != ''
            <if test="leixing != null and leixing != '' ">
                and a.leixing = #{leixing}
            </if>

            <if test="deptName != null and deptName != '' ">
                and a.deptName LIKE concat('%', #{deptName} ,'%')
            </if>
    </sql>

    <sql id="BiaoZhunHuaquerySql">

    </sql>
    <sql id="BiaoZhunHuaorderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by caozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>
    <!--根据文件性质查询文件列表数据-->
    <select id="selectGetBiaoZhunHuaList" resultType="org.springblade.doc.biaozhunhuamuban.entity.BiaoZhunHua"
            parameterType="org.springblade.doc.biaozhunhuamuban.page.BiaozhunhuamubanPage">
        <if test="size == 0" >
            select * from (
            <include refid="BiaoZhunHuatableSql" />
            )b
            where 1=1
            <include refid="BiaoZhunHuaquerySql" />
            <include refid="BiaoZhunHuaorderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="BiaoZhunHuatableSql" />
            )b
            where 1=1
            <include refid="BiaoZhunHuaquerySql" />
            <include refid="BiaoZhunHuaorderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectGetBiaoZhunHuaListTotal" resultType="int"
            parameterType="org.springblade.doc.biaozhunhuamuban.page.BiaozhunhuamubanPage">
        select COUNT(1) from (
        <include refid="BiaoZhunHuatableSql" />
        )d
        where 1 = 1
        <include refid="BiaoZhunHuaquerySql" />
    </select>

    <!--安全管理标准文档-一键生成，未生成的企业-->
    <select id="selectGetQYWD" resultType="org.springblade.doc.biaozhunhuamuban.entity.BiaoZhunHua">
        select
            a.dept_id as deptId,
            a.dept_name as deptName
        from
            anbiao_organization a
            inner join(
                SELECT
                    DISTINCT
                    xiaji.id,
                    xiaji.parent_id,
                    xiaji.dept_name,
                    xiaji.is_deleted
                FROM
                    blade_dept shangji,
                    blade_dept xiaji
                WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
                    AND xiaji.is_deleted = 0 AND xiaji.extend_type='机构'
                    AND shangji.id=#{deptId}
            )b on a.dept_id = b.id
        where jigouleixing in('qiye','geti')
            and a.isdelete = 0
            and dept_id not in(
                select dept_id from anbiao_SafetyProductionFile
                where is_deleted = 0
                  and dept_id is not null
                group by
                    dept_id
            )
        group by
            a.dept_id,
            a.dept_name
    </select>

    <!--安全标准化文件-一键生成，未生成的企业-->
    <select id="selectGetQYWJ" resultType="org.springblade.doc.biaozhunhuamuban.entity.BiaoZhunHua">
        select
            a.dept_id as deptId,
            a.dept_name as deptName
        from
            anbiao_organization a
            inner join(
                SELECT
                    DISTINCT
                    xiaji.id,
                    xiaji.parent_id,
                    xiaji.dept_name,
                    xiaji.is_deleted
                FROM
                    blade_dept shangji,
                    blade_dept xiaji
                WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
                    AND xiaji.is_deleted = 0 AND xiaji.extend_type='机构'
                    AND shangji.id=#{deptId}
            )b on a.dept_id = b.id
        where jigouleixing in('qiye','geti')
            and a.isdelete = 0
            and dept_id not in(
                select dept_id from anbiao_biaozhunhuamuban
                where is_deleted = 0
                  and dept_id is not null
                group by
                    dept_id
            )
        group by
            a.dept_id,
            a.dept_name
    </select>

    <!--删除标准化模板文件-->
    <delete id="deleteBiaozhunhuamuban">
        update anbiao_biaozhunhuamuban
        set is_deleted=1,caozuoshijian=now(),caozuorenid=#{caozuorenid},caozuoren=#{caozuoren}
        where dept_id=#{deptId}
    </delete>

    <!--删除标准化文档文件-->
    <delete id="deleteSafetyProductionFile">
        update anbiao_SafetyProductionFile
        set is_deleted=1,caozuoshijian=now(),caozuorenid=#{caozuorenid},caozuoren=#{caozuoren}
        where dept_id=#{deptId}
    </delete>

    <!-- 根据文件ID更新标准化文件相应数据 -->
    <update id="updateBiaozhunhuamuban" parameterType="org.springblade.doc.biaozhunhuamuban.entity.Biaozhunhuamuban" >
        update anbiao_biaozhunhuamuban
        <set>
            <if test="name != null">
                name = #{name},
            </if>

            <if test="remark != null">
                remark = #{remark},
            </if>

            <if test="score != null">
                score = #{score},
            </if>

            <if test="starlevel != null">
                starlevel = #{starlevel},
            </if>

            <if test="caozuorenid != null">
                caozuorenid = #{caozuorenid},
            </if>

            <if test="caozuoren != null">
                caozuoren = #{caozuoren},
            </if>

            <if test="caozuoshijian != null">
                caozuoshijian = #{caozuoshijian}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="listTree" resultMap="BiaozhunhuamubanListResultMap">
        select
            case when IFNULL(a.parentName,'') = '' and IFNULL(a.erparentName,'') != '' then (
            select name from anbiao_biaozhunhuamuban where id = a.ids and (LENGTH(a.tier) &gt; 10)
            ) else a.parentName end as parentName,
            case when IFNULL(a.erparentName,'') = '' and IFNULL(a.parentName,'') != '' then a.name else a.erparentName end as erparentName,
            a.id,
            a.parent_id,
            a.dept_id,
            a.sort,
            a.tier,
            a.`NAME`,
            a.yunyingleixing,
            a.remark,
            a.starlevel,
            a.score,
            a.nowscores
        from(
            SELECT
                DISTINCT
                MAX((
                select name from anbiao_biaozhunhuamuban where id = anbiao.parent_id and (LENGTH(tier) &lt; 10)
                )) as parentName,
                MAX((
                select name from anbiao_biaozhunhuamuban where id = anbiao.parent_id and (LENGTH(tier) &gt; 10)
                )) as erparentName,
                anbiao.id,
                MAX(ab.parent_id) as ids,
                MAX(anbiao.parent_id) as parent_id,
                MAX(anbiao.dept_id) as dept_id,
                MAX(anbiao.sort) as sort,
                MAX(anbiao.tier) as tier,
                anbiao.NAME,
                MAX(anbiao.yunyingleixing) as yunyingleixing,
                IFNULL(MAX(anbiao.remark),'') as remark,
                IFNULL(MAX(anbiao.starlevel),0) as starlevel,
            <if test="Id == null or Id == '' ">
                IFNULL(MAX(anbiao.score),0) as score,
                case
                    when IFNULL(anbiao.score,'') != '' and COUNT(t.tier) &gt; 0 then anbiao.score
                    when IFNULL(anbiao.score,'') != '' and COUNT(t.tier) = 0 then '0'
                    else ''
                end as nowscores
            </if>
            <if test="Id != null and Id != '' ">
                case
                    when IFNULL(MAX(anbiao.score),0) = 0 then (select SUM(score) from anbiao_biaozhunhuamuban where parent_id = anbiao.id)
                    else MAX(anbiao.score)
                end as score,
                <!--case
                    when IFNULL(anbiao.score,'') != '' and COUNT(t.tier) &gt; 0 then MAX(t.score)
                    when IFNULL(anbiao.score,'') != '' and COUNT(t.tier) = 0 then '0'
                    when IFNULL(MAX(t.score),'') != '' then sum(t.score)
                    else '0'
                end as nowscores-->
                case
                    when IFNULL(anbiao.score,'') != '' and COUNT(t.tier) &gt; 0 then anbiao.score
                    when IFNULL(anbiao.score,'') != '' and COUNT(t.tier) = 0 then '0'
                    else ''
                end as nowscores
            </if>
            FROM
                anbiao_biaozhunhuamuban anbiao
            LEFT JOIN anbiao_biaozhunhuamuban ab on ab.id = anbiao.parent_id
            LEFT JOIN (
                SELECT DISTINCT tier,score FROM anbiao_biaozhunhuamuban
                WHERE type = '文件' and is_deleted=0 and is_muban != 1 and dept_id = #{deptId} and parent_id != 0
            ) t ON t.tier LIKE concat(anbiao.tier, '-%')
        WHERE anbiao.dept_id = #{deptId}
            AND anbiao.is_deleted = 0
            AND ab.is_deleted = 0
            AND anbiao.yunyingleixing = #{fileProperty}
        <if test=" deptId == 1 ">
            AND ab.parent_id != 3840
            AND anbiao.parent_id != 3840
        </if>

        <if test="Id != null and Id != '' ">
            <if test=" size &gt;= 12 ">
                AND anbiao.parent_id = #{Id}
            </if>
            <if test=" size &lt; 12 ">
                AND ab.parent_id = #{Id}
            </if>
            <if test=" size &gt;= 18 ">
                AND anbiao.id = #{Id}
            </if>
        </if>

        <if test="Id == null or Id == '' ">
            AND anbiao.type = '文件夹'
            AND ab.type = '文件夹'
            AND anbiao.parent_id != 0
            <if test="fileProperty == 3 ">
                AND ab.parent_id != 0
            </if>
        </if>

        <if test="parentId != null and parentId != '' ">
            AND anbiao.id = #{parentId}
        </if>
        GROUP BY
            anbiao.id
        )a
        ORDER BY a.tier
    </select>

    <select id="getTreeScores" resultMap="BiaozhunhuamubanListResultMap">
        select
            ifnull(SUM(nowscores),0) as totalpoints
        from(
            SELECT
                anbiao.id,
                case
                    when IFNULL(anbiao.score,'') != '' and COUNT(t.tier) &gt; 0 then anbiao.score
                    when IFNULL(anbiao.score,'') != '' and COUNT(t.tier) = 0 then '0'
                    else ''
                end as nowscores
            FROM
                anbiao_biaozhunhuamuban anbiao
            LEFT JOIN (
                SELECT DISTINCT tier FROM anbiao_biaozhunhuamuban
                WHERE type = '文件'
                    and is_muban != 1
                    and is_deleted=0
                    and yunyingleixing = #{fileProperty}
                    and dept_id = #{deptId}
                    and parent_id != 0
            ) t ON t.tier LIKE concat(anbiao.tier, '-%')
            WHERE anbiao.dept_id = #{deptId}
                AND anbiao.is_deleted = 0
                AND anbiao.yunyingleixing = #{fileProperty}
                AND anbiao.parent_id != 0
                AND ifnull(anbiao.remark,'') != ''
            GROUP BY
                id,
                anbiao.parent_id,
                anbiao.dept_id,
                anbiao. NAME,
                anbiao.type,
                anbiao.path,
                anbiao.sort,
                anbiao.caozuorenid,
                anbiao.caozuoren,
                anbiao.caozuoshijian,
                anbiao.file_property
            )a
    </select>

    <select id="getListTree" resultMap="biaozhunhuamubanResultVoMap">
        select
            id,
            parent_id,
            dept_id,
            name,
            tier
        from
            anbiao_biaozhunhuamuban
        where 1=1
            and type = '文件夹'
        <if test="fileProperty == 3 ">
            and parent_id != 0
        </if>
            and is_deleted = 0
            and dept_id=#{deptId}
        ORDER BY tier asc
    </select>

    <select id="getByDeptId" resultMap="biaozhunhuamubanResultVoMap">
        select
            DISTINCT
            yunyingleixing
        from
            anbiao_biaozhunhuamuban
        where 1=1
            and is_deleted = 0
            and dept_id= #{deptId}
    </select>

    <select id="getTreeById" resultMap="biaozhunhuamubanResultMap">
        select
            id,
            parent_id,
            dept_id,
            name,
            tier
        from
            anbiao_biaozhunhuamuban
        where 1=1
            and is_deleted = 0
            and id=#{id}
    </select>


    <!-- 根据文件ID更新日程待办相应数据 -->
    <update id="updateSelective" parameterType="org.springblade.anbiao.richenganpai.entity.Richenganpai" >
        update anbiao_richenganpai
        <set>
            <if test="deptId != null and deptId != '' ">
                dept_id = #{deptId},
            </if>
            <if test="renwuleixing != null and renwuleixing != '' ">
                renwuleixing = #{renwuleixing},
            </if>
            <if test="renwubiaoti != null and renwubiaoti != '' ">
                renwubiaoti = #{renwubiaoti},
            </if>
            <if test="anpairen != null and anpairen != '' ">
                anpairen = #{anpairen},
            </if>
            <if test="anpairenId != null and anpairenId != '' ">
                anpairen_id = #{anpairenId},
            </if>
            <if test="zerenren != null and zerenren != '' ">
                zerenren = #{zerenren},
            </if>
            <if test="zerenrenId != null and zerenrenId != '' ">
                zerenren_id = #{zerenrenId},
            </if>
            <if test="zhixingrens != null and zhixingrens != '' ">
                zhixingrens = #{zhixingrens},
            </if>
            <if test="zhixingrenIds != null and zhixingrenIds != '' ">
                zhixingren_ids = #{zhixingrenIds},
            </if>
            <if test="isJinji != null and isJinji != '' ">
                is_jinji = #{isJinji},
            </if>
            <if test="isZhongyao != null and isZhongyao != '' ">
                is_zhongyao = #{isZhongyao},
            </if>
            <if test="renwukaishishijian != null and renwukaishishijian != '' ">
                renwukaishishijian = #{renwukaishishijian},
            </if>
            <if test="renwujiezhishijian != null and renwujiezhishijian != '' ">
                renwujiezhishijian = #{renwujiezhishijian},
            </if>
            <if test="renwuneirong != null and renwuneirong != '' ">
                renwuneirong = #{renwuneirong},
            </if>
            <if test="ziwozongjie != null and ziwozongjie != '' ">
                ziwozongjie = #{ziwozongjie},
            </if>
            <if test="isDeleted != null and isDeleted != '' ">
                is_deleted = #{isDeleted},
            </if>
            <if test="caozuoren != null and caozuoren != '' ">
                caozuoren = #{caozuoren},
            </if>
            <if test="caozuorenid != null and caozuorenid != '' ">
                caozuorenid = #{caozuorenid},
            </if>
            <if test="caozuoshijian != null and caozuoshijian != '' ">
                caozuoshijian = #{caozuoshijian},
            </if>
            <if test="isFinish != null and isFinish != '' ">
                is_finish = #{isFinish},
            </if>
            <if test="renwudidian != null and renwudidian != '' ">
                renwudidian = #{renwudidian},
            </if>
            <if test="finishuserid != null and finishuserid != '' ">
                finish_userid = #{finishuserid},
            </if>
            <if test="finishuser != null and finishuser != '' ">
                finish_user = #{finishuser},
            </if>
            <if test="finishtime != null and finishtime != '' ">
                finish_time = #{finishtime},
            </if>
            <if test="finishremark != null and finishremark != '' ">
                finish_remark = #{finishremark},
            </if>
            <if test="finishimg != null and finishimg != '' ">
                finish_img = #{finishimg},
            </if>
            <if test="finishstatus != null and finishstatus != '' ">
                finish_status = #{finishstatus},
            </if>
            <if test="tier != null and tier != '' ">
                tier = #{tier},
            </if>
            <if test="leixing != null and leixing != '' ">
                leixing = #{leixing},
            </if>
            <if test="tiername != null and tiername != '' ">
                tiername = #{tiername}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByIds" resultType="org.springblade.anbiao.richenganpai.entity.Richenganpai">
        select *,datediff(NOW(),renwujiezhishijian) as chaoqitianshu from anbiao_richenganpai where id=#{id}
    </select>

    <!--安全管理标准文档-一键生成，未生成的企业-->
    <select id="selectGetType" resultType="org.springblade.doc.biaozhunhuamuban.entity.BiaoZhunHua">
        SELECT DISTINCT
            s.NAME as yunyingleixing,
            s.id as leixingid
        FROM
            anbiao_SafetyProductionFile s,
            ( SELECT min( f.parent_id ) AS parent_id, f.dept_id FROM anbiao_SafetyProductionFile f WHERE f.is_Deleted = 0 AND f.dept_id = #{deptId} GROUP BY f.dept_id ) f
        WHERE
            s.id = f.parent_id
          AND s.is_Deleted = 0
    </select>


</mapper>
