<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.SafeInvestment.mapper.SafeInvestmentMapper">

    <!--安全列表-->
    <select id="selectList" parameterType="org.springblade.anbiao.SafeInvestment.page.SafelInfoPage" resultType="org.springblade.anbiao.SafeInvestment.VO.SafeInvestmentVO">
        <if test="size==0">
            select
            a.asi_ids AS asiIds,a.asi_dept_ids AS asiDeptIds,a.asi_year AS asiYear,a.asi_last_years_turnover AS asiLastYearsTurnover,a.asi_extraction_proportion AS asiExtractionProportion,
            a.asi_withdrawal_amount AS asiWithdrawalAmount,a.asi_accrued_amount AS asiAccruedAmount,a.asi_amount_used AS asiAmountUsed,a.asi_remaining_amount AS asiRemainingAmount,
            a.asi_delete AS asiDelete,a.asi_create_time AS asiCreateTime,a.asi_create_by_ids AS asiCreateByIds,a.asi_create_by_name AS asiCreateByName,a.asi_update_time AS asiUpdateTime,
            a.asi_update_by_ids AS asiUpdateByIds,a.asi_update_by_name AS asiUpdateByName,b.dept_name AS deptName
        from
            anbiao_safety_input a
        inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.asi_dept_ids = b.id
        where ifnull( a.asi_delete , 0 ) = 0
            <if test="asiYear!=null and asiYear!=''">
              AND  a.asi_year= #{asiYear}
            </if>
            <if test="deptName!=null and deptName!=''">
                AND  b.dept_name= #{deptName}
            </if>
           limit ${total}
        </if>
        <if test="current != 0">
            select
            a.asi_ids AS asiIds,a.asi_dept_ids AS asiDeptIds,a.asi_year AS asiYear,a.asi_last_years_turnover AS asiLastYearsTurnover,a.asi_extraction_proportion AS asiExtractionProportion,
            a.asi_withdrawal_amount AS asiWithdrawalAmount,a.asi_accrued_amount AS asiAccruedAmount,a.asi_amount_used AS asiAmountUsed,a.asi_remaining_amount AS asiRemainingAmount,
            a.asi_delete AS asiDelete,a.asi_create_time AS asiCreateTime,a.asi_create_by_ids AS asiCreateByIds,a.asi_create_by_name AS asiCreateByName,a.asi_update_time AS asiUpdateTime,
            a.asi_update_by_ids AS asiUpdateByIds,a.asi_update_by_name AS asiUpdateByName,b.dept_name AS deptName
            from
            anbiao_safety_input a
            inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.asi_dept_ids = b.id
            where ifnull( a.asi_delete , 0 ) = 0
            <if test="asiYear!=null and asiYear!=''">
             AND   a.asi_year= #{asiYear}
            </if>
            <if test="deptName!=null and deptName!=''">
                AND  b.dept_name= #{deptName}
            </if>
            limit ${offsetNo},${size}
        </if>
    </select>

    <!--安全投入详细信息-->
    <select id="selectAll" parameterType="org.springblade.anbiao.SafeInvestment.DTO.SafeInvestmentDTO" resultType="org.springblade.anbiao.SafeInvestment.VO.SafetyInvestmentDetailsVO">
        SELECT
        asid_ids AS asidIds,
        asid_asi_ids AS asidAsiIds,
        asid_entry_name AS asidEntryName,
        asid_handled_by_ids AS asidHandledByIds,
        asid_handled_by_name AS asidHandledByName,
        asid_investment_scope AS asidInvestmentScope,
        asid_investment_dare AS asidInvestmentDare,
        asid_amount_used AS asidAmountUsed,
        asid_delete AS asidDelete,
        asid_img AS asidImg
        FROM
        anbiao_safety_input_detailed
        <where>
        <if test = "asiIds!= null and asiIds!= ''" >
            asid_asi_ids = #{asiIds} AND
        </if>
         ifnull( asid_delete, 0 ) = 0
        </where>
    </select>

    <select id="selectA" parameterType="org.springblade.anbiao.SafeInvestment.DTO.SafeInvestmentDTO"  resultType="org.springblade.anbiao.SafeInvestment.VO.SafeAllVO">
        SELECT
        asi_ids AS asiIds,
        asi_dept_ids AS asiDeptIds,
        asi_year AS asiYear,
        asi_last_years_turnover AS asiLastYearsTurnover,
        asi_extraction_proportion AS asiExtractionProportion,
        asi_withdrawal_amount AS asiWithdrawalAmount,
        asi_accrued_amount AS asiAccruedAmount,
        asi_amount_used AS asiAmountUsed,
        asi_remaining_amount AS asiRemainingAmount,
        asi_delete AS asiDelete
        FROM
        anbiao_safety_input
        <where>
        <if test = "asiIds!= null and asiIds!= ''" >
            asi_ids = #{asiIds} AND
        </if>
        ifnull( asi_delete, 0 ) = 0
        </where>
    </select>


    <!--新增安全投入详细信息-->
    <insert id="insertOne" parameterType="org.springblade.anbiao.SafeInvestment.entity.AnbiaoSafetyInput">
        insert  into anbiao_safety_input(asi_ids,asi_dept_ids,asi_year,asi_last_years_turnover,asi_extraction_proportion,asi_withdrawal_amount,
            asi_accrued_amount,asi_amount_used,asi_remaining_amount,asi_delete,	asi_create_time
        )
        values (#{asi_ids},#{asi_dept_ids},#{asi_year},#{asi_last_years_turnover},#{asi_extraction_proportion},#{asi_withdrawal_amount},
            #{asi_accrued_amount},#{asi_amount_used},#{asi_remaining_amount},0,now()
               )
    </insert>

    <insert id="insertInput" parameterType="org.springblade.anbiao.SafeInvestment.entity.AnbiaoSafetyInputDetailed">
        insert  into anbiao_safety_input_detailed(asid_ids,asid_asi_ids,asid_entry_name,asid_handled_by_name,asid_handled_by_ids,asid_investment_scope,asid_investment_dare,asid_amount_used,asid_delete,asid_img)
        values
            (#{asidIds},
            #{asidAsiIds},
            #{asidEntryName},
            #{asidHandledByName},
            #{asidHandledByIds},
            #{asidInvestmentScope},
            #{asidInvestmentDare},
            #{asidAmountUsed},
            0,
             #{asidImg}
             )

    </insert>

    <select id="selectd" parameterType="org.springblade.anbiao.SafeInvestment.DTO.SafeInvestmentDTO" resultType="org.springblade.anbiao.SafeInvestment.entity.AnbiaoSafetyInputDetailed">
        select asid_asi_ids AS asidAsiIds from anbiao_safety_input_detailed where asid_asi_ids = #{asiIds}
    </select>


    <!--修改安全投入-->
    <update id="updateSafe" parameterType="org.springblade.anbiao.SafeInvestment.DTO.SafeInvestmentDTO">
        update anbiao_safety_input
        <set>
            <if test="asiYear != null">
                asi_year = #{asiYear},
            </if>
            <if test="asiExtractionProportion != null">
                asi_extraction_proportion = #{asiExtractionProportion},
            </if>
            <if test="asiWithdrawalAmount != null">
                asi_withdrawal_amount = #{asiWithdrawalAmount},
            </if>
            <if test="asiAccruedAmount != null">
                asi_accrued_amount = #{asiAccruedAmount},
            </if>
            <if test="asiAmountUsed != null">
                asi_amount_used = #{asiAmountUsed},
            </if>
            <if test="asiRemainingAmount != null">
                asi_remaining_amount = #{asiRemainingAmount},
            </if>
            <if test="asiLastYearsTurnover != null">
                asi_last_years_turnover = #{asiLastYearsTurnover},
            </if>
            <if test="asiDeptIds != null">
                asi_dept_ids = #{asiDeptIds}
            </if>
        </set>
        where asi_ids = #{asiIds}
    </update>
    <update id="updateSafede" parameterType="org.springblade.anbiao.SafeInvestment.VO.SafetyInvestmentDetailsVO">
        update anbiao_safety_input_detailed
        <set>
            <if test="asidEntryName != null">
                asid_entry_name = #{asidHandledByName},
            </if>
            <if test="asidHandledByName != null">
                asid_handled_by_name = #{asidHandledByName},
            </if>
            <if test="asidInvestmentScope != null">
                asid_investment_scope = #{asidInvestmentScope},
            </if>
            <if test="asidInvestmentDare != null">
                asid_investment_dare = #{asidInvestmentDare},
            </if>
            <if test="asidAmountUsed != null">
                asid_amount_used = #{asidAmountUsed},
            </if>
            <if test="asidImg != null">
                asid_img = #{asidImg},
            </if>
            asid_handled_by_ids = #{asidHandledByIds}
        </set>
        where asid_asi_ids = #{asidIds}
    </update>


    <!--删除安全投入-->
    <update id="deleteSafe" parameterType="org.springblade.anbiao.SafeInvestment.DTO.SafeInvestmentDTO" >
        update anbiao_safety_input set
            asi_delete = 1,asi_update_by_ids = #{deptId}
        WHERE asi_ids = #{asiIds}
    </update>

    <sql id="tableSql">
        select
        a.*,
        b.dept_name as deptName
        from
        anbiao_safety_input a
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.asi_dept_ids = b.id
        where a.asi_delete = 0
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by asi_create_time desc
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
        <if test="orderColumn != null and orderColumn != '' and order == 0">
            asc
        </if>
    </sql>



<!--    <select id="selectTotal1" resultType="int" parameterType="org.springblade.anbiao.SafeInvestment.page.SafelInfoPage">-->
<!--        select-->
<!--        count(1)-->
<!--        from(-->
<!--        <include refid="tableSql"/>)-->
<!--        where 1=1-->
<!--    </select>-->
    <select id="selectTotal"
            parameterType="org.springblade.anbiao.SafeInvestment.page.SafelInfoPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql"/>
        )b where 1 = 1
        <if test="asiYear!=null and asiYear!=''">
            AND b.asi_year = #{asiYear}
        </if>
        <if test="deptName!=null and deptName!=''">
        AND  b.deptName= #{deptName}
        </if>
    </select>

    <select id="selectYears" resultType="org.springblade.anbiao.SafeInvestment.DTO.SafeInvestmentDTO">
       select asi_dept_ids,asi_ids,asi_year
         from anbiao_safety_input
        where asi_year &gt;= #{year}-1 and asi_year &lt;= #{year}-1
          and asi_dept_ids=#{asiDeptIds}
          and asi_delete = 0
        group by asi_year
    </select>

    <select id="selectLedgerList" resultType="org.springblade.anbiao.SafeInvestment.VO.SafelInfoledgerVO">
        SELECT
            c.dept_name AS deptName,
            a.*,
            b.*
        FROM
            ( SELECT asi_ids as asiIds, asi_year as asiYear, asi_last_years_turnover as asiLastYearsTurnover, asi_extraction_proportion AS asiExtractionProportion, asi_withdrawal_amount AS asiWithdrawalAmount, asi_accrued_amount AS asiAccruedAmount, asi_amount_used AS asiAmountUsed, asi_remaining_amount AS asiRemainingAmount, asi_delete AS asiDelete, asi_dept_ids AS asiDeptIds FROM `anbiao_safety_input`  WHERE asi_delete = 0) a
        inner join (
             SELECT id, dept_name FROM blade_dept
        ) c ON c.id = a.asiDeptIds
        LEFT JOIN ( SELECT asid_ids as asidIds,asid_asi_ids AS asidAsiIds, asid_entry_name AS asidEntryName, asid_handled_by_name AS asidHandledByName, asid_investment_scope as asidInvestmentScope, asid_investment_dare AS asidInvestmentDare, asid_amount_used AS asidAmountUsed,asid_delete as asidDelete FROM anbiao_safety_input_detailed  where asid_delete =0 ) b ON a.asiIds = b.asidAsiIds

<!--        WHERE-->
<!--            <if test="deptName!=null and deptName!=''">-->
<!--                c.dept_name = #{deptName}-->
<!--            </if>-->

--         SELECT
--         c.dept_name AS deptName,
--         a.*
-- --         b.*
--         FROM
--                   ( SELECT asi_ids as asiIds, asi_year as asiYear, asi_last_years_turnover as asiLastYearsTurnover, asi_extraction_proportion AS asiExtractionProportion, asi_withdrawal_amount AS asiWithdrawalAmount, asi_accrued_amount AS asiAccruedAmount, asi_amount_used AS asiAmountUsed, asi_remaining_amount AS asiRemainingAmount, asi_delete AS asiDelete, asi_dept_ids AS asiDeptIds FROM `anbiao_safety_input`  WHERE asi_delete = 0) a
--         inner join (
--         SELECT id, dept_name FROM blade_dept
--         ) c ON c.id = a.asiDeptIds
--         LEFT JOIN ( SELECT asid_ids as asidIds,asid_asi_ids AS asidAsiIds, asid_entry_name AS asidEntryName, asid_handled_by_name AS asidHandledByName, asid_investment_scope as asidInvestmentScope, asid_investment_dare AS asidInvestmentDare, asid_amount_used AS asidAmountUsed,asid_delete as asidDelete FROM anbiao_safety_input_detailed  where asid_delete =0) b ON a.asiIds = b.asidAsiIds
    </select>

    <select id="selectLedgerPage"
            parameterType="org.springblade.anbiao.SafeInvestment.page.SafelInfoledgerPage"
            resultType="org.springblade.anbiao.SafeInvestment.VO.SafelInfoledgerVO">
        <if test="size == 0" >
            SELECT
            c.dept_name AS deptName,
            c.id as deptId,
            a.*
            FROM
            ( SELECT asi_ids as asiIds, asi_year as asiYear, asi_last_years_turnover as asiLastYearsTurnover, asi_extraction_proportion AS asiExtractionProportion, asi_withdrawal_amount AS asiWithdrawalAmount, asi_accrued_amount AS asiAccruedAmount, asi_amount_used AS asiAmountUsed, asi_remaining_amount AS asiRemainingAmount, asi_delete AS asiDelete, asi_dept_ids AS asiDeptIds FROM `anbiao_safety_input`  WHERE asi_delete = 0) a
            inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) c ON c.id = a.asiDeptIds
            where 1=1
            <if test="asiYear != null and asiYear != ''">
                AND a.asiYear >= #{asiYear}
            </if>
            <if test="deptName != null and deptName != ''">
                AND c.dept_name like '%${deptName}%'
            </if>
            <if test="asiIds != null and asiIds != ''">
                AND a.asiIds = #{asiIds}
            </if>
            limit ${total}
        </if>
        <if test="current != 0" >
            SELECT
            c.dept_name AS deptName,
            c.id as deptId,
            a.*
            FROM
            ( SELECT asi_ids as asiIds, asi_year as asiYear, asi_last_years_turnover as asiLastYearsTurnover, asi_extraction_proportion AS asiExtractionProportion, asi_withdrawal_amount AS asiWithdrawalAmount, asi_accrued_amount AS asiAccruedAmount, asi_amount_used AS asiAmountUsed, asi_remaining_amount AS asiRemainingAmount, asi_delete AS asiDelete, asi_dept_ids AS asiDeptIds FROM `anbiao_safety_input`  WHERE asi_delete = 0) a
            inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) c ON c.id = a.asiDeptIds
            where 1=1
            <if test="asiYear != null and asiYear != ''">
                AND a.asiYear >= #{asiYear}
            </if>
            <if test="deptName != null and deptName != ''">
                AND c.dept_name like '%${deptName}%'
            </if>
            <if test="asiIds != null and asiIds != ''">
                AND a.asiIds = #{asiIds}
            </if>
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectLedgerTotal"
            parameterType="org.springblade.anbiao.SafeInvestment.page.SafelInfoledgerPage"
            resultType="int">
        select COUNT(1) from(SELECT
                                 c.dept_name AS deptName,
                                 c.id as deptId,
                                 a.*
                             FROM
                                 ( SELECT asi_ids as asiIds, asi_year as asiYear, asi_last_years_turnover as asiLastYearsTurnover, asi_extraction_proportion AS asiExtractionProportion, asi_withdrawal_amount AS asiWithdrawalAmount, asi_accrued_amount AS asiAccruedAmount, asi_amount_used AS asiAmountUsed, asi_remaining_amount AS asiRemainingAmount, asi_delete AS asiDelete, asi_dept_ids AS asiDeptIds FROM `anbiao_safety_input`  WHERE asi_delete = 0) a
                                     inner join (
                                     <include
                                         refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
                                     ) c ON c.id = a.asiDeptIds
                                where 1=1
                                <if test="asiYear != null and asiYear != ''">
                                    AND a.asiYear >= #{asiYear}
                                </if>
                                <if test="deptName != null and deptName != ''">
                                    AND c.dept_name like '%${deptName}%'
                                </if>
                                <if test="asiIds != null and asiIds != ''">
                                    AND a.asiIds = #{asiIds}
                                </if>
                                     ) d
    </select>
</mapper>
