<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.SafeInvestment.mapper.SafeInvestmentMapper">

    <!--安全列表-->
    <select id="selectList" parameterType="org.springblade.anbiao.SafeInvestment.page.SafelInfoPage" resultType="org.springblade.anbiao.SafeInvestment.VO.SafeInvestmentVO">
        select
            a.asi_ids,a.asi_dept_ids,a.asi_year,a.asi_last_years_turnover,a.asi_extraction_proportion,
            a.asi_withdrawal_amount,a.asi_accrued_amount,a.asi_amount_used,a.asi_remaining_amount,
            a.asi_delete,a.asi_create_time,	a.asi_create_by_ids,a.asi_create_by_name,a.asi_update_time,
            a.asi_update_by_ids,a.asi_update_by_name,b.dept_name
        from
            anbiao_safety_input a
        inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.asi_dept_ids = b.id
        where a.asi_delete = 0 AND
            a.asi_update_time between #{startTime} and #{endTime}
        <if test="size==0">
           limit ${total}
        </if>
        <if test="current != 0">
           limit ${offsetNo},${size}
        </if>
    </select>

    <!--安全投入详细信息-->
    <select id="selectAll"  resultType="org.springblade.anbiao.SafeInvestment.VO.SafetyInvestmentDetailsVO">
        SELECT
        asid_ids,
        asid_asi_ids,
        asid_entry_name,
        asid_handled_by_ids,
        asid_handled_by_name,
        asid_investment_scope,
        asid_investment_dare,
        asid_amount_used,
        asid_delete
        FROM
        anbiao_safety_input_detailed
        WHERE
        <if test = "_parameter!= null and _parameter!= ''" >
            asid_asi_ids = #{asid_asi_ids}
        </if>
        AND ifnull( asid_delete, 0 ) = 0
    </select>

    <!--新增安全投入详细信息-->
    <insert id="insertOne" parameterType="org.springblade.anbiao.SafeInvestment.entity.AnbiaoSafetyInput">
        insert IGNORE into anbiao_safety_input(asi_ids,asi_year,asi_last_years_turnover,asi_extraction_proportion,asi_withdrawal_amount,
            asi_accrued_amount,asi_amount_used,asi_remaining_amount,asi_delete
        )
        values (asi_ids,asi_year,asi_last_years_turnover,asi_extraction_proportion,asi_withdrawal_amount,
            asi_accrued_amount,asi_amount_used,asi_remaining_amount,asi_delete
               )
    </insert>

    <insert id="insertInput" parameterType="org.springblade.anbiao.SafeInvestment.entity.AnbiaoSafetyInputDetailed">
        insert into anbiao_safety_input_detailed(asid_ids,asid_entry_name,asid_handled_by_name,asid_investment_scope,asid_investment_dare,asid_amount_used,asid_delete)
        values
            (#{asid_entry_name},
             #{asid_ids},
            #{asid_handled_by_name},
            #{asid_investment_scope},
            #{asid_investment_dare},
            #{asid_amount_used},
            #{asid_delete}
             )

    </insert>


    <!--修改安全投入-->
    <update id="updateSafe" parameterType="org.springblade.anbiao.SafeInvestment.entity.AnbiaoSafetyInput">
        update anbiao_safety_input
        <set>
            <if test="asi_year != null">
                asi_year = #{asi_year}
            </if>
            <if test="asi_extraction_proportion != null">
                asi_extraction_proportion = #{asi_extraction_proportion}
            </if>
            <if test="asi_withdrawal_amount != null">
                asi_withdrawal_amount = #{asi_withdrawal_amount}
            </if>
            <if test="asi_accrued_amount != null">
                asi_accrued_amount = #{asi_accrued_amount}
            </if>
            <if test="asi_amount_used != null">
                asi_amount_used = #{asi_amount_used}
            </if>
            <if test="asi_remaining_amount != null">
                asi_remaining_amount = #{asi_remaining_amount}
            </if>
        </set>
        where asi_dept_ids = #{asi_dept_ids}
    </update>

    <!--删除安全投入-->
    <update id="deleteSafe" parameterType="java.lang.String" >
        update anbiao_safety_input set
            asi_delete = 1
        WHERE asi_dept_ids = #{asi_dept_ids}
    </update>

    <sql id="tableSql">
        select
        a.*,
        b.dept_name as deptName
        from
        anbiao_safety_input a
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.asi_dept_ids = b.id
        where a.asi_delete = 0
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by asi_create_time desc
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
        <if test="orderColumn != null and orderColumn != '' and order == 0">
            asc
        </if>
    </sql>



<!--    <select id="selectTotal1" resultType="int" parameterType="org.springblade.anbiao.SafeInvestment.page.SafelInfoPage">-->
<!--        select-->
<!--        count(1)-->
<!--        from(-->
<!--        <include refid="tableSql"/>)-->
<!--        where 1=1-->
<!--    </select>-->
    <select id="selectTotal"
            parameterType="org.springblade.anbiao.SafeInvestment.page.SafelInfoPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql"/>
        )d where 1 = 1
    </select>
</mapper>
