<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.jiashiyuan.mapper.AnbiaoCheliangJiashiyuanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.anbiao.jiashiyuan.entity.AnbiaoCheliangJiashiyuan">
        <id column="id" property="id" />
        <result column="vehid" property="vehid" />
        <result column="jiashiyuanid" property="jiashiyuanid" />
        <result column="createtime" property="createtime" />
        <result column="type" property="type" />
    </resultMap>

    <select id="SelectByJiashiyuanID" resultType="org.springblade.anbiao.jiashiyuan.vo.CheliangJiashiyuanVO">
<!--        SELECT v.cheliangpaizhao,cj.jiashiyuanid,cj.vehid FROM `anbiao_vehicle` v,anbiao_cheliang_jiashiyuan cj-->
<!--        WHERE cj.jiashiyuanid= #{jiashiyuanid}-->
<!--          and cj.vehid=v.id-->
<!--        <if test="shiyongxingzhi != null and shiyongxingzhi != '' ">-->
<!--          and v.shiyongxingzhi = #{shiyongxingzhi}-->
<!--        </if>-->

        <if test="shiyongxingzhi == '车头' ">
            SELECT
                v.cheliangpaizhao,v.id as vehid,cj.vstatus as status,cj.jiashiyuanid
            FROM
                `anbiao_vehicle` v
            left join (
                select
                    vehid,jiashiyuanid,max(createtime) createtime,vstatus
                from
                    anbiao_cheliang_jiashiyuan_daily
                where vstatus = 1
                    GROUP BY vehid,jiashiyuanid,vstatus
                ) cj on cj.vehid=v.id
            where v.cheliangpaizhao not like '%挂%'
                and v.is_deleted = 0
                and v.dept_id = #{deptId}
            order by cj.vstatus
        </if>

        <if test="shiyongxingzhi == '挂车' ">
            SELECT
                v.cheliangpaizhao,v.id as vehid,cj.gstatus as status,cj.jiashiyuanid
            FROM
                `anbiao_vehicle` v
            left join (
                select
                    jiashiyuanid,gvehid,max(createtime) createtime,gstatus
                from
                    anbiao_cheliang_jiashiyuan_daily
                where gstatus = 1
                    GROUP BY jiashiyuanid,gvehid,gstatus
                ) cj on cj.gvehid=v.id
            where v.cheliangpaizhao like '%挂%'
                and v.is_deleted = 0
                and v.dept_id = #{deptId}
            order by cj.gstatus
        </if>

    </select>
</mapper>
