<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.jiashiyuan.mapper.AnbiaoCheliangJiashiyuanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.anbiao.jiashiyuan.entity.AnbiaoCheliangJiashiyuan">
        <id column="id" property="id" />
        <result column="vehid" property="vehid" />
        <result column="jiashiyuanid" property="jiashiyuanid" />
        <result column="createtime" property="createtime" />
        <result column="type" property="type" />
    </resultMap>

    <select id="SelectByJiashiyuanID" resultType="org.springblade.anbiao.jiashiyuan.vo.CheliangJiashiyuanVO">

        <if test="shiyongxingzhi == '车头' ">
            SELECT
                v.cheliangpaizhao,v.id as vehid,cj.vstatus as status,cj.jiashiyuanid
            FROM
                `anbiao_vehicle` v
            left join (
                select
                    vehid,jiashiyuanid,max(createtime) createtime,vstatus
                from
                    anbiao_cheliang_jiashiyuan_daily
                where vstatus = 1
                    GROUP BY vehid,jiashiyuanid,vstatus
                ) cj on cj.vehid=v.id
            where v.cheliangpaizhao not like '%挂%'
                and v.is_deleted = 0
                and v.dept_id = #{deptId}
            order by cj.vstatus
        </if>

        <if test="shiyongxingzhi == '挂车' ">
            SELECT
                v.cheliangpaizhao,v.id as vehid,cj.gstatus as status,cj.jiashiyuanid
            FROM
                `anbiao_vehicle` v
            left join (
                select
                    jiashiyuanid,gvehid,max(createtime) createtime,gstatus
                from
                    anbiao_cheliang_jiashiyuan_daily
                where gstatus = 1
                    GROUP BY jiashiyuanid,gvehid,gstatus
                ) cj on cj.gvehid=v.id
            where v.cheliangpaizhao like '%挂%'
                and v.is_deleted = 0
                and v.dept_id = #{deptId}
            order by cj.gstatus
        </if>

    </select>

    <sql id="tableSql">
        <if test="shiyongxingzhi == '车头' ">
            select
                a.vstatus as status,
                b.cheliangpaizhao,
                b.chepaiyanse,
                c.jiashiyuanxingming,
                c.shoujihaoma,
                d.dept_name as deptname
            from
                anbiao_cheliang_jiashiyuan_daily a
                left join anbiao_vehicle b on a.vehid = b.id
                left join anbiao_jiashiyuan c on a.jiashiyuanid = c.id
                left join blade_dept d on c.dept_id = d.id
            where a.vstatus = 1
                and d.is_deleted = 0
                and b.is_deleted = 0
                and c.isdelete = 0
                and b.cheliangpaizhao not like '%挂%'
            <if test="deptId !=null and deptId != ''">
                and d.id = #{deptId}
            </if>
        </if>

        <if test="shiyongxingzhi == '挂车' ">
            select
                a.gstatus as status,
                b.cheliangpaizhao,
                b.chepaiyanse,
                c.jiashiyuanxingming,
                c.shoujihaoma,
                d.dept_name
            from
                anbiao_cheliang_jiashiyuan_daily a
                left join anbiao_vehicle b on a.gvehid = b.id
                left join anbiao_jiashiyuan c on a.jiashiyuanid = c.id
                left join blade_dept d on c.dept_id = d.id
            where a.gstatus = 1
                and d.is_deleted = 0
                and b.is_deleted = 0
                and c.isdelete = 0
                and b.cheliangpaizhao like '%挂%'
            <if test="deptId !=null and deptId != ''">
                and d.id = #{deptId}
            </if>
        </if>
    </sql>

    <sql id="querySql">
        <if test="jiashiyuanxingming !=null and jiashiyuanxingming != ''">
            AND jiashiyuanxingming  LIKE '%${jiashiyuanxingming}%'
        </if>

        <if test="shoujihaoma !=null and shoujihaoma != ''">
            AND shoujihaoma = #{shoujihaoma}
        </if>

        <if test="cheliangpaizhao !=null and cheliangpaizhao != ''">
            AND cheliangpaizhao  LIKE '%${cheliangpaizhao}%'
        </if>

    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        order by cheliangpaizhao
    </sql>

    <select id="selectPageList" parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanVehiclePage" resultType="org.springblade.anbiao.jiashiyuan.vo.CheliangJiashiyuanVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanVehiclePage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <select id="SelectByDept" resultType="org.springblade.anbiao.jiashiyuan.vo.CheliangJiashiyuanVO">
        SELECT DISTINCT
            a.*
        FROM
            (
            SELECT DISTINCT
                xiaji.id as deptId,
                xiaji.dept_name as deptname
            FROM
                blade_dept shangji,
                blade_dept xiaji,
                anbiao_organization o
            WHERE
                xiaji.tree_code LIKE CONCAT( shangji.tree_code, '%' )
              AND xiaji.is_deleted = 0
              AND xiaji.extend_type = '机构'
              AND o.jigouleixing IN ( 'qiye', 'geti' )
              AND xiaji.id = o.dept_id
              AND shangji.id in (
                SELECT DISTINCT
                    shangji.id as deptId
                FROM
                    blade_dept shangji,
                    blade_dept xiaji,
                    anbiao_organization o
                WHERE
                    xiaji.parent_id = shangji.id
                  AND xiaji.is_deleted = 0
                  AND xiaji.extend_type = '机构'
                  AND o.jigouleixing IN ( 'qiye', 'geti' )
                  AND shangji.id = o.dept_id
                  AND xiaji.id = #{deptId}
                  AND shangji.id != 1
            )
        UNION
            SELECT DISTINCT
                shangji.id as deptId,
                shangji.dept_name as deptname
            FROM
                blade_dept shangji,
                blade_dept xiaji,
                anbiao_organization o
            WHERE
                xiaji.parent_id = shangji.id
              AND xiaji.is_deleted = 0
              AND xiaji.extend_type = '机构'
              AND o.jigouleixing IN ( 'qiye', 'geti' )
              AND shangji.id = o.dept_id
              AND xiaji.id = #{deptId}
              AND shangji.id != 1
        UNION
            SELECT
                DISTINCT
                a.id as deptId,
                a.dept_name as deptname
            FROM
                blade_dept a,
                anbiao_organization o
            WHERE
                a.is_deleted = 0
              AND a.extend_type = '机构'
              AND o.jigouleixing IN ( 'qiye', 'geti' )
              AND a.id = o.dept_id
              AND a.id = #{deptId}
            ) a
    </select>

</mapper>
