<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.jiashiyuan.mapper.JiaShiYuanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="jiaShiYuanResultMap" type="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">

    </resultMap>

    <resultMap id="jiaShiYuanVOResultMap" type="org.springblade.anbiao.jiashiyuan.vo.JiaShiYuanVO">
    </resultMap>

    <resultMap id="jiaShiYuanTJMXResultMap" type="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuanTJMX">
    </resultMap>



    <insert id="insertJSY" parameterType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
insert into  anbiao_jiashiyuan
(id,jiashiyuanxingming,xingbie,shenfenzhenghao,chushengshijian,nianling,shoujihaoma,congyerenyuanleixing,shenfenzhengyouxiaoqi,
wenhuachengdu,pingyongriqi,jidongjiashiyuan,jiashiyuanleixing,dept_id,shenfenzhengfujian,congyezhengfujian,jiashizhengfujian,
jiatingzhuzhi,danganbianhao,jiashizhenghao,zhunjiachexing,jialing,weifajifen,jiashizhengchulingriqi,jiashizhengyouxiaoqi,tijianyouxiaoqi,
congyezigezheng,congyeleibie,congyezhengyouxiaoqi,congyezhengchulingri,zhengjianhefajiguan,fazhengjiguan,chengxinkaoheshijian,
xiacichengxinkaoheshijian,jixujiaoyushijian,xiacijixujiaoyushijian,congyezigeleibie,zhengjianzhuangtai,huzhaohaoma,huzhaoleibie,guojiama,
huzhaoyouxiaoqi,zhunjiazhenghao,zhunjialeixing,zhunyunxian,zhunjiazhengyouxiaoqi,jiaonabiaozhun,jiaonajine,shifoujiaona,chaosuweifajilu,
jiaotongweifajilu,zhirensiwangzeren,weiguileixing,jiachejingli,beizhu,fuyinjian,caozuorenid,caozuoshijian,caozuoren,bumen,lizhishijian,
denglumima,isdelete,zhaopian,tijianriqi
)
values
(#{id},#{jiashiyuanxingming},#{xingbie},#{shenfenzhenghao},#{chushengshijian},#{nianling},#{shoujihaoma},#{congyerenyuanleixing},#{shenfenzhengyouxiaoqi},
#{wenhuachengdu},#{pingyongriqi},#{jidongjiashiyuan},#{jiashiyuanleixing},#{deptId},#{shenfenzhengfujian},#{congyezhengfujian},#{jiashizhengfujian},
#{jiatingzhuzhi},#{danganbianhao},#{jiashizhenghao},#{zhunjiachexing},#{jialing},#{weifajifen},#{jiashizhengchulingriqi},#{jiashizhengyouxiaoqi},#{tijianyouxiaoqi},
#{congyezigezheng},#{congyeleibie},#{congyezhengyouxiaoqi},#{congyezhengchulingri},#{zhengjianhefajiguan},#{fazhengjiguan},#{chengxinkaoheshijian},
#{xiacichengxinkaoheshijian},#{jixujiaoyushijian},#{xiacijixujiaoyushijian},#{congyezigeleibie},#{zhengjianzhuangtai},#{huzhaohaoma},#{huzhaoleibie},#{guojiama},
#{huzhaoyouxiaoqi},#{zhunjiazhenghao},#{zhunjialeixing},#{zhunyunxian},#{zhunjiazhengyouxiaoqi},#{jiaonabiaozhun},#{jiaonajine},#{shifoujiaona},#{chaosuweifajilu},
#{jiaotongweifajilu},#{zhirensiwangzeren},#{weiguileixing},#{jiachejingli},#{beizhu},#{fuyinjian},#{caozuorenid},#{caozuoshijian},#{caozuoren},#{bumen},#{lizhishijian},
#{denglumima},#{isdelete},#{zhaopian},#{tijianriqi}
)
    </insert>

    <update id="updateDel" parameterType="java.lang.String">
        UPDATE anbiao_jiashiyuan SET isdelete = 1 where id = #{id}
    </update>

    <sql id="tableSql">
        SELECT
        DISTINCT
        a.id,
        bb.dept_name deptName ,
        jiashiyuanxingming ,
        case when xingbie = 1 then '男' else '女' end as xingbie,
        shoujihaoma ,
        case when IFNULL(b.cheliangpaizhao,'') = '' then (SELECT v.cheliangpaizhao from anbiao_vehicle as v where v.is_deleted = 0 and v.jiashiyuanid = a.id and cheliangpaizhao not like '%挂%' limit 1) else b.cheliangpaizhao end as cheliangpaizhao,
        case when IFNULL(c.cheliangpaizhao,'') = '' then (SELECT v.cheliangpaizhao from anbiao_vehicle as v where v.is_deleted = 0 and v.jiashiyuanid = a.id and cheliangpaizhao like '%挂%' limit 1) else c.cheliangpaizhao end as cheliangpaizhaoguache,
        d.ajr_create_time as sijiruzhiriqi,
        e.ajw_start_date as laodonghetongkaishiriqi,
        e.ajw_end_date as laodonghetongjieshuriqi,
        case when IFNULL(e.ajw_end_date,'') = '' then '0天'
        when year(e.ajw_end_date) > YEAR(NOW()) then '365天'
        else CONCAT(TIMESTAMPDIFF(DAY,NOW(),e.ajw_end_date),'天') end as laodonghetongshengyuyouxiaoqi,
        shenfenzhenghao ,
        shenfenzhengchulingriqi ,
        shenfenzhengyouxiaoqi ,
        case when IFNULL(shenfenzhengyouxiaoqi,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),shenfenzhengyouxiaoqi),'天') end as shenfenzhengshengyuyouxiaoqi,
        jiashizhenghao ,
        f.ajj_valid_period_start as jiashizhengkaishiriqi,
        f.ajj_valid_period_end as jiashizhengjieshuriqi,
        case when IFNULL(f.ajj_valid_period_end,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),f.ajj_valid_period_end),'天') end as jiashizhengshengyuyouxiaoqi,
        g.ajc_certificate_no as congyezigezhenghao,
        g.ajc_initial_issuing as congyezigezhengkaishiriqi,
        g.ajc_valid_until as congyezigezhengjieshuriqi,
        case when IFNULL(g.ajc_valid_until,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),g.ajc_valid_until),'天') end as congyezigezhengshengyuyouxiaoqi,
        h.aja_start_date as anquanshengchanzerenshuqishiriqi ,
        case when IFNULL(h.aja_start_date,'') = '' then '0天'
        when year(h.aja_start_date) > YEAR(NOW()) then '365天'
        else CONCAT(TIMESTAMPDIFF(DAY,NOW(),DATE_ADD(h.aja_start_date, INTERVAL 1 YEAR)),'天') end as anquanshengchanzerenshushengyuyouxiaoqi,
        j.ajw_start_date as gangweiweixiangaozhishuqishiriqi,
        case when IFNULL(j.ajw_start_date,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(DAY,NOW(),DATE_ADD(j.ajw_start_date, INTERVAL 3 YEAR)),'天') end as gangweiweixiangaozhishushengyuyouxiaoqi,
        k.ajt_physical_examination_date as tijianbaogaoqishiriqi ,
        case when IFNULL(k.ajt_physical_examination_date,'') = '' then '0天'
        when year(k.ajt_physical_examination_date) > YEAR(NOW()) then '365天'
        else CONCAT(TIMESTAMPDIFF(DAY,NOW(),DATE_ADD(k.ajt_physical_examination_date, INTERVAL 1 YEAR)),'天') end as tijianbaogaoshengyuyouxiaoqi,
        l.ajw_start_date as wuzhongdazerenshiguqishiriqi
        FROM
        anbiao_jiashiyuan a
        inner join  (
            <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) bb on a.dept_id = bb.id
        left join (
        select cheliangpaizhao,b.jiashiyuanid from anbiao_vehicle a,anbiao_cheliang_jiashiyuan_daily b
        where a.is_deleted = 0
        and a.id = b.vehid
        and b.vstatus = 1
        --         and b.jiashiyuanid = a.jiashiyuanid
        and cheliangpaizhao not like '%挂%'
        ) b on a.id = b.jiashiyuanid
        left join (
        select cheliangpaizhao,b.jiashiyuanid from anbiao_vehicle a,anbiao_cheliang_jiashiyuan_daily b
        where a.is_deleted = 0
        and a.id = b.gvehid
        and b.gstatus = 1
        --         and b.jiashiyuanid = a.jiashiyuanid
        and cheliangpaizhao like '%挂%'

        ) c on a.id = c.jiashiyuanid
        left join (SELECT * FROM anbiao_jiashiyuan_ruzhi WHERE ajr_delete = 0) d on a.id = d.ajr_aj_ids
        left join (SELECT * FROM anbiao_jiashiyuan_laodonghetong WHERE ajw_delete = 0) e on a.id = e.ajw_aj_ids
        left join (SELECT * FROM anbiao_jiashiyuan_jiashizheng WHERE ajj_delete = 0) f on a.id = f.ajj_aj_ids
        left join (SELECT * FROM anbiao_jiashiyuan_congyezigezheng WHERE ajc_delete = 0) g on a.id = g.ajc_aj_ids
        left join (SELECT * FROM anbiao_jiashiyuan_anquanzerenshu WHERE aja_delete = 0) h on a.id = h.aja_aj_ids
        left join (SELECT * FROM anbiao_jiashiyuan_weihaigaozhishu WHERE ajw_delete = 0) j on a.id = j.ajw_aj_ids
        left join (SELECT * FROM anbiao_jiashiyuan_tijian WHERE ajt_delete = 0) k on a.id = k.ajt_aj_ids
        left join (SELECT * FROM anbiao_jiashiyuan_wuzezhengming WHERE ajw_delete = 0) l on a.id = l.ajw_aj_ids
        WHERE 1=1
        and ifnull(a.isdelete,0) = 0
        order BY jiashiyuanxingming
<!--            and a.status = 0-->
    </sql>

    <sql id="querySql">
        <if test="jiashiyuanxingming !=null and jiashiyuanxingming != ''">
            AND jiashiyuanxingming  LIKE '%${jiashiyuanxingming}%'
        </if>

        <if test="deptName !=null and deptName != ''">
            AND deptName LIKE '%${deptName}%'
        </if>

        <if test="shenfenzhenghao !=null and shenfenzhenghao != ''">
            AND shenfenzhenghao = #{shenfenzhenghao}
        </if>

        <if test="shoujihaoma !=null and shoujihaoma != ''">
            AND shoujihaoma LIKE '%${shoujihaoma}%'
        </if>

    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        order by jiashiyuanxingming
    </sql>

    <select id="selectPageList" parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanPage" resultType="org.springblade.anbiao.jiashiyuan.vo.JiaShiYuanListVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <select id="selectByIds" parameterType="java.lang.String" resultType="org.springblade.anbiao.jiashiyuan.vo.JiaShiYuanVO">
        SELECT
        a.*,b.dept_name deptName
        FROM
        anbiao_jiashiyuan a
        inner join  blade_dept b
        on a.dept_id = b.id
        WHERE 1=1 and ifnull(a.isdelete ,0) = 0 and a.id=#{id}
    </select>

    <select id = "selectByCardNo" parameterType="java.lang.String" resultType="org.springblade.anbiao.jiashiyuan.vo.JiaShiYuanVO">
        select
        a.*,b.dept_name as deptName
        from
        anbiao_jiashiyuan a
        inner join blade_dept b on a.dept_id = b.id
        WHERE 1=1
            and ifnull(a.isdelete ,0) = 0
            and a.dept_id = #{deptId}
        <if test="cardNo !=null and cardNo != ''">
            and a.shenfenzhenghao=#{cardNo}
            and a.jiashiyuanleixing = #{jiashiyuanleixing}
        </if>
        <if test="driverNo !=null and driverNo != ''">
            and a.jiashizhenghao=#{driverNo}
            and a.jiashiyuanleixing = #{jiashiyuanleixing}
        </if>
    </select>

    <select id="jiaShiYuanTableList" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuanTable">
        SELECT
        distinct
        id,
        jiashiyuanxingming,
        case when xingbie = 1 then '男'  when xingbie = 2 then '女' else xingbie end as xingbie,
        '' as ruzhiriqi,
        shenfenzhenghao,
        '' as zhiwei,
        congyezigezheng,
        (select dict_value from blade_dict where is_deleted = 0 and `code` = 'congyezigezhengleibie' and dict_key = congyeleibie limit 1) as congyeleibie,
        congyezhengchulingri,
        congyezhengyouxiaoqi,
        shoujihaoma,
        '' as cheliangpaizhao,
        (select dept_name from blade_dept where id = dept_id and is_deleted = 0 limit 1) as deptName
        FROM
        anbiao_jiashiyuan
        WHERE 1=1
        AND isdelete = 0
        <if test="deptId != null and deptId != '' ">
            AND dept_id= #{deptId}
        </if>
    </select>


    <select id = "selectByCar" parameterType="java.lang.String" resultType="org.springblade.anbiao.cheliangguanli.entity.Vehicle">
        select
            b.id,b.dept_id,b.cheliangpaizhao,b.chepaiyanse,b.shiyongxingzhi
        from
            anbiao_cheliang_jiashiyuan a,
            (
                select
                    id,dept_id,cheliangpaizhao,chepaiyanse,shiyongxingzhi
                from
                    anbiao_vehicle
                where is_deleted = 0
            ) b
        where 1=1
            and a.vehid = b.id
            and a.jiashiyuanid = #{jiashiyuanid}
    </select>

    <update id="updatePassWord" parameterType="java.lang.String">
        UPDATE anbiao_jiashiyuan SET denglumima = #{password} where id = #{id}
    </update>

    <sql id="tableJVSql">
        select
        a.dept_name as deptName,a.jiashiyuanxingming,shoujihaoma,b.cheliangpaizhao,b.chepaiyanse,b.shiyongxingzhi,b.createtime as caozuoshijian,
        case when IFNULL(c.shu,0) &gt; 0 then '已绑车' else '未绑车' end as biaoshi
        from (
        select
        a.id,
        jiashiyuanxingming,
        xingbie,
        zhaopian,
        shenfenzhenghao,
        shoujihaoma,
        dept_id,
        shenfenzhengfujian,
        congyezhengfujian,
        jiashizhengfujian,
        createtime,
        dept_name
        from
        anbiao_jiashiyuan a
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.dept_id = b.id
        where 1=1
        and isdelete = 0
        )a
        left join(
        select
        b.id as vehicleid,b.cheliangpaizhao,b.chepaiyanse,b.shiyongxingzhi,jiashiyuanid,a.createtime
        from
        anbiao_cheliang_jiashiyuan a,
        (
        select id,dept_id,cheliangpaizhao,chepaiyanse,shiyongxingzhi
        from
        anbiao_vehicle
        where is_deleted = 0
        ) b
        where 1=1
        and a.vehid = b.id
        )b on a.id = b.jiashiyuanid
        right join(
            select jiashiyuanxingming,COUNT(jiashiyuanid) as shu from anbiao_cheliang_jiashiyuan a right join anbiao_jiashiyuan b on a.jiashiyuanid = b.id
            GROUP BY jiashiyuanxingming
            <if test=" biaoshi == ''">
                HAVING COUNT(jiashiyuanid) &gt;= 0
            </if>
            <if test=" biaoshi == '已绑车'">
                HAVING COUNT(jiashiyuanid) &gt; 0
        </if>
        <if test=" biaoshi == '未绑车'">
            HAVING COUNT(jiashiyuanid) = 0
        </if>
        )c on c.jiashiyuanxingming = a.jiashiyuanxingming
        where 1=1
            and ifnull(a.dept_name,'') != ''
            and (ifnull(a.jiashiyuanxingming,'') != '' and a.jiashiyuanxingming not like 'null')
            and ifnull(a.shoujihaoma,'') != ''
            and ifnull(cheliangpaizhao,'') != ''
    </sql>

    <sql id="queryJVSql">
        <if test="jiashiyuanxingming !=null and jiashiyuanxingming != ''">
            AND jiashiyuanxingming  LIKE '%${jiashiyuanxingming}%'
        </if>

        <if test="deptName !=null and deptName != ''">
            AND deptName LIKE '%${deptName}%'
        </if>
    </sql>
    <sql id="orderJVSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by caozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectJVList" parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanPage" resultType="org.springblade.anbiao.jiashiyuan.vo.JiaShiYuanVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableJVSql" />
            )b
            where 1=1
            <include refid="queryJVSql" />
            <include refid="orderJVSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableJVSql" />
            )b
            where 1=1
            <include refid="queryJVSql" />
            <include refid="orderJVSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectJVTotal" parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableJVSql" />
        )d
        where 1 = 1
        <include refid="queryJVSql" />
    </select>

    <select id="jiaShiYuanList" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        select
            DISTINCT
            id,
            jiashiyuanxingming,
            xingbie,
            jiashiyuanleixing,
            shenfenzhenghao,
            shoujihaoma
        from
            anbiao_jiashiyuan
        where isdelete = 0
            AND dept_id= #{deptId}
    </select>

    <insert id="insertSelective" parameterType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan" >
        insert into anbiao_jiashiyuan
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="id != null and id != '' ">
                id,
            </if>

            <if test="deptId != null and deptId != '' ">
                dept_id,
            </if>

            <if test="shenfenzhengchulingriqi != null and shenfenzhengchulingriqi != '' ">
                shenfenzhengchulingriqi,
            </if>

            <if test="shenfenzhengyouxiaoqi != null and shenfenzhengyouxiaoqi != '' ">
                shenfenzhengyouxiaoqi,
            </if>

            <if test="jiashizhenghao != null and jiashizhenghao != '' ">
                jiashizhenghao,
            </if>

            <if test="tijianriqi != null and tijianriqi != '' ">
                tijianriqi,
            </if>

            <if test="jiashiyuanxingming != null and jiashiyuanxingming != '' ">
                jiashiyuanxingming,
            </if>

            <if test="xingbie != null and xingbie != '' ">
                xingbie,
            </if>

            <if test="shenfenzhenghao != null and shenfenzhenghao != '' ">
                shenfenzhenghao,
            </if>

            <if test="nianling != null and nianling != '' ">
                nianling,
            </if>

            <if test="zhunjiachexing != null and zhunjiachexing != '' ">
                zhunjiachexing,
            </if>

            <if test="congyezigezheng != null and congyezigezheng != '' ">
                congyezigezheng,
            </if>

            <if test="congyeleibie != null and congyeleibie != '' ">
                congyeleibie,
            </if>

            <if test="congyezhengchulingri != null and congyezhengchulingri != '' ">
                congyezhengchulingri,
            </if>

            <if test="congyezhengyouxiaoqi != null and congyezhengyouxiaoqi != '' ">
                congyezhengyouxiaoqi,
            </if>

            <if test="chengxinkaoheshijian != null and chengxinkaoheshijian != '' ">
                chengxinkaoheshijian,
            </if>

            <if test="xiacichengxinkaoheshijian != null and xiacichengxinkaoheshijian != '' ">
                xiacichengxinkaoheshijian,
            </if>

            <if test="jiashizhengchulingriqi != null and jiashizhengchulingriqi != '' ">
                jiashizhengchulingriqi,
            </if>

            <if test="jiashizhengyouxiaoqi != null and jiashizhengyouxiaoqi != '' ">
                jiashizhengyouxiaoqi,
            </if>

            <if test="fazhengjiguan != null and fazhengjiguan != '' ">
                fazhengjiguan,
            </if>

            <if test="jiatingzhuzhi != null and jiatingzhuzhi != '' ">
                jiatingzhuzhi,
            </if>

            <if test="chushengshijian != null and chushengshijian != '' ">
                chushengshijian,
            </if>

            <if test="shoujihaoma != null and shoujihaoma != '' ">
                shoujihaoma,
            </if>

            <if test="denglumima != null and denglumima != '' ">
                denglumima,
            </if>

            <if test="jiashiyuanleixing != null and jiashiyuanleixing != '' ">
                jiashiyuanleixing,
            </if>

            <if test="congyerenyuanleixing != null and congyerenyuanleixing != '' ">
                congyerenyuanleixing,
            </if>

            <if test="isdelete != null and isdelete != '' ">
                isdelete,
            </if>

            <if test="createtime != null and createtime != '' ">
                createtime,
            </if>

            <if test="caozuoren != null and caozuoren != '' ">
                caozuoren,
            </if>

            <if test="caozuoshijian != null and caozuoshijian != '' ">
                caozuoshijian,
            </if>

            <if test="caozuorenid != null and caozuorenid != '' ">
                caozuorenid
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="id != null and id != '' ">
                #{id},
            </if>

            <if test="deptId != null and deptId != '' ">
                #{deptId},
            </if>

            <if test="shenfenzhengchulingriqi != null and shenfenzhengchulingriqi != '' ">
                #{shenfenzhengchulingriqi},
            </if>

            <if test="shenfenzhengyouxiaoqi != null and shenfenzhengyouxiaoqi != '' ">
                #{shenfenzhengyouxiaoqi},
            </if>

            <if test="jiashizhenghao != null and jiashizhenghao != '' ">
                #{jiashizhenghao},
            </if>

            <if test="tijianriqi != null and tijianriqi != '' ">
                #{tijianriqi},
            </if>

            <if test="jiashiyuanxingming != null and jiashiyuanxingming != '' ">
                #{jiashiyuanxingming},
            </if>

            <if test="xingbie != null and xingbie != '' ">
                #{xingbie},
            </if>

            <if test="shenfenzhenghao != null and shenfenzhenghao != '' ">
                #{shenfenzhenghao},
            </if>

            <if test="nianling != null and nianling != '' ">
                #{nianling},
            </if>

            <if test="zhunjiachexing != null and zhunjiachexing != '' ">
                #{zhunjiachexing},
            </if>

            <if test="congyezigezheng != null and congyezigezheng != '' ">
                #{congyezigezheng},
            </if>

            <if test="congyeleibie != null and congyeleibie != '' ">
                #{congyeleibie},
            </if>

            <if test="congyezhengchulingri != null and congyezhengchulingri != '' ">
                #{congyezhengchulingri},
            </if>

            <if test="congyezhengyouxiaoqi != null and congyezhengyouxiaoqi != '' ">
                #{congyezhengyouxiaoqi},
            </if>

            <if test="chengxinkaoheshijian != null and chengxinkaoheshijian != '' ">
                #{chengxinkaoheshijian},
            </if>

            <if test="xiacichengxinkaoheshijian != null and xiacichengxinkaoheshijian != '' ">
                #{xiacichengxinkaoheshijian},
            </if>

            <if test="jiashizhengchulingriqi != null and jiashizhengchulingriqi != '' ">
                #{jiashizhengchulingriqi},
            </if>

            <if test="jiashizhengyouxiaoqi != null and jiashizhengyouxiaoqi != '' ">
                #{jiashizhengyouxiaoqi},
            </if>

            <if test="fazhengjiguan != null and fazhengjiguan != '' ">
                #{fazhengjiguan},
            </if>

            <if test="jiatingzhuzhi != null and jiatingzhuzhi != '' ">
                #{jiatingzhuzhi},
            </if>

            <if test="chushengshijian != null and chushengshijian != '' ">
                #{chushengshijian},
            </if>

            <if test="shoujihaoma != null and shoujihaoma != '' ">
                #{shoujihaoma},
            </if>

            <if test="denglumima != null and denglumima != '' ">
                #{denglumima},
            </if>

            <if test="jiashiyuanleixing != null and jiashiyuanleixing != '' ">
                #{jiashiyuanleixing},
            </if>

            <if test="congyerenyuanleixing != null and congyerenyuanleixing != '' ">
                #{congyerenyuanleixing},
            </if>

            <if test="isdelete != null and isdelete != '' ">
                #{isdelete},
            </if>

            <if test="createtime != null and createtime != '' ">
                #{createtime},
            </if>

            <if test="caozuoren != null and caozuoren != '' ">
                #{caozuoren},
            </if>

            <if test="caozuoshijian != null and caozuoshijian != '' ">
                #{caozuoshijian},
            </if>

            <if test="caozuorenid != null and caozuorenid != '' ">
                #{caozuorenid}
            </if>

        </trim>
    </insert>

    <update id="updateSelective" parameterType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan" >
        update anbiao_jiashiyuan
        <set>

            <if test="deptId != null and deptId != '' ">
                dept_id = #{deptId},
            </if>

            <if test="jiashiyuanxingming != null and jiashiyuanxingming != '' ">
                jiashiyuanxingming = #{jiashiyuanxingming},
            </if>

            <if test="xingbie != null and xingbie != '' ">
                xingbie = #{xingbie},
            </if>

            <if test="shenfenzhenghao != null and shenfenzhenghao != '' ">
                shenfenzhenghao = #{shenfenzhenghao},
            </if>

            <if test="nianling != null and nianling != '' ">
                nianling = #{nianling},
            </if>

            <if test="zhunjiachexing != null and zhunjiachexing != '' ">
                zhunjiachexing = #{zhunjiachexing},
            </if>

            <if test="congyezigezheng != null and congyezigezheng != '' ">
                congyezigezheng = #{congyezigezheng},
            </if>

            <if test="congyeleibie != null and congyeleibie != '' ">
                congyeleibie = #{congyeleibie},
            </if>

            <if test="congyezhengchulingri != null and congyezhengchulingri != '' ">
                congyezhengchulingri = #{congyezhengchulingri},
            </if>

            <if test="congyezhengyouxiaoqi != null and congyezhengyouxiaoqi != '' ">
                congyezhengyouxiaoqi = #{congyezhengyouxiaoqi},
            </if>

            <if test="chengxinkaoheshijian != null and chengxinkaoheshijian != '' ">
                chengxinkaoheshijian = #{chengxinkaoheshijian},
            </if>

            <if test="xiacichengxinkaoheshijian != null and xiacichengxinkaoheshijian != '' ">
                xiacichengxinkaoheshijian = #{xiacichengxinkaoheshijian},
            </if>

            <if test="jiashizhengchulingriqi != null and jiashizhengchulingriqi != '' ">
                jiashizhengchulingriqi = #{jiashizhengchulingriqi},
            </if>

            <if test="jiashizhengyouxiaoqi != null and jiashizhengyouxiaoqi != '' ">
                jiashizhengyouxiaoqi = #{jiashizhengyouxiaoqi},
            </if>

            <if test="fazhengjiguan != null and fazhengjiguan != '' ">
                fazhengjiguan = #{fazhengjiguan},
            </if>

            <if test="jiatingzhuzhi != null and jiatingzhuzhi != '' ">
                jiatingzhuzhi = #{jiatingzhuzhi},
            </if>

            <if test="chushengshijian != null and chushengshijian != '' ">
                chushengshijian = #{chushengshijian},
            </if>

            <if test="shoujihaoma != null and shoujihaoma != '' ">
                shoujihaoma = #{shoujihaoma},
            </if>

            <if test="denglumima != null and denglumima != '' ">
                denglumima = #{denglumima},
            </if>

            <if test="jiashiyuanleixing != null and jiashiyuanleixing != '' ">
                jiashiyuanleixing = #{jiashiyuanleixing},
            </if>

            <if test="congyerenyuanleixing != null and congyerenyuanleixing != '' ">
                congyerenyuanleixing = #{congyerenyuanleixing},
            </if>

            <if test="isdelete != null and isdelete != '' ">
                isdelete = #{isdelete},
            </if>

            <if test="caozuoren != null and caozuoren != '' ">
                caozuoren = #{caozuoren},
            </if>

            <if test="caozuoshijian != null and caozuoshijian != '' ">
                caozuoshijian = #{caozuoshijian},
            </if>

            <if test="caozuorenid != null and caozuorenid != '' ">
                caozuorenid = #{caozuorenid}
            </if>

        </set>
        where dept_id = #{deptId}
            and jiashiyuanxingming = #{jiashiyuanxingming}
            and shenfenzhenghao = #{shenfenzhenghao}
            and jiashiyuanleixing = #{jiashiyuanleixing}
            and isdelete = 0
    </update>

    <select id="getjiaShiYuan" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        select
            *
        from
            anbiao_jiashiyuan
        where isdelete = 0
        <if test="deptId != null and deptId != '' ">
            AND dept_id= #{deptId}
        </if>
        <if test="jiashiyuanxingming != null and jiashiyuanxingming != '' ">
            AND jiashiyuanxingming = #{jiashiyuanxingming}
        </if>
        <if test="shoujihaoma != null and shoujihaoma != '' ">
            AND shoujihaoma = #{shoujihaoma}
        </if>
        <if test="jiashiyuanleixing != null and jiashiyuanleixing != '' ">
            AND jiashiyuanleixing = #{jiashiyuanleixing}
        </if>
        LIMIT 1
    </select>

    <select id="getjiaShiYuanByOne" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        select
            *
        from
            anbiao_jiashiyuan
        where isdelete = 0
        <if test="deptId != null and deptId != '' ">
            AND dept_id= #{deptId}
        </if>
        <if test="jiashiyuanxingming != null and jiashiyuanxingming != '' ">
            AND jiashiyuanxingming = #{jiashiyuanxingming}
        </if>
        <if test="shoujihaoma != null and shoujihaoma != '' ">
            AND shoujihaoma = #{shoujihaoma}
        </if>
        <if test="shenfenzhenghao != null and shenfenzhenghao != '' ">
            AND shenfenzhenghao = #{shenfenzhenghao}
        </if>
        <if test="jiashiyuanleixing != null and jiashiyuanleixing != '' ">
            AND jiashiyuanleixing = #{jiashiyuanleixing}
        </if>
        LIMIT 1
    </select>

    <select id="getDriver" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        select * from anbiao_jiashiyuan
        where isdelete = 0
          and shoujihaoma = #{account}
        <if test="password != null and password != '' ">
          and denglumima = #{password}
        </if>
           LIMIT 1
    </select>

    <select id="selectDriverByopenId" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        SELECT
            openid,jiashiyuanxingming,shoujihaoma
        FROM
            anbiao_jiashiyuan
        WHERE openid=#{param1}
          and isdelete = 0
    </select>

    <select id="bindDriverOpenId" parameterType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan" >
        update anbiao_jiashiyuan set openid=#{param2}
        where shoujihaoma = #{param1}
          and isdelete = 0
    </select>

    <select id="selectDriverInfo" resultType="org.springblade.anbiao.jiashiyuan.vo.DriverInfoVO">
        select
            a.id,a.dept_id as deptId,d.dept_name as deptName,a.jiashiyuanxingming,a.shenfenzhenghao,
            a.shoujihaoma,a.openid,b.ajr_head_portrait as zhaopian,d.cheliangpaizhao,e.cheliangpaizhao as guacheliangpaizhao,
            d.vehid,e.vehid as guacheid
        from
            anbiao_jiashiyuan a
            left join blade_dept d on d.id = a.dept_id and d.is_deleted = 0
            left join anbiao_jiashiyuan_ruzhi b on a.id = b.ajr_aj_ids and b.ajr_delete = 0
            left join (
                select a.jiashiyuanid,b.cheliangpaizhao,a.vehid from anbiao_cheliang_jiashiyuan_daily a,anbiao_vehicle b
                where a.jiashiyuanid = #{jsyId}
                  and a.vehid = b.id
                  and a.vstatus = 1
                  and b.is_deleted=0
<!--                  and b.shiyongxingzhi = '车头'-->
                ORDER BY a.createtime desc
                limit 1
            ) d on d.jiashiyuanid = a.id
            left join (
                select a.jiashiyuanid,b.cheliangpaizhao,a.vehid from anbiao_cheliang_jiashiyuan_daily a,anbiao_vehicle b
                where a.jiashiyuanid = #{jsyId}
                  and a.gvehid = b.id
                  and a.gstatus = 1
                  and b.is_deleted=0
<!--                  and b.shiyongxingzhi = '挂车'-->
                ORDER BY a.createtime desc
                    limit 1
            ) e on e.jiashiyuanid = a.id
        where a.isdelete = 0
          and a.id = #{jsyId}
    </select>

    <select id="getJiaShiYuanByDept" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        select
            distinct
            id,jiashiyuanxingming,shenfenzhenghao,shoujihaoma
        from
            anbiao_jiashiyuan
        where isdelete = 0
            and status = 0
        <if test="deptId != null ">
            AND dept_id = #{deptId}
        </if>
    </select>

    <select id="selectJiaShiYuanTrain" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuanTrain">
        select
        a.id,a.jiashiyuanxingming,a.shoujihaoma,a.dept_id as deptId,b.signatrue
        from
        anbiao_jiashiyuan a
        inner join anbiao_jiashiyuan_signatrue b on a.id = b.jiashiyuanid
        where a.isdelete = 0
        <if test="deptId != null and deptId != '' ">
            AND a.dept_id= #{deptId}
        </if>
    </select>

    <select id="selectMaxId" resultType="java.lang.Integer">
        SELECT
            max(CONVERT(dept_id,SIGNED)) AS id
        FROM anbiao_jiashiyuan
    </select>

    <sql id="tableTJMXSql">
        SELECT
        bb.dept_name deptName ,
        a.jiashiyuanxingming as a,
        ruzhi_compeleted as a1,
        sfz_compeleted as a2,
        jsz_compeleted as a3,
        cyzgz_compeleted as a4,
        tj_compeleted as a5,
        gqpx_compeleted as a6,
        wzzm_compeleted as a7,
        aqzrs_compeleted as a8,
        whgzs_compeleted as a9,
        ldht_compeleted as a10,
        case when IFNULL(h.xsz_compeleted,'') = '' then 0 else h.xsz_compeleted end as b1,
        case when IFNULL(h.ysz_compeleted,'') = '' then 0 else h.ysz_compeleted end as b2,
        case when IFNULL(h.xnbg_compeleted,'') = '' then 0 else h.xnbg_compeleted end as b3,
        case when IFNULL(h.djzs_compeleted,'') = '' then 0 else h.djzs_compeleted end as b4,
        case when IFNULL(j.xsz_compeleted,'') = '' then 0 else j.xsz_compeleted end as b5,
        case when IFNULL(j.ysz_compeleted,'') = '' then 0 else j.ysz_compeleted end as b6,
        case when IFNULL(j.xnbg_compeleted,'') = '' then 0 else j.xnbg_compeleted end as b7,
        case when IFNULL(j.djzs_compeleted,'') = '' then 0 else j.djzs_compeleted end as b8,
        case when IFNULL(jsybx.ajb_insured_ids,'') = '' then 1 else 0 end as c1,
        case when IFNULL(k.avb_av_ids,'') = '' then 1 else 0 end as c2,
        case when IFNULL(i.avb_av_ids,'') = '' then 1 else 0 end as c3
        FROM
        anbiao_jiashiyuan a
         inner join  (
         <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) bb on a.dept_id = bb.id
        LEFT JOIN anbiao_jiashiyuan_ruzhi o ON a.id = o.ajr_aj_ids AND o.ajr_delete = 0
        LEFT JOIN anbiao_jiashiyuan_jiashizheng b ON a.id = b.ajj_aj_ids AND b.ajj_delete = 0
        LEFT JOIN anbiao_jiashiyuan_congyezigezheng c ON a.id = c.ajc_aj_ids AND c.ajc_delete = 0
        LEFT JOIN anbiao_jiashiyuan_tijian d ON a.id = d.ajt_aj_ids AND d.ajt_delete = 0
        LEFT JOIN anbiao_jiashiyuan_gangqianpeixun e ON a.id = e.ajg_aj_ids AND e.ajg_delete = 0
        LEFT JOIN anbiao_jiashiyuan_wuzezhengming f ON a.id = f.ajw_aj_ids AND f.ajw_delete = 0
        LEFT JOIN anbiao_jiashiyuan_anquanzerenshu g ON a.id = g.aja_aj_ids AND g.aja_delete = 0
        LEFT JOIN anbiao_jiashiyuan_weihaigaozhishu h ON a.id = h.ajw_aj_ids AND h.ajw_delete = 0
        LEFT JOIN anbiao_jiashiyuan_laodonghetong i ON a.id = i.ajw_aj_ids AND i.ajw_delete = 0
        LEFT JOIN (
        SELECT xsz_compeleted,ysz_compeleted,xnbg_compeleted,jiashiyuanid,djzs_compeleted FROM anbiao_vehicle j
        LEFT JOIN anbiao_vehicle_xingshizheng k on j.id = k.avx_av_ids
        LEFT JOIN anbiao_vehicle_daoluyunshuzheng l on j.id = l.avd_av_ids
        LEFT JOIN anbiao_vehicle_xingnengbaogao m on j.id = m.avx_av_ids
        LEFT JOIN anbiao_vehicle_dengjizhengshu n on j.id = n.avd_vehicle_ids
        WHERE j.cheliangpaizhao like '%挂'
        and j.is_deleted = 0
        and k.avx_delete = 0
        and l.avd_delete = 0
        and m.avx_delete = 0
        and n.avd_delete = 0
        ) j on a.id = j.jiashiyuanid
        LEFT JOIN (
        SELECT xsz_compeleted,ysz_compeleted,xnbg_compeleted,jiashiyuanid,djzs_compeleted FROM anbiao_vehicle j
        LEFT JOIN anbiao_vehicle_xingshizheng k on j.id = k.avx_av_ids
        LEFT JOIN anbiao_vehicle_daoluyunshuzheng l on j.id = l.avd_av_ids
        LEFT JOIN anbiao_vehicle_xingnengbaogao m on j.id = m.avx_av_ids
        LEFT JOIN anbiao_vehicle_dengjizhengshu n on j.id = n.avd_vehicle_ids
        WHERE j.cheliangpaizhao not like '%挂'
        and j.is_deleted = 0
        and k.avx_delete = 0
        and l.avd_delete = 0
        and m.avx_delete = 0
        and n.avd_delete = 0
        ) h on a.id = h.jiashiyuanid
        LEFT JOIN ( SELECT ajb_insured_ids, ajb_delete,ajb_insure_deptid FROM anbiao_jiashiyuan_baoxian where ajb_delete = 0 ) jsybx ON jsybx.ajb_insured_ids = a.id
        LEFT JOIN (SELECT avb_av_ids,jiashiyuanid FROM anbiao_vehicle j
        LEFT JOIN anbiao_vehicle_baoxian o on j.id = o.avb_av_ids
        WHERE j.cheliangpaizhao like '%挂'
        and o.avb_delete = 0
        )i on a.id=i.jiashiyuanid
        LEFT JOIN (SELECT avb_av_ids,jiashiyuanid FROM anbiao_vehicle j
        LEFT JOIN anbiao_vehicle_baoxian o on j.id = o.avb_av_ids
        WHERE j.cheliangpaizhao not like '%挂'
        and o.avb_delete = 0
        )k on a.id=k.jiashiyuanid
        WHERE ifnull( a.isdelete, 0 ) = 0
        GROUP BY a.id
    </sql>
    <sql id="queryTJMXSql">

        <if test="deptName != null and deptName != '' ">
            and deptName like concat('%', #{deptName} ,'%')
        </if>

    </sql>
    <sql id="orderTJMXSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by a desc
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select timeout="600" id="selectAlarmTJMXPage" resultMap="jiaShiYuanTJMXResultMap"
            parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanPage">
        <if test="size == 0">
            select * from (
            <include refid="tableTJMXSql"/>
            )b
            where 1=1
            <include refid="queryTJMXSql"/>
            <include refid="orderTJMXSql"/>
            limit ${total}
        </if>
        <if test="current != 0">
            select * from (
            <include refid="tableTJMXSql"/>
            )b
            where 1=1
            <include refid="queryTJMXSql"/>
            <include refid="orderTJMXSql"/>
            limit ${offsetNo},${size}
        </if>
    </select>

    <select timeout="90" id="selectAlarmTJMXTotal"
            parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableTJMXSql"/>
        )d where 1 = 1
        <include refid="queryTJMXSql"/>
    </select>

    <!--根据企业ID获取驾驶员信息-->
    <select id="getByDriverImg" resultType="org.springblade.anbiao.jiashiyuan.entity.DriverImg" parameterType="java.lang.String">
        select
            a.id,
            a.shenfenzhengfujian as sfzzmimg,
            a.shenfenzhengfanmianfujian as sfzfmimg,
            b.ajr_ids as ruzhiid,
            b.ajr_head_portrait as ruzhiimg,
            c.ajj_ids as jszid,
            c.ajj_front_photo_address as jszzmimg,
            c.ajj_attached_photos as jszfmimg,
            d.ajc_ids as cyzid,
            d.ajc_licence as cyzimg,
            e.ajt_ids as tjid,
            e.ajt_enclosure as tjimg,
            f.ajg_ids as gqid,
            f.ajg_training_enclosure as gqimg,
            g.ajw_ids as wzzmid,
            g.ajw_enclosure as wzzmimg,
            h.ajt_ids as qtid,
            h.ajt_enclosure as qtimg
        from
            anbiao_jiashiyuan a
                left join anbiao_jiashiyuan_ruzhi b on a.id = b.ajr_aj_ids and b.ajr_delete = 0
                left join anbiao_jiashiyuan_jiashizheng c on a.id = c.ajj_aj_ids and c.ajj_delete = 0
                left join anbiao_jiashiyuan_congyezigezheng d on a.id = d.ajc_aj_ids and d.ajc_delete = 0
                left join anbiao_jiashiyuan_tijian e on a.id = e.ajt_aj_ids and e.ajt_delete = 0
                left join anbiao_jiashiyuan_gangqianpeixun f on a.id = f.ajg_aj_ids and f.ajg_delete = 0
                left join anbiao_jiashiyuan_wuzezhengming g on a.id = g.ajw_aj_ids and g.ajw_delete = 0
                left join anbiao_jiashiyuan_qita h on a.id = h.ajt_aj_ids and h.ajt_delete = 0
        where a.isdelete = 0
          and a.id = #{jsyId}
    </select>

    <select id="getDriverTJMingXi" resultType="org.springblade.anbiao.jiashiyuan.vo.DriverTJMingXiVO" parameterType="org.springblade.anbiao.jiashiyuan.vo.DriverTJMingXiVO">

        SELECT
        a.dept_id AS deptId,
        h.dept_name AS deptName,
        a.id AS jiashiyuanId,
        a.jiashiyuanxingming,
        b.ajr_head_portrait AS ajrHeadPortrait,
        IFNULL( a.xingbie, '1' ) AS xingbie,
        IFNULL( b.ajr_nation, '' ) AS nation,
        IFNULL( b.ajr_native_place, '' ) AS nativePlace,
        IFNULL( b.ajr_birth, '' ) AS birth,
        IFNULL( b.ajr_age, '0' ) AS age,
        IFNULL( b.ajr_political_outlook, '' ) AS politicalOutlook,
        IFNULL( b.ajr_education, '' ) AS ajrEducation,
        IFNULL( b.ajr_graduation_school, '' ) AS ajrGraduationSchool,
        IFNULL( b.ajr_graduation_date, '' ) AS ajrGraduationDate,
        IFNULL( b.ajr_id_number, '' ) AS ajrIdNumber,
        IFNULL( b.ajr_address, '' ) AS ajrAddress,
        IFNULL( b.ajr_receive_driving_license, '' ) AS ajrReceiveDrivingLicense,
        IFNULL( b.ajr_class, '' ) AS ajrClass,
        IFNULL( b.ajr_driving_experience, '' ) AS ajrDrivingExperience,
        IFNULL( b.ajr_health_status, '' ) AS ajrHealthStatus,
        IFNULL( b.ajr_work_experience, '' ) AS ajrWorkExperience,
        IFNULL( b.ajr_safe_driving_record1, '' ) AS ajrSafeDrivingRecord1,
        IFNULL( b.ajr_safe_driving_record2, '' ) AS ajrSafeDrivingRecord2,
        IFNULL( b.ajr_safe_driving_record3, '' ) AS ajrSafeDrivingRecord3,
        IFNULL( b.ajr_physical_examination_results, '' ) AS ajrPhysicalExaminationResults,
        IFNULL( b.ajr_integrity_assessment_results, '' ) AS ajrIntegrityAssessmentResults,
        IFNULL( a.shenfenzhengfujian, '' ) AS shenfenzhengfujian,
        IFNULL( a.shenfenzhengfanmianfujian, '' ) AS shenfenzhengfanmianfujian,
        IFNULL( c.ajj_front_photo_address, '' ) AS ajjFrontPhotoAddress,
        IFNULL( c.ajj_attached_photos, '' ) AS ajjAttachedPhotos,
        IFNULL( d.ajc_licence, '' ) AS ajcLicence,
        IFNULL( e.ajt_enclosure, '' ) AS ajtEnclosure,
        IFNULL( f.ajg_training_enclosure, '' ) AS ajgTrainingEnclosure,
        IFNULL( g.ajw_enclosure, '' ) AS ajwEnclosure,
        IFNULL( i.aja_autograph_enclosure, '' ) AS ajaAutographEnclosure,
        IFNULL( i.aja_autograph_time, '' ) AS ajaAutographTime,
        IFNULL( j.ajw_autograph_enclosure, '' ) AS ajwAutographEnclosure,
        IFNULL( j.ajw_autograph_time, '' ) AS ajwAutographTime,
        IFNULL( a.shenfenzhenghao, '' ) AS shenfenzhenghao,
        IFNULL( a.jiatingzhuzhi, '' ) AS jiatingzhuzhi,
        IFNULL( a.shoujihaoma, '' ) AS shoujihaoma,
        IFNULL( m.ajw_start_date, '' ) AS ajwStartDate,
        IFNULL( m.ajw_end_date, '' ) AS ajwEndDate,
        IFNULL( m.ajw_autograph_time, '' ) AS ajwAutographTime2,
        IFNULL( m.ajw_autograph_enclosure, '' ) AS ajwAutographEnclosure2,

        IFNULL( l.cheliangpaizhao, '' ) AS cheliangpaizhao,
        IFNULL( l.avx_original_enclosure, '' ) AS avxOriginalEnclosure,
        IFNULL( l.avx_copy_enclosure, '' ) AS avxCopyEnclosure,
        IFNULL( l.avd_enclosure, '' ) AS avdEnclosure,
        IFNULL( l.avx_enclosure, '' ) AS avxEnclosure,
        IFNULL( l.avd_enclosure2, '' ) AS avdEnclosure2,
        IFNULL( k.cheliangpaizhao, '' ) AS cheliangpaizhaoGUA,
        IFNULL( k.avx_original_enclosure, '' ) AS avxOriginalEnclosureGUA,
        IFNULL( k.avx_copy_enclosure, '' ) AS avxCopyEnclosureGUA,
        IFNULL( k.avd_enclosure, '' ) AS avdEnclosureGUA,
        IFNULL( k.avx_enclosure, '' ) AS avxEnclosureGUA,
        IFNULL( k.avd_enclosure2, '' ) AS avdEnclosure2GUA
        FROM
        `anbiao_jiashiyuan` a
        LEFT JOIN anbiao_jiashiyuan_ruzhi b ON b.ajr_aj_ids = a.id
        LEFT JOIN anbiao_jiashiyuan_jiashizheng c ON c.ajj_aj_ids = a.id
        LEFT JOIN anbiao_jiashiyuan_congyezigezheng d ON d.ajc_aj_ids = a.id
        LEFT JOIN anbiao_jiashiyuan_tijian e ON e.ajt_aj_ids = a.id
        LEFT JOIN anbiao_jiashiyuan_gangqianpeixun f ON f.ajg_aj_ids = a.id
        LEFT JOIN anbiao_jiashiyuan_wuzezhengming g ON g.ajw_aj_ids = a.id
        INNER JOIN (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) h ON h.id = a.dept_id
        LEFT JOIN anbiao_jiashiyuan_anquanzerenshu i ON i.aja_aj_ids = a.id
        LEFT JOIN anbiao_jiashiyuan_weihaigaozhishu j ON j.ajw_aj_ids = a.id
        LEFT JOIN (
        SELECT
        cheliangpaizhao,
        avx_original_enclosure,
        avx_copy_enclosure,
        l.avd_enclosure,
        avx_enclosure,
        n.avd_enclosure AS avd_enclosure2,
        jiashiyuanid
        FROM
        anbiao_vehicle j
        LEFT JOIN anbiao_vehicle_xingshizheng k ON j.id = k.avx_av_ids
        LEFT JOIN anbiao_vehicle_daoluyunshuzheng l ON j.id = l.avd_av_ids
        LEFT JOIN anbiao_vehicle_xingnengbaogao m ON j.id = m.avx_av_ids
        LEFT JOIN anbiao_vehicle_dengjizhengshu n ON j.id = n.avd_vehicle_ids
        WHERE
        j.cheliangpaizhao LIKE '%挂'
        AND j.is_deleted = 0
        AND k.avx_delete = 0
        AND l.avd_delete = 0
        AND m.avx_delete = 0
        AND n.avd_delete = 0
        ) k ON a.id = k.jiashiyuanid
        LEFT JOIN (
        SELECT
        cheliangpaizhao,
        avx_original_enclosure,
        avx_copy_enclosure,
        l.avd_enclosure,
        avx_enclosure,
        n.avd_enclosure AS avd_enclosure2,
        jiashiyuanid
        FROM
        anbiao_vehicle j
        LEFT JOIN anbiao_vehicle_xingshizheng k ON j.id = k.avx_av_ids
        LEFT JOIN anbiao_vehicle_daoluyunshuzheng l ON j.id = l.avd_av_ids
        LEFT JOIN anbiao_vehicle_xingnengbaogao m ON j.id = m.avx_av_ids
        LEFT JOIN anbiao_vehicle_dengjizhengshu n ON j.id = n.avd_vehicle_ids
        WHERE
        j.cheliangpaizhao NOT LIKE '%挂'
        AND j.is_deleted = 0
        AND k.avx_delete = 0
        AND l.avd_delete = 0
        AND m.avx_delete = 0
        AND n.avd_delete = 0
        ) l ON a.id = l.jiashiyuanid
        LEFT JOIN anbiao_jiashiyuan_laodonghetong m on m.ajw_aj_ids=a.id
        WHERE
        a.isdelete = 0
        AND b.ajr_delete = 0
        AND c.ajj_delete = 0
        AND d.ajc_delete = 0
        AND e.ajt_delete = 0
        AND f.ajg_delete = 0
        AND g.ajw_delete = 0
        AND i.aja_delete = 0
        AND j.ajw_delete = 0
        and m.ajw_delete = 0
        <if test="deptName != null and deptName != '' ">
            and h.deptName like concat('%', #{deptName} ,'%')
        </if>
--         AND a.id = '043f3cc2fdda266a07fa533ecba50e8e'
        GROUP BY
        a.id

    </select>

</mapper>
