<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.jiashiyuan.mapper.JiaShiYuanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="jiaShiYuanResultMap" type="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">

    </resultMap>

    <resultMap id="jiaShiYuanVOResultMap" type="org.springblade.anbiao.jiashiyuan.vo.JiaShiYuanVO">
    </resultMap>



    <insert id="insertJSY" parameterType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
insert into  anbiao_jiashiyuan
(id,jiashiyuanxingming,xingbie,shenfenzhenghao,chushengshijian,nianling,shoujihaoma,congyerenyuanleixing,shenfenzhengyouxiaoqi,
wenhuachengdu,pingyongriqi,jidongjiashiyuan,jiashiyuanleixing,dept_id,shenfenzhengfujian,congyezhengfujian,jiashizhengfujian,
jiatingzhuzhi,danganbianhao,jiashizhenghao,zhunjiachexing,jialing,weifajifen,jiashizhengchulingriqi,jiashizhengyouxiaoqi,tijianyouxiaoqi,
congyezigezheng,congyeleibie,congyezhengyouxiaoqi,congyezhengchulingri,zhengjianhefajiguan,fazhengjiguan,chengxinkaoheshijian,
xiacichengxinkaoheshijian,jixujiaoyushijian,xiacijixujiaoyushijian,congyezigeleibie,zhengjianzhuangtai,huzhaohaoma,huzhaoleibie,guojiama,
huzhaoyouxiaoqi,zhunjiazhenghao,zhunjialeixing,zhunyunxian,zhunjiazhengyouxiaoqi,jiaonabiaozhun,jiaonajine,shifoujiaona,chaosuweifajilu,
jiaotongweifajilu,zhirensiwangzeren,weiguileixing,jiachejingli,beizhu,fuyinjian,caozuorenid,caozuoshijian,caozuoren,bumen,lizhishijian,
denglumima,isdelete,zhaopian,tijianriqi
)
values
(#{id},#{jiashiyuanxingming},#{xingbie},#{shenfenzhenghao},#{chushengshijian},#{nianling},#{shoujihaoma},#{congyerenyuanleixing},#{shenfenzhengyouxiaoqi},
#{wenhuachengdu},#{pingyongriqi},#{jidongjiashiyuan},#{jiashiyuanleixing},#{deptId},#{shenfenzhengfujian},#{congyezhengfujian},#{jiashizhengfujian},
#{jiatingzhuzhi},#{danganbianhao},#{jiashizhenghao},#{zhunjiachexing},#{jialing},#{weifajifen},#{jiashizhengchulingriqi},#{jiashizhengyouxiaoqi},#{tijianyouxiaoqi},
#{congyezigezheng},#{congyeleibie},#{congyezhengyouxiaoqi},#{congyezhengchulingri},#{zhengjianhefajiguan},#{fazhengjiguan},#{chengxinkaoheshijian},
#{xiacichengxinkaoheshijian},#{jixujiaoyushijian},#{xiacijixujiaoyushijian},#{congyezigeleibie},#{zhengjianzhuangtai},#{huzhaohaoma},#{huzhaoleibie},#{guojiama},
#{huzhaoyouxiaoqi},#{zhunjiazhenghao},#{zhunjialeixing},#{zhunyunxian},#{zhunjiazhengyouxiaoqi},#{jiaonabiaozhun},#{jiaonajine},#{shifoujiaona},#{chaosuweifajilu},
#{jiaotongweifajilu},#{zhirensiwangzeren},#{weiguileixing},#{jiachejingli},#{beizhu},#{fuyinjian},#{caozuorenid},#{caozuoshijian},#{caozuoren},#{bumen},#{lizhishijian},
#{denglumima},#{isdelete},#{zhaopian},#{tijianriqi}
)
    </insert>

    <update id="updateDel" parameterType="java.lang.String">
        UPDATE anbiao_jiashiyuan SET isdelete = 1 where id = #{id}
    </update>

    <sql id="tableSql">
        SELECT
            a.id,jiashiyuanxingming,
            xingbie,
            shenfenzhenghao,chushengshijian,nianling,shoujihaoma,congyerenyuanleixing,shenfenzhengyouxiaoqi,
            wenhuachengdu,pingyongriqi,jidongjiashiyuan,jiashiyuanleixing,a.dept_id,shenfenzhengfujian,congyezhengfujian,jiashizhengfujian,
            jiatingzhuzhi,danganbianhao,jiashizhenghao,zhunjiachexing,jialing,weifajifen,jiashizhengchulingriqi,jiashizhengyouxiaoqi,tijianyouxiaoqi,
            congyezigezheng,congyeleibie,congyezhengyouxiaoqi,congyezhengchulingri,zhengjianhefajiguan,fazhengjiguan,chengxinkaoheshijian,
            xiacichengxinkaoheshijian,jixujiaoyushijian,xiacijixujiaoyushijian,congyezigeleibie,zhengjianzhuangtai,huzhaohaoma,huzhaoleibie,guojiama,
            huzhaoyouxiaoqi,zhunjiazhenghao,zhunjialeixing,zhunyunxian,zhunjiazhengyouxiaoqi,jiaonabiaozhun,jiaonajine,shifoujiaona,chaosuweifajilu,
            jiaotongweifajilu,zhirensiwangzeren,weiguileixing,jiachejingli,beizhu,fuyinjian,bumen,lizhishijian,
            denglumima,zhaopian,tijianriqi,ifnull(c.area,'') as area,
            b.dept_name deptName
        FROM
            anbiao_jiashiyuan a
        inner join anbiao_organization c on a.dept_id = c.dept_id and c.isdelete = 0
        inner join  (
            <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.dept_id = b.id
        WHERE 1=1
            and ifnull(a.isdelete,0) = 0
<!--            and a.status = 0-->
    </sql>

    <sql id="querySql">
        <if test="jiashiyuanxingming !=null and jiashiyuanxingming != ''">
            AND jiashiyuanxingming  LIKE '%${jiashiyuanxingming}%'
        </if>

        <if test="deptName !=null and deptName != ''">
            AND deptName LIKE '%${deptName}%'
        </if>

        <if test="shenfenzhenghao !=null and shenfenzhenghao != ''">
            AND shenfenzhenghao = #{shenfenzhenghao}
        </if>

        <if test="shoujihaoma !=null and shoujihaoma != ''">
            AND shoujihaoma = #{shoujihaoma}
        </if>

    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        order by jiashiyuanxingming
    </sql>

    <select id="selectPageList" parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanPage" resultType="org.springblade.anbiao.jiashiyuan.vo.JiaShiYuanVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <select id="selectByIds" parameterType="java.lang.String" resultType="org.springblade.anbiao.jiashiyuan.vo.JiaShiYuanVO">
        SELECT
        a.*,b.dept_name deptName
        FROM
        anbiao_jiashiyuan a
        inner join  blade_dept b
        on a.dept_id = b.id
        WHERE 1=1 and ifnull(a.isdelete ,0) = 0 and a.id=#{id}
    </select>

    <select id = "selectByCardNo" parameterType="java.lang.String" resultType="org.springblade.anbiao.jiashiyuan.vo.JiaShiYuanVO">
        select
        a.*,b.dept_name as deptName
        from
        anbiao_jiashiyuan a
        inner join blade_dept b on a.dept_id = b.id
        WHERE 1=1
            and ifnull(a.isdelete ,0) = 0
            and a.dept_id = #{deptId}
        <if test="cardNo !=null and cardNo != ''">
            and a.shenfenzhenghao=#{cardNo}
            and a.jiashiyuanleixing = #{jiashiyuanleixing}
        </if>
        <if test="driverNo !=null and driverNo != ''">
            and a.jiashizhenghao=#{driverNo}
            and a.jiashiyuanleixing = #{jiashiyuanleixing}
        </if>
    </select>


    <select id = "selectByCar" parameterType="java.lang.String" resultType="org.springblade.anbiao.cheliangguanli.entity.Vehicle">
        select
            b.id,b.dept_id,b.cheliangpaizhao,b.chepaiyanse,b.shiyongxingzhi
        from
            anbiao_cheliang_jiashiyuan a,
            (
                select
                    id,dept_id,cheliangpaizhao,chepaiyanse,shiyongxingzhi
                from
                    anbiao_vehicle
                where is_deleted = 0
            ) b
        where 1=1
            and a.vehid = b.id
            and a.jiashiyuanid = #{jiashiyuanid}
    </select>

    <update id="updatePassWord" parameterType="java.lang.String">
        UPDATE anbiao_jiashiyuan SET denglumima = #{password} where id = #{id}
    </update>

    <sql id="tableJVSql">
        select
        a.dept_name as deptName,a.jiashiyuanxingming,shoujihaoma,b.cheliangpaizhao,b.chepaiyanse,b.shiyongxingzhi,b.createtime as caozuoshijian,
        case when IFNULL(c.shu,0) &gt; 0 then '已绑车' else '未绑车' end as biaoshi
        from (
        select
        a.id,
        jiashiyuanxingming,
        xingbie,
        zhaopian,
        shenfenzhenghao,
        shoujihaoma,
        dept_id,
        shenfenzhengfujian,
        congyezhengfujian,
        jiashizhengfujian,
        createtime,
        dept_name
        from
        anbiao_jiashiyuan a
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.dept_id = b.id
        where 1=1
        and isdelete = 0
        )a
        left join(
        select
        b.id as vehicleid,b.cheliangpaizhao,b.chepaiyanse,b.shiyongxingzhi,jiashiyuanid,a.createtime
        from
        anbiao_cheliang_jiashiyuan a,
        (
        select id,dept_id,cheliangpaizhao,chepaiyanse,shiyongxingzhi
        from
        anbiao_vehicle
        where is_deleted = 0
        ) b
        where 1=1
        and a.vehid = b.id
        )b on a.id = b.jiashiyuanid
        right join(
            select jiashiyuanxingming,COUNT(jiashiyuanid) as shu from anbiao_cheliang_jiashiyuan a right join anbiao_jiashiyuan b on a.jiashiyuanid = b.id
            GROUP BY jiashiyuanxingming
            <if test=" biaoshi == ''">
                HAVING COUNT(jiashiyuanid) &gt;= 0
            </if>
            <if test=" biaoshi == '已绑车'">
                HAVING COUNT(jiashiyuanid) &gt; 0
        </if>
        <if test=" biaoshi == '未绑车'">
            HAVING COUNT(jiashiyuanid) = 0
        </if>
        )c on c.jiashiyuanxingming = a.jiashiyuanxingming
        where 1=1
            and ifnull(a.dept_name,'') != ''
            and (ifnull(a.jiashiyuanxingming,'') != '' and a.jiashiyuanxingming not like 'null')
            and ifnull(a.shoujihaoma,'') != ''
            and ifnull(cheliangpaizhao,'') != ''
    </sql>

    <sql id="queryJVSql">
        <if test="jiashiyuanxingming !=null and jiashiyuanxingming != ''">
            AND jiashiyuanxingming  LIKE '%${jiashiyuanxingming}%'
        </if>

        <if test="deptName !=null and deptName != ''">
            AND deptName LIKE '%${deptName}%'
        </if>
    </sql>
    <sql id="orderJVSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by caozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectJVList" parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanPage" resultType="org.springblade.anbiao.jiashiyuan.vo.JiaShiYuanVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableJVSql" />
            )b
            where 1=1
            <include refid="queryJVSql" />
            <include refid="orderJVSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableJVSql" />
            )b
            where 1=1
            <include refid="queryJVSql" />
            <include refid="orderJVSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectJVTotal" parameterType="org.springblade.anbiao.jiashiyuan.page.JiaShiYuanPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableJVSql" />
        )d
        where 1 = 1
        <include refid="queryJVSql" />
    </select>

    <select id="jiaShiYuanList" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        select
            DISTINCT
            id,
            jiashiyuanxingming,
            xingbie,
            jiashiyuanleixing,
            shenfenzhenghao,
            shoujihaoma
        from
            anbiao_jiashiyuan
        where isdelete = 0
            AND dept_id= #{deptId}
    </select>

    <insert id="insertSelective" parameterType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan" >
        insert into anbiao_jiashiyuan
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="id != null and id != '' ">
                id,
            </if>

            <if test="deptId != null and deptId != '' ">
                dept_id,
            </if>

            <if test="shenfenzhengchulingriqi != null and shenfenzhengchulingriqi != '' ">
                shenfenzhengchulingriqi,
            </if>

            <if test="shenfenzhengyouxiaoqi != null and shenfenzhengyouxiaoqi != '' ">
                shenfenzhengyouxiaoqi,
            </if>

            <if test="jiashizhenghao != null and jiashizhenghao != '' ">
                jiashizhenghao,
            </if>

            <if test="tijianriqi != null and tijianriqi != '' ">
                tijianriqi,
            </if>

            <if test="jiashiyuanxingming != null and jiashiyuanxingming != '' ">
                jiashiyuanxingming,
            </if>

            <if test="xingbie != null and xingbie != '' ">
                xingbie,
            </if>

            <if test="shenfenzhenghao != null and shenfenzhenghao != '' ">
                shenfenzhenghao,
            </if>

            <if test="nianling != null and nianling != '' ">
                nianling,
            </if>

            <if test="zhunjiachexing != null and zhunjiachexing != '' ">
                zhunjiachexing,
            </if>

            <if test="congyezigezheng != null and congyezigezheng != '' ">
                congyezigezheng,
            </if>

            <if test="congyeleibie != null and congyeleibie != '' ">
                congyeleibie,
            </if>

            <if test="congyezhengchulingri != null and congyezhengchulingri != '' ">
                congyezhengchulingri,
            </if>

            <if test="congyezhengyouxiaoqi != null and congyezhengyouxiaoqi != '' ">
                congyezhengyouxiaoqi,
            </if>

            <if test="chengxinkaoheshijian != null and chengxinkaoheshijian != '' ">
                chengxinkaoheshijian,
            </if>

            <if test="xiacichengxinkaoheshijian != null and xiacichengxinkaoheshijian != '' ">
                xiacichengxinkaoheshijian,
            </if>

            <if test="jiashizhengchulingriqi != null and jiashizhengchulingriqi != '' ">
                jiashizhengchulingriqi,
            </if>

            <if test="jiashizhengyouxiaoqi != null and jiashizhengyouxiaoqi != '' ">
                jiashizhengyouxiaoqi,
            </if>

            <if test="fazhengjiguan != null and fazhengjiguan != '' ">
                fazhengjiguan,
            </if>

            <if test="jiatingzhuzhi != null and jiatingzhuzhi != '' ">
                jiatingzhuzhi,
            </if>

            <if test="chushengshijian != null and chushengshijian != '' ">
                chushengshijian,
            </if>

            <if test="shoujihaoma != null and shoujihaoma != '' ">
                shoujihaoma,
            </if>

            <if test="denglumima != null and denglumima != '' ">
                denglumima,
            </if>

            <if test="jiashiyuanleixing != null and jiashiyuanleixing != '' ">
                jiashiyuanleixing,
            </if>

            <if test="congyerenyuanleixing != null and congyerenyuanleixing != '' ">
                congyerenyuanleixing,
            </if>

            <if test="isdelete != null and isdelete != '' ">
                isdelete,
            </if>

            <if test="createtime != null and createtime != '' ">
                createtime,
            </if>

            <if test="caozuoren != null and caozuoren != '' ">
                caozuoren,
            </if>

            <if test="caozuoshijian != null and caozuoshijian != '' ">
                caozuoshijian,
            </if>

            <if test="caozuorenid != null and caozuorenid != '' ">
                caozuorenid
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="id != null and id != '' ">
                #{id},
            </if>

            <if test="deptId != null and deptId != '' ">
                #{deptId},
            </if>

            <if test="shenfenzhengchulingriqi != null and shenfenzhengchulingriqi != '' ">
                #{shenfenzhengchulingriqi},
            </if>

            <if test="shenfenzhengyouxiaoqi != null and shenfenzhengyouxiaoqi != '' ">
                #{shenfenzhengyouxiaoqi},
            </if>

            <if test="jiashizhenghao != null and jiashizhenghao != '' ">
                #{jiashizhenghao},
            </if>

            <if test="tijianriqi != null and tijianriqi != '' ">
                #{tijianriqi},
            </if>

            <if test="jiashiyuanxingming != null and jiashiyuanxingming != '' ">
                #{jiashiyuanxingming},
            </if>

            <if test="xingbie != null and xingbie != '' ">
                #{xingbie},
            </if>

            <if test="shenfenzhenghao != null and shenfenzhenghao != '' ">
                #{shenfenzhenghao},
            </if>

            <if test="nianling != null and nianling != '' ">
                #{nianling},
            </if>

            <if test="zhunjiachexing != null and zhunjiachexing != '' ">
                #{zhunjiachexing},
            </if>

            <if test="congyezigezheng != null and congyezigezheng != '' ">
                #{congyezigezheng},
            </if>

            <if test="congyeleibie != null and congyeleibie != '' ">
                #{congyeleibie},
            </if>

            <if test="congyezhengchulingri != null and congyezhengchulingri != '' ">
                #{congyezhengchulingri},
            </if>

            <if test="congyezhengyouxiaoqi != null and congyezhengyouxiaoqi != '' ">
                #{congyezhengyouxiaoqi},
            </if>

            <if test="chengxinkaoheshijian != null and chengxinkaoheshijian != '' ">
                #{chengxinkaoheshijian},
            </if>

            <if test="xiacichengxinkaoheshijian != null and xiacichengxinkaoheshijian != '' ">
                #{xiacichengxinkaoheshijian},
            </if>

            <if test="jiashizhengchulingriqi != null and jiashizhengchulingriqi != '' ">
                #{jiashizhengchulingriqi},
            </if>

            <if test="jiashizhengyouxiaoqi != null and jiashizhengyouxiaoqi != '' ">
                #{jiashizhengyouxiaoqi},
            </if>

            <if test="fazhengjiguan != null and fazhengjiguan != '' ">
                #{fazhengjiguan},
            </if>

            <if test="jiatingzhuzhi != null and jiatingzhuzhi != '' ">
                #{jiatingzhuzhi},
            </if>

            <if test="chushengshijian != null and chushengshijian != '' ">
                #{chushengshijian},
            </if>

            <if test="shoujihaoma != null and shoujihaoma != '' ">
                #{shoujihaoma},
            </if>

            <if test="denglumima != null and denglumima != '' ">
                #{denglumima},
            </if>

            <if test="jiashiyuanleixing != null and jiashiyuanleixing != '' ">
                #{jiashiyuanleixing},
            </if>

            <if test="congyerenyuanleixing != null and congyerenyuanleixing != '' ">
                #{congyerenyuanleixing},
            </if>

            <if test="isdelete != null and isdelete != '' ">
                #{isdelete},
            </if>

            <if test="createtime != null and createtime != '' ">
                #{createtime},
            </if>

            <if test="caozuoren != null and caozuoren != '' ">
                #{caozuoren},
            </if>

            <if test="caozuoshijian != null and caozuoshijian != '' ">
                #{caozuoshijian},
            </if>

            <if test="caozuorenid != null and caozuorenid != '' ">
                #{caozuorenid}
            </if>

        </trim>
    </insert>

    <update id="updateSelective" parameterType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan" >
        update anbiao_jiashiyuan
        <set>

            <if test="deptId != null and deptId != '' ">
                dept_id = #{deptId},
            </if>

            <if test="jiashiyuanxingming != null and jiashiyuanxingming != '' ">
                jiashiyuanxingming = #{jiashiyuanxingming},
            </if>

            <if test="xingbie != null and xingbie != '' ">
                xingbie = #{xingbie},
            </if>

            <if test="shenfenzhenghao != null and shenfenzhenghao != '' ">
                shenfenzhenghao = #{shenfenzhenghao},
            </if>

            <if test="nianling != null and nianling != '' ">
                nianling = #{nianling},
            </if>

            <if test="zhunjiachexing != null and zhunjiachexing != '' ">
                zhunjiachexing = #{zhunjiachexing},
            </if>

            <if test="congyezigezheng != null and congyezigezheng != '' ">
                congyezigezheng = #{congyezigezheng},
            </if>

            <if test="congyeleibie != null and congyeleibie != '' ">
                congyeleibie = #{congyeleibie},
            </if>

            <if test="congyezhengchulingri != null and congyezhengchulingri != '' ">
                congyezhengchulingri = #{congyezhengchulingri},
            </if>

            <if test="congyezhengyouxiaoqi != null and congyezhengyouxiaoqi != '' ">
                congyezhengyouxiaoqi = #{congyezhengyouxiaoqi},
            </if>

            <if test="chengxinkaoheshijian != null and chengxinkaoheshijian != '' ">
                chengxinkaoheshijian = #{chengxinkaoheshijian},
            </if>

            <if test="xiacichengxinkaoheshijian != null and xiacichengxinkaoheshijian != '' ">
                xiacichengxinkaoheshijian = #{xiacichengxinkaoheshijian},
            </if>

            <if test="jiashizhengchulingriqi != null and jiashizhengchulingriqi != '' ">
                jiashizhengchulingriqi = #{jiashizhengchulingriqi},
            </if>

            <if test="jiashizhengyouxiaoqi != null and jiashizhengyouxiaoqi != '' ">
                jiashizhengyouxiaoqi = #{jiashizhengyouxiaoqi},
            </if>

            <if test="fazhengjiguan != null and fazhengjiguan != '' ">
                fazhengjiguan = #{fazhengjiguan},
            </if>

            <if test="jiatingzhuzhi != null and jiatingzhuzhi != '' ">
                jiatingzhuzhi = #{jiatingzhuzhi},
            </if>

            <if test="chushengshijian != null and chushengshijian != '' ">
                chushengshijian = #{chushengshijian},
            </if>

            <if test="shoujihaoma != null and shoujihaoma != '' ">
                shoujihaoma = #{shoujihaoma},
            </if>

            <if test="denglumima != null and denglumima != '' ">
                denglumima = #{denglumima},
            </if>

            <if test="jiashiyuanleixing != null and jiashiyuanleixing != '' ">
                jiashiyuanleixing = #{jiashiyuanleixing},
            </if>

            <if test="congyerenyuanleixing != null and congyerenyuanleixing != '' ">
                congyerenyuanleixing = #{congyerenyuanleixing},
            </if>

            <if test="isdelete != null and isdelete != '' ">
                isdelete = #{isdelete},
            </if>

            <if test="caozuoren != null and caozuoren != '' ">
                caozuoren = #{caozuoren},
            </if>

            <if test="caozuoshijian != null and caozuoshijian != '' ">
                caozuoshijian = #{caozuoshijian},
            </if>

            <if test="caozuorenid != null and caozuorenid != '' ">
                caozuorenid = #{caozuorenid}
            </if>

        </set>
        where dept_id = #{deptId}
            and jiashiyuanxingming = #{jiashiyuanxingming}
            and shenfenzhenghao = #{shenfenzhenghao}
            and jiashiyuanleixing = #{jiashiyuanleixing}
            and isdelete = 0
    </update>

    <select id="getjiaShiYuan" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        select
            *
        from
            anbiao_jiashiyuan
        where isdelete = 0
        <if test="deptId != null and deptId != '' ">
            AND dept_id= #{deptId}
        </if>
        <if test="jiashiyuanxingming != null and jiashiyuanxingming != '' ">
            AND jiashiyuanxingming = #{jiashiyuanxingming}
        </if>
        <if test="shoujihaoma != null and shoujihaoma != '' ">
            AND shoujihaoma = #{shoujihaoma}
        </if>
        <if test="jiashiyuanleixing != null and jiashiyuanleixing != '' ">
            AND jiashiyuanleixing = #{jiashiyuanleixing}
        </if>
        LIMIT 1
    </select>

    <select id="getjiaShiYuanByOne" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        select
            *
        from
            anbiao_jiashiyuan
        where isdelete = 0
        <if test="deptId != null and deptId != '' ">
            AND dept_id= #{deptId}
        </if>
        <if test="jiashiyuanxingming != null and jiashiyuanxingming != '' ">
            AND jiashiyuanxingming = #{jiashiyuanxingming}
        </if>
        <if test="shoujihaoma != null and shoujihaoma != '' ">
            AND shoujihaoma = #{shoujihaoma}
        </if>
        <if test="shenfenzhenghao != null and shenfenzhenghao != '' ">
            AND shenfenzhenghao = #{shenfenzhenghao}
        </if>
        <if test="jiashiyuanleixing != null and jiashiyuanleixing != '' ">
            AND jiashiyuanleixing = #{jiashiyuanleixing}
        </if>
        LIMIT 1
    </select>

    <select id="getDriver" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        select * from anbiao_jiashiyuan
        where isdelete = 0
          and shoujihaoma = #{account}
        <if test="password != null and password != '' ">
          and denglumima = #{password}
        </if>
           LIMIT 1
    </select>

    <select id="selectDriverByopenId" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        SELECT
            openid,jiashiyuanxingming,shoujihaoma
        FROM
            anbiao_jiashiyuan
        WHERE openid=#{param1}
          and isdelete = 0
    </select>

    <select id="bindDriverOpenId" parameterType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan" >
        update anbiao_jiashiyuan set openid=#{param2}
        where shoujihaoma = #{param1}
          and isdelete = 0
    </select>

    <select id="selectDriverInfo" resultType="org.springblade.anbiao.jiashiyuan.vo.DriverInfoVO">
        select
            a.id,a.dept_id as deptId,d.dept_name as deptName,a.jiashiyuanxingming,a.shenfenzhenghao,
            a.shoujihaoma,a.openid,b.ajr_head_portrait as zhaopian,d.cheliangpaizhao,e.cheliangpaizhao as guacheliangpaizhao,
            d.vehid,e.vehid as guacheid
        from
            anbiao_jiashiyuan a
            left join blade_dept d on d.id = a.dept_id and d.is_deleted = 0
            left join anbiao_jiashiyuan_ruzhi b on a.id = b.ajr_aj_ids and b.ajr_delete = 0
            left join (
                select a.jiashiyuanid,b.cheliangpaizhao,a.vehid from anbiao_cheliang_jiashiyuan_daily a,anbiao_vehicle b
                where a.jiashiyuanid = #{jsyId}
                  and a.vehid = b.id
                ORDER BY a.createtime desc
                limit 1
            ) d on d.jiashiyuanid = a.id
            left join (
                select a.jiashiyuanid,b.cheliangpaizhao,a.vehid from anbiao_cheliang_jiashiyuan_daily a,anbiao_vehicle b
                where a.jiashiyuanid = #{jsyId}
                  and a.gvehid = b.id
                ORDER BY a.createtime desc
                    limit 1
            ) e on e.jiashiyuanid = a.id
        where a.isdelete = 0
          and a.id = #{jsyId}
    </select>

    <select id="getJiaShiYuanByDept" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuan">
        select
            distinct
            id,jiashiyuanxingming,shenfenzhenghao,shoujihaoma
        from
            anbiao_jiashiyuan
        where isdelete = 0
            and status = 0
        <if test="deptId != null ">
            AND dept_id = #{deptId}
        </if>
    </select>

    <select id="selectJiaShiYuanTrain" resultType="org.springblade.anbiao.jiashiyuan.entity.JiaShiYuanTrain">
        select
        a.id,a.jiashiyuanxingming,a.shoujihaoma,a.dept_id as deptId,b.signatrue
        from
        anbiao_jiashiyuan a
        inner join anbiao_jiashiyuan_signatrue b on a.id = b.jiashiyuanid
        where a.isdelete = 0
        <if test="deptId != null and deptId != '' ">
            AND a.dept_id= #{deptId}
        </if>
    </select>

    <select id="selectMaxId" resultType="java.lang.Integer">
        SELECT
            max(CONVERT(dept_id,SIGNED)) AS id
        FROM anbiao_jiashiyuan
    </select>


</mapper>
