<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.jiashiyuan.mapper.JiashiyuanheimingdanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="jiashiyuanheimingdanResultMap" type="org.springblade.anbiao.jiashiyuan.entity.Jiashiyuanheimingdan">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="jiashiyuanid" property="jiashiyuanid"/>
        <result column="shenfenzhenghao" property="shenfenzhenghao"/>
        <result column="jiashiyuanleixing" property="jiashiyuanleixing"/>
        <result column="jinruriqi" property="jinruriqi"/>
        <result column="jinruyuanyin" property="jinruyuanyin"/>
        <result column="beizhu" property="beizhu"/>
        <result column="fujian" property="fujian"/>
        <result column="caozuoren" property="caozuoren"/>
        <result column="caozuorenid" property="caozuorenid"/>
        <result column="caozuoshijian" property="caozuoshijian"/>
        <result column="isdelete" property="isdelete"/>
    </resultMap>


    <select id="selectJiashiyuanheimingdanPage" resultMap="jiashiyuanheimingdanResultMap">
        select * from anbiao_jiashiyuanheimingdan where is_deleted = 0
    </select>

    <update id="updateDel" parameterType="java.lang.String">
        UPDATE anbiao_jiashiyuanheimingdan SET isdelete = 1 where id = #{id}
    </update>

    <sql id="tableSql">
        SELECT
        a.*,b.dept_name deptName,c.jiashiyuanxingming as jiashiyuanxingming
        FROM
        anbiao_jiashiyuanheimingdan a
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b
        on a.dept_id = b.id
        INNER JOIN anbiao_jiashiyuan c on c.id = a.jiashiyuanid
        WHERE 1=1 and ifnull(a.isdelete,0) = 0

    </sql>

    <sql id="querySql">
        <if test="jiashiyuanxingming !=null and jiashiyuanxingming != ''">
            AND jiashiyuanxingming  LIKE '%${jiashiyuanxingming}%'
        </if>
        <if test="deptName !=null and deptName != ''">
            AND dept_name LIKE '%${deptName}%'
        </if>
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by caozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectPageList" parameterType="org.springblade.anbiao.jiashiyuan.page.JiashiyuanheimingdanPage" resultType="org.springblade.anbiao.jiashiyuan.vo.JiashiyuanheimingdanVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.jiashiyuan.page.JiashiyuanheimingdanPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <select id="selectByIds" parameterType="java.lang.String" resultType="org.springblade.anbiao.jiashiyuan.vo.JiashiyuanheimingdanVO">
        SELECT
        a.*,b.dept_name deptName, c.jiashiyuanxingming as jiashiyuanxingming
        FROM
        anbiao_jiashiyuanheimingdan a
        inner join  blade_dept b
        on a.dept_id = b.id
        INNER JOIN anbiao_jiashiyuan c on c.id = a.jiashiyuanid
        WHERE 1=1 and ifnull(a.isdelete ,0) = 0 and a.id=#{id}
    </select>

</mapper>
