<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.jiashiyuan.mapper.ZhengjianshenyanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="zhengjianshenyanResultMap" type="org.springblade.anbiao.jiashiyuan.entity.Zhengjianshenyan">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="jiashiyuanid" property="jiashiyuanid"/>
        <result column="jiashiyuanleixing" property="jiashiyuanleixing"/>
        <result column="zhengjianmingcheng" property="zhengjianmingcheng"/>
        <result column="shenyanyouxiaoqi" property="shenyanyouxiaoqi"/>
        <result column="shenyanleixing" property="shenyanleixing"/>
        <result column="shenyanjigou" property="shenyanjigou"/>
        <result column="shifouhege" property="shifouhege"/>
        <result column="shenyanriqi" property="shenyanriqi"/>
        <result column="kaohedengji" property="kaohedengji"/>
        <result column="fujian" property="fujian"/>
        <result column="beizhu" property="beizhu"/>
        <result column="caozuoren" property="caozuoren"/>
        <result column="caozuorenid" property="caozuorenid"/>
        <result column="caozuoshijian" property="caozuoshijian"/>
        <result column="isdelete" property="isdelete"/>
    </resultMap>


    <select id="selectZhengjianshenyanPage" resultMap="zhengjianshenyanResultMap">
        select * from anbiao_zhengjianshenyan where is_deleted = 0
    </select>

    <update id="updateDel" parameterType="java.lang.String">
    UPDATE anbiao_zhengjianshenyan SET isdelete = 1 where id = #{id}
    </update>

    <sql id="tableSql">
        SELECT
        a.*,b.dept_name deptName,c.jiashiyuanxingming as jiashiyuanxingming
        FROM
        anbiao_zhengjianshenyan a
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b
        on a.dept_id = b.id
        INNER join anbiao_jiashiyuan c on a.jiashiyuanid = c.id
        WHERE 1=1 and ifnull(a.isdelete,0) = 0

        <if test="ids !=null and ids != ''and ids == '1'.toString()">
            and a.id in (
            SELECT biaoid from anbiao_jinritixing_jiesuan where IFNULL(isdelete,0)=0 and dept_id = #{deptId} and tongjiriqi = #{tongjiriqi}
            and tixingleixing = #{tixingleixing} and tixingxiangqingid = #{tixingxiangqingid} )
        </if>
    </sql>

    <sql id="querySql">
        <if test="jiashiyuanxingming !=null and jiashiyuanxingming != ''">
            AND jiashiyuanxingming  LIKE '%${jiashiyuanxingming}%'
        </if>
        <if test="deptName !=null and deptName != ''">
            AND dept_name LIKE '%${deptName}%'
        </if>
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by caozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectPageList" parameterType="org.springblade.anbiao.jiashiyuan.page.ZhengjianshenyanPage" resultType="org.springblade.anbiao.jiashiyuan.vo.ZhengjianshenyanVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.jiashiyuan.page.ZhengjianshenyanPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <select id="selectByIds" parameterType="java.lang.String" resultType="org.springblade.anbiao.jiashiyuan.vo.ZhengjianshenyanVO">
        SELECT
        a.*,b.dept_name deptName,c.jiashiyuanxingming as jiashiyuanxingming
        FROM
        anbiao_zhengjianshenyan a
        inner join  blade_dept b
        on a.dept_id = b.id
        INNER JOIN anbiao_jiashiyuan c on a.jiashiyuanid = c.id
        WHERE 1=1 and ifnull(a.isdelete ,0) = 0 and a.id=#{id}
    </select>



</mapper>
