<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.yingjijiuyuan.mapper.YingjiyuanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="yingjiyuanVOResultMap" type="org.springblade.anbiao.yingjijiuyuan.vo.YingjiyuanVO">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="caozuoren" property="caozuoren"/>
        <result column="caozuorenid" property="caozuorenid"/>
        <result column="caozuoshijian" property="caozuoshijian"/>
        <result column="niandu" property="niandu"/>
        <result column="yuanmingcheng" property="yuanmingcheng"/>
        <result column="yuanleixing" property="yuanleixing"/>
        <result column="yuanbianhao" property="yuanbianhao"/>
        <result column="pizhunshijian" property="pizhunshijian"/>
        <result column="banbenhao" property="banbenhao"/>
        <result column="yuanyouxiaoqi" property="yuanyouxiaoqi"/>
        <result column="yuanjibie" property="yuanjibie"/>
        <result column="shifouqiyong" property="shifouqiyong"/>
        <result column="yuanneirong" property="yuanneirong"/>
        <result column="xianchangchuzhiyaodian" property="xianchangchuzhiyaodian"/>
        <result column="yingjiduiwubaozhang" property="yingjiduiwubaozhang"/>
        <result column="qitabaozhang" property="qitabaozhang"/>
        <result column="fujian" property="fujian"/>
        <result column="is_deleted" property="isdel"/>
    </resultMap>

    <select id="selectByKey" resultMap="yingjiyuanVOResultMap" parameterType="java.lang.String">
        select  a.*,b.dept_name as deptName
        from  anbiao_yingjiyuan a
            inner join blade_dept b  on a.dept_id = b.id
         where a.id=#{id}
    </select>

    <!-- 假删除 -->
    <update id="deleteYingjiyuan" parameterType="java.lang.String" >
         update anbiao_yingjiyuan set
            is_deleted = 1
        WHERE id = #{id}
  </update>

    <sql id="tableSql">
        SELECT
        a.*,
        b.dept_name as deptName
        FROM
        anbiao_yingjiyuan a
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b
        on a.dept_id = b.id
        WHERE 1=1 and ifnull(a.is_deleted,0) = 0

    </sql>

    <sql id="querySql">
        <if test="yuanmingcheng !=null and yuanmingcheng != ''">
            AND yuanmingcheng  LIKE '%${yuanmingcheng}%'
        </if>
        <if test="deptName !=null and deptName != ''">
            AND deptName LIKE '%${deptName}%'
        </if>
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by pizhunshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectYingjiyuanPage" resultMap="yingjiyuanVOResultMap"
            parameterType="org.springblade.anbiao.yingjijiuyuan.page.YingjiyuanPage" resultType="org.springblade.anbiao.yingjijiuyuan.vo.YingjiyuanVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectYingjiyuanTotal"
            parameterType="org.springblade.anbiao.yingjijiuyuan.page.YingjiyuanPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>
</mapper>
