<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.risk.mapper.AnbiaoRiskConfigurationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.anbiao.risk.entity.AnbiaoRiskConfiguration">
        <id column="id" property="id" />
        <result column="yujingxiang" property="yujingxiang" />
        <result column="shuoming" property="shuoming" />
        <result column="is_deleted" property="isDeleted" />
        <result column="updatetime" property="updatetime" />
    </resultMap>


    <select id="selectPageList" parameterType="org.springblade.anbiao.risk.page.RiskConfigurationPage" resultType="org.springblade.anbiao.risk.vo.RiskConfigurationVO">
        <if test="size == 0" >
            SELECT
            id,
            yujingxiang,
            shuoming,
            yujingleixing
            FROM
            anbiao_risk_configuration
            WHERE
            is_deleted =0
            <if test="id !=null and id != ''">
            and id=#{id}
            </if>
            <if test="yujingxiang !=null and yujingxiang != ''">
                and yujingxiang like '%${yujingxiang}%'
            </if>
            limit ${total}
        </if>
        <if test="current != 0" >
            SELECT
            id,
            yujingxiang,
            shuoming,
            yujingleixing
            FROM
            anbiao_risk_configuration
            WHERE
            is_deleted =0
            <if test="id !=null and id != ''">
                and id=#{id}
            </if>
            <if test="yujingxiang !=null and yujingxiang != ''">
                and yujingxiang like '%${yujingxiang}%'
            </if>
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.risk.page.RiskConfigurationPage" resultType="int">
        select COUNT(1) from
        (
        SELECT
        id,
        yujingxiang,
        shuoming,
        yujingleixing
        FROM
        anbiao_risk_configuration
        WHERE
        is_deleted =0
        <if test="id !=null and id != ''">
            and id=#{id}
        </if>
        <if test="yujingxiang !=null and yujingxiang != ''">
            and yujingxiang like '%${yujingxiang}%'
        </if>
        )d
    </select>

</mapper>
