<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.risk.mapper.AnbiaoRiskDeptConfigurationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.anbiao.risk.entity.AnbiaoRiskDeptConfiguration">
        <id column="id" property="id" />
        <result column="rc_id" property="rcId" />
        <result column="dept_id" property="deptId" />
        <result column="is_deleted" property="isDeleted" />
        <result column="status" property="status" />
    </resultMap>


    <select id="selectPageList" parameterType="org.springblade.anbiao.risk.page.RiskDeptConfigurationPage" resultType="org.springblade.anbiao.risk.vo.RiskDeptConfigurationListVO">
        <if test="size == 0" >
            SELECT
                rdc.id as id,a.dept_name as deptName,rdc.dept_id AS deptId,rdc.rc_id AS rcId,rdc.status AS status ,rc.yujingxiang AS yujingxiang,rc.shuoming AS shuoming,rc.yujingleixing
            FROM
                anbiao_risk_dept_configuration rdc
            INNER JOIN(<include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>) a on a.id=rdc.dept_id
            LEFT JOIN anbiao_risk_configuration rc on rc.id=rdc.rc_id
            WHERE
                rdc.is_deleted = 0
            and rc.is_deleted = 0
            <if test="deptName !=null and deptName != ''">
                and a.dept_name like '%${deptName}%'
            </if>
            GROUP BY rdc.id
            limit ${total}
        </if>
        <if test="current != 0" >
            SELECT
                rdc.id as id,a.dept_name as deptName,rdc.dept_id AS deptId,rdc.rc_id AS rcId,rdc.status AS status ,rc.yujingxiang AS yujingxiang,rc.shuoming AS shuoming,rc.yujingleixing
            FROM
                anbiao_risk_dept_configuration rdc
            INNER JOIN(<include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>) a on a.id=rdc.dept_id
            LEFT JOIN anbiao_risk_configuration rc on rc.id=rdc.rc_id
            WHERE
                rdc.is_deleted = 0
            and rc.is_deleted = 0
            <if test="deptName !=null and deptName != ''">
                and a.dept_name like '%${deptName}%'
            </if>
            GROUP BY rdc.id
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.risk.page.RiskDeptConfigurationPage" resultType="int">
        select COUNT(1) from (
            SELECT
                rdc.id as id,a.dept_name as deptName,rdc.dept_id AS deptId,rdc.rc_id AS rcId,rdc.status AS status ,rc.yujingxiang AS yujingxiang,rc.shuoming AS shuoming,rc.yujingleixing
            FROM
                anbiao_risk_dept_configuration rdc
            INNER JOIN(<include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>) a on a.id=rdc.dept_id
            LEFT JOIN anbiao_risk_configuration rc on rc.id=rdc.rc_id
            WHERE rdc.is_deleted = 0
            and rc.is_deleted = 0
        <if test="deptName !=null and deptName != ''">
            and a.dept_name like '%${deptName}%'
        </if>
        GROUP BY rdc.id
                                 )d
    </select>

</mapper>
