<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.risk.mapper.AnbiaoRiskDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.anbiao.risk.entity.AnbiaoRiskDetail">
        <id column="ard_ids" property="ardIds" />
        <result column="ard_dept_ids" property="ardDeptIds" />
        <result column="ard_major_categories" property="ardMajorCategories" />
        <result column="ard_sub_category" property="ardSubCategory" />
        <result column="ard_title" property="ardTitle" />
        <result column="ard_content" property="ardContent" />
        <result column="ard_type" property="ardType" />
        <result column="ard_discovery_date" property="ardDiscoveryDate" />
        <result column="ard_is_rectification" property="ardIsRectification" />
        <result column="ard_association_table" property="ardAssociationTable" />
        <result column="ard_association_field" property="ardAssociationField" />
        <result column="ard_association_value" property="ardAssociationValue" />
        <result column="ard_rectification_by_ids" property="ardRectificationByIds" />
        <result column="ard_rectification_by_name" property="ardRectificationByName" />
        <result column="ard_rectification_date" property="ardRectificationDate" />
        <result column="ard_modular_name" property="ardModularName" />
        <result column="ard_rectification_field" property="ardRectificationField" />
        <result column="ard_rectification_value" property="ardRectificationValue" />
        <result column="ard_rectification_field_type" property="ardRectificationFieldType" />
        <result column="ard_rectification_enclosure" property="ardRectificationEnclosure" />
    </resultMap>

</mapper>
