<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="organizationResultMap" type="org.springblade.anbiao.guanlijigouherenyuan.entity.Organizations">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <result column="jigoufuzeren" property="jigoufuzeren"/>
        <result column="jigoubianma" property="jigoubianma"/>
        <result column="jigouleixing" property="jigouleixing"/>
        <result column="jigouzizhi" property="jigouzizhi"/>
        <result column="farendaibiao" property="farendaibiao"/>
        <result column="lianxidianhua" property="lianxidianhua"/>
        <result column="zhuceziben" property="zhuceziben"/>
        <result column="touzizonge" property="touzizonge"/>
        <result column="cheliangguimo" property="cheliangguimo"/>
        <result column="congyerenshuliang" property="congyerenshuliang"/>
        <result column="chenglishijian" property="chenglishijian"/>
        <result column="tingchechangmianji" property="tingchechangmianji"/>
        <result column="tingchechangweizhi" property="tingchechangweizhi"/>
        <result column="jiashiyuanshuliang" property="jiashiyuanshuliang"/>
        <result column="yayunyuanshuliang" property="yayunyuanshuliang"/>
        <result column="zhuangxieyuanshuliang" property="zhuangxieyuanshuliang"/>
        <result column="xuhao" property="xuhao"/>
        <result column="xingzhengqudaima" property="xingzhengqudaima"/>
        <result column="jingyingxukezhengbianma" property="jingyingxukezhengbianma"/>
        <result column="fujian" property="fujian"/>
        <result column="anquanguanlitu" property="anquanguanlitu"/>
        <result column="zuzhijigoutu" property="zuzhijigoutu"/>
        <result column="jingyingfanwei" property="jingyingfanwei"/>
        <result column="jingyingdizhi" property="jingyingdizhi"/>
        <result column="xiangxidizhi" property="xiangxidizhi"/>
        <result column="jigoumiaoshu" property="jigoumiaoshu"/>
        <result column="login_photo" property="loginPhoto"/>
        <result column="home_photo" property="homePhoto"/>
        <result column="profile_photo" property="profilePhoto"/>
        <result column="logo_photo" property="logoPhoto"/>
        <result column="logo_rizhi" property="logoRizhi"/>
        <result column="login_photo_app" property="loginPhotoApp"/>
        <result column="home_photo_app" property="homePhotoApp"/>
        <result column="profile_photo_app" property="profilePhotoApp"/>
        <result column="is_deleted" property="isdelete"/>
        <result column="caozuoren" property="caozuoren"/>
        <result column="caozuorenid" property="caozuorenid"/>
        <result column="caozuoshijian" property="caozuoshijian"/>
        <result column="yunyingleixing" property="yunyingleixing"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="country" property="country"/>
    </resultMap>


    <select id="selectAll" resultMap="organizationResultMap">
        select * from anbiao_organization where isdelete = 0
    </select>


    <delete id="delByDeptId" parameterType="java.lang.String">
        update anbiao_organization SET isdelete = 1 where dept_id = #{deptId}
    </delete>

    <select id="selectByDeptId" resultType="org.springblade.anbiao.guanlijigouherenyuan.vo.OrganizationsVO" parameterType="java.lang.String"  >
        select a.*,b.tree_code from anbiao_organization a,blade_dept b where dept_id=#{deptId} and a.dept_id = b.id and isdelete = 0 limit 1
    </select>

    <update id="updateDel" parameterType="java.lang.String">
        UPDATE anbiao_organization SET isdelete = 1 where id = #{id}
    </update>

    <sql id="getByDeptId">
        SELECT
            DISTINCT
            xiaji.id,
            xiaji.parent_id,
            xiaji.dept_name,
            xiaji.is_deleted
        FROM
            blade_dept shangji,
            blade_dept xiaji
        WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
            AND xiaji.is_deleted = 0 AND xiaji.extend_type='机构'
        <if test="deptId != null">
            and shangji.id=#{deptId}
        </if>
    </sql>

    <sql id="tableSql">
        SELECT
            a.*, b.dept_name as deptName
        FROM
            anbiao_organization a
            INNER JOIN(
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b ON a.dept_id = b.id and a.isdelete = 0 and  b.is_deleted = 0
        where a.jigouleixing in ('qiye','geti')
    </sql>

    <sql id="querySql">
        <if test="deptName !=null and deptName != ''">
            AND deptName LIKE '%${deptName}%'
        </if>
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by caozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectPageList" parameterType="org.springblade.anbiao.guanlijigouherenyuan.page.OrganizationsPage" resultType="org.springblade.anbiao.guanlijigouherenyuan.vo.OrganizationsVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.guanlijigouherenyuan.page.OrganizationsPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <select id="selectByIds" parameterType="java.lang.String" resultType="org.springblade.anbiao.guanlijigouherenyuan.vo.OrganizationsVO">
        SELECT
        a.*,b.dept_name
        FROM
        anbiao_organization a
        inner join  blade_dept b
        on a.dept_id = b.id
        WHERE 1=1 and ifnull(a.isdelete ,0) = 0 and a.id=#{id}
    </select>

    <select id="getZFQY" resultType="org.springblade.anbiao.guanlijigouherenyuan.vo.OrganizationsVO">
        select
            DISTINCT
            *
        from(
            SELECT
                ifnull(a.qiyeid,'') AS qiyeid,
                ifnull(a.qiyemingcheng,'') AS qiyemingcheng,
                ifnull(a.jigouleixing,'') AS jigouleixing,
                ifnull(a.province,'') AS province,
                ifnull(a.city,'') AS city,
                ifnull(a.country,'') AS country,
                ifnull(a.yunguanmingcheng,'') AS yunguanmingcheng,
                ifnull(a.yunguanid,'') AS yunguanid,
                ifnull(a.areaname,'') AS areaname
            FROM(
                SELECT
                    DISTINCT
                    b.dept_id AS qiyeid,
                    b.dept_name AS qiyemingcheng,
                    b.jigouleixing AS jigouleixing,
                    b.province AS province,
                    b.city AS city,
                    b.country AS country,
                    CASE
                        WHEN ifnull(b.country, '') != '' THEN
                        (
                        SELECT
                            dept_name
                        FROM
                            anbiao_organization
                        WHERE dept_id = b.country
                        )
                    WHEN ifnull(b.country, '') = '' THEN
                    (
                    SELECT
                    dept_name
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.city
                    )
                    ELSE
                    (
                    SELECT
                    dept_name
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.province
                    )
                    END AS yunguanmingcheng,
                    CASE
                    WHEN ifnull(b.country, '') != '' THEN
                    (
                    SELECT
                    dept_id
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.country
                    )
                    WHEN ifnull(b.country, '') = '' THEN
                    (
                    SELECT
                    dept_id
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.city
                    )
                    ELSE
                    (
                    SELECT
                    dept_id
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.province
                    )
                    END AS yunguanid,
                    CASE
                    WHEN ifnull(b.country, '') != '' THEN
                    (
                    SELECT
                    country
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.country
                    )
                    WHEN ifnull(b.country, '') = '' THEN
                    (
                    SELECT
                    city
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.city
                    )
                    ELSE
                    (
                    SELECT
                    province
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.province
                    )
                    END AS areaname
                FROM(
                    SELECT
                        a.id AS dept_id,
                        a.parent_id AS parent_id,
                        a.dept_name AS dept_name,
                        a.tree_code AS tree_code,
                        b.province AS province,
                        b.city AS city,
                        b.country AS country
                    FROM
                        blade.blade_dept a
                    JOIN blade.anbiao_organization b
                    WHERE a.id = b.dept_id
                        AND b.jigouleixing IN ('xianZF', 'shiZF', 'shengZF')
                        AND b.isdelete = 0
                    ) a
                JOIN (
                    SELECT
                        dept_id,
                        dept_name,
                        jigouleixing,
                        province,
                        city,
                        country
                    FROM
                        anbiao_organization
                    WHERE 1 = 1
                        AND jigouleixing IN ('qiye', 'geti')
                        AND isdelete = 0
                        ) b ON a.dept_id IN (
                        b.province,
                        b.city,
                        b.country
                    )
                WHERE 1 = 1
                    AND (b.province IS NOT NULL)
                ) a
            WHERE (ifnull(a.areaname, '') != '')
        union
            select
                b.id,b.dept_name,b.jigouleixing,
                case
                    when IFNULL(b.province,'') = '' and IFNULL(b.city,'') = '' and IFNULL(b.country,'') != '' then(
                    select parent_id from blade_dept where id =(select parent_id from blade_dept where id = b.country)
                    )
                    when IFNULL(b.province,'') = '' and IFNULL(b.city,'') != '' then(
                    select parent_id from blade_dept where id = b.city
                    ) else b.province
                end as province,
                case
                    when IFNULL(b.city,'') = '' and IFNULL(b.country,'') != '' then(
                        select parent_id from blade_dept where id =(select parent_id from blade_dept where id = b.country)
                    ) else b.city
                end as city,
                b.country,
                CASE
                    WHEN ifnull(b.country, '') != '' THEN
                    (
                    SELECT
                        dept_name
                    FROM
                        anbiao_organization
                    WHERE dept_id = b.country
                    )
                    WHEN ifnull(b.country, '') = '' and ifnull(b.city, '') != '' THEN
                    (
                    SELECT
                    dept_name
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.city
                    )
                    ELSE
                    (
                    SELECT
                    dept_name
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.province
                    )
                    END AS yunguanmingcheng,
                    CASE
                    WHEN ifnull(b.country, '') != '' THEN
                    (
                    SELECT
                    dept_id
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.country
                    )
                    WHEN ifnull(b.country, '') = '' and ifnull(b.city, '') != '' THEN
                    (
                    SELECT
                    dept_id
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.city
                    )
                    ELSE
                    (
                    SELECT
                    dept_id
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.province
                    )
                    END AS yunguanid,
                    b.areaname
                from(
                    select
                    b.id,b.dept_name,b.jigouleixing,
                    case when IFNULL(b.province,'') != '' and b.province like CONCAT('%','省','%') then (
                    select dept_id from anbiao_organization where dept_id = b.id and b.jigouleixing = 'shengZF' )
                    end as province,
                    case when IFNULL(b.city,'') != '' and b.city like CONCAT('%','市','%') then (
                    select dept_id from anbiao_organization where dept_id = b.id and b.jigouleixing = 'shiZF' )
                    end as city,
                    case when IFNULL(b.country,'') != '' and b.country like CONCAT('%','县','%') or b.country like CONCAT('%','区','%') or b.country like CONCAT('%','市','%') then (
                    select dept_id from anbiao_organization where dept_id = b.id and b.jigouleixing = 'xianZF' )
                    end as country,
                    case when IFNULL(b.areaname,'') = '' and IFNULL(b.country,'') != '' then b.country
                    when IFNULL(b.areaname,'') = '' and IFNULL(b.city,'') != '' and IFNULL(b.country,'') = '' then b.city
                    when IFNULL(b.areaname,'') = '' and IFNULL(b.province,'') != '' and IFNULL(b.city,'') = '' then b.province
                    end as areaname
                    from
                    anbiao_organization a,
                    (
                    select
                    a.id,a.dept_name,b.jigouleixing,province,city,country,a.dept_name as yunguanmingcheng,a.parent_id as yunguanid,
                    CASE
                    WHEN ifnull(b.country, '') != '' THEN
                    (
                    SELECT
                    country
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.country
                    )
                    WHEN ifnull(b.country, '') = '' THEN
                    (
                    SELECT
                    city
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.city
                    )
                    ELSE
                    (
                    SELECT
                    province
                    FROM
                    anbiao_organization
                    WHERE dept_id = b.province
                    )
                    END AS areaname
                    from
                    blade_dept a,anbiao_organization b
                    where a.id = b.dept_id
                    and jigouleixing in('xianZF','shiZF','shengZF')
                    and b.isdelete = 0
                    and IFNULL(b.province,'') != ''
                )b
                where a.dept_id = b.id
            )b
        )a
        ORDER BY areaname asc
    </select>

    <select id="getZFQYOrderById" resultType="org.springblade.anbiao.guanlijigouherenyuan.vo.OrganizationsVO">
        select * from anbiao_zhengfu_qiye
    </select>

    <insert id="insertSelective" parameterType="org.springblade.anbiao.guanlijigouherenyuan.vo.OrganizationsVO" >
        insert into anbiao_zhengfu_qiye
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="qiyeid != null">
                qiyeid,
            </if>

            <if test="qiyemingcheng != null">
                qiyemingcheng,
            </if>

            <if test="jigouleixing != null">
                jigouleixing,
            </if>

            <if test="province != null">
                province,
            </if>

            <if test="city != null">
                city,
            </if>

            <if test="country != null">
                country,
            </if>

            <if test="yunguanmingcheng != null">
                yunguanmingcheng,
            </if>

            <if test="yunguanid != null">
                yunguanid,
            </if>

            <if test="areaname != null">
                areaname
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>

            <if test="qiyeid != null">
                #{qiyeid},
            </if>

            <if test="qiyemingcheng != null">
                #{qiyemingcheng},
            </if>

            <if test="jigouleixing != null">
                #{jigouleixing},
            </if>

            <if test="province != null">
                #{province},
            </if>

            <if test="city != null">
                #{city},
            </if>

            <if test="country != null">
                #{country},
            </if>

            <if test="yunguanmingcheng != null">
                #{yunguanmingcheng},
            </if>

            <if test="yunguanid != null">
                #{yunguanid},
            </if>

            <if test="areaname != null">
                #{areaname}
            </if>

        </trim>
    </insert>

    <insert id="insertOrganizationsSelective" parameterType="org.springblade.anbiao.guanlijigouherenyuan.entity.Organizations" >
        insert into anbiao_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="deptName != null">
                dept_name,
            </if>
            <if test="jigoufuzeren != null">
                jigoufuzeren,
            </if>
            <if test="jigouleixing != null">
                jigouleixing,
            </if>
            <if test="jigouzizhi != null">
                jigouzizhi,
            </if>
            <if test="farendaibiao != null">
                farendaibiao,
            </if>
            <if test="lianxidianhua != null">
                lianxidianhua,
            </if>
            <if test="zhuceziben != null">
                zhuceziben,
            </if>
            <if test="touzizonge != null">
                touzizonge,
            </if>
            <if test="cheliangguimo != null">
                cheliangguimo,
            </if>
            <if test="congyerenshuliang != null">
                congyerenshuliang,
            </if>
            <if test="chenglishijian != null">
                chenglishijian,
            </if>
            <if test="tingchechangmianji != null">
                tingchechangmianji,
            </if>
            <if test="tingchechangweizhi != null">
                tingchechangweizhi,
            </if>
            <if test="jiashiyuanshuliang != null">
                jiashiyuanshuliang,
            </if>
            <if test="yayunyuanshuliang != null">
                yayunyuanshuliang,
            </if>
            <if test="zhuangxieyuanshuliang != null">
                zhuangxieyuanshuliang,
            </if>
            <if test="xuhao != null">
                xuhao,
            </if>
            <if test="xingzhengqudaima != null">
                xingzhengqudaima,
            </if>
            <if test="jingyingxukezhengbianma != null">
                jingyingxukezhengbianma,
            </if>
            <if test="fujian != null">
                fujian,
            </if>
            <if test="anquanguanlitu != null">
                anquanguanlitu,
            </if>
            <if test="zuzhijigoutu != null">
                zuzhijigoutu,
            </if>
            <if test="jingyingfanwei != null">
                jingyingfanwei,
            </if>
            <if test="jingyingdizhi != null">
                jingyingdizhi,
            </if>
            <if test="xiangxidizhi != null">
                xiangxidizhi,
            </if>
            <if test="jigoumiaoshu != null">
                jigoumiaoshu,
            </if>
            <if test="loginPhoto != null">
                login_photo,
            </if>
            <if test="homePhoto != null">
                home_photo,
            </if>
            <if test="profilePhoto != null">
                profile_photo,
            </if>
            <if test="logoPhoto != null">
                logo_photo,
            </if>
            <if test="logoRizhi != null">
                logo_rizhi,
            </if>
            <if test="caozuoren != null">
                caozuoren,
            </if>
            <if test="caozuorenid != null">
                caozuorenid,
            </if>
            <if test="caozuoshijian != null">
                caozuoshijian,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="loginPhotoApp != null">
                login_photo_app,
            </if>
            <if test="homePhotoApp != null">
                home_photo_app,
            </if>
            <if test="profilePhotoApp != null">
                profile_photo_app,
            </if>
            <if test="isdelete != null">
                isdelete,
            </if>
            <if test="yunyingleixing != null">
                yunyingleixing,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="securityofficertelephone != null">
                securityofficertelephone,
            </if>

            <if test="daoluyunshuzhengfujian != null">
                daoluyunshuzhengfujian,
            </if>
            <if test="daoluyunshuzhengkaishiriqi != null and daoluyunshuzhengkaishiriqi != '' ">
                daoluyunshuzhengkaishiriqi,
            </if>
            <if test="daoluyunshuzhengjieshuriqi != null and daoluyunshuzhengjieshuriqi != '' ">
                daoluyunshuzhengjieshuriqi,
            </if>
            <if test="jingyingxukezhengfujian != null">
                jingyingxukezhengfujian,
            </if>
            <if test="yingyezhizhaofujian != null">
                yingyezhizhaofujian,
            </if>
            <if test="daoluxukezhenghao != null">
                daoluxukezhenghao,
            </if>
            <if test="jigoubianma != null">
                jigoubianma,
            </if>
            <if test="jingyingxukezhengchulingriqi != null and jingyingxukezhengchulingriqi != '' ">
                jingyingxukezhengchulingriqi,
            </if>
            <if test="jingyingxukezhengyouxiaoqi != null and jingyingxukezhengyouxiaoqi != '' ">
                jingyingxukezhengyouxiaoqi,
            </if>
            <if test="yyzzksdate != null and yyzzksdate != '' ">
                yyzzksdate,
            </if>
            <if test="yyzzjzdate != null and yyzzjzdate != '' ">
                yyzzjzdate,
            </if>
            <if test="htbegindate != null and htbegindate != '' ">
                htbegindate,
            </if>
            <if test="htlastdate != null and htlastdate != '' ">
                htlastdate
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            uuid(),
            <if test="deptId != null">
                #{deptId},
            </if>
            <if test="deptName != null">
                #{deptName},
            </if>
            <if test="jigoufuzeren != null">
                #{jigoufuzeren},
            </if>
            <if test="jigouleixing != null">
                #{jigouleixing},
            </if>
            <if test="jigouzizhi != null">
                #{jigouzizhi},
            </if>
            <if test="farendaibiao != null">
                #{farendaibiao},
            </if>
            <if test="lianxidianhua != null">
                #{lianxidianhua},
            </if>
            <if test="zhuceziben != null">
                #{zhuceziben},
            </if>
            <if test="touzizonge != null">
                #{touzizonge},
            </if>
            <if test="cheliangguimo != null">
                #{cheliangguimo},
            </if>
            <if test="congyerenshuliang != null">
                #{congyerenshuliang},
            </if>
            <if test="chenglishijian != null">
                #{chenglishijian},
            </if>
            <if test="tingchechangmianji != null">
                #{tingchechangmianji},
            </if>
            <if test="tingchechangweizhi != null">
                #{tingchechangweizhi},
            </if>
            <if test="jiashiyuanshuliang != null">
                #{jiashiyuanshuliang},
            </if>
            <if test="yayunyuanshuliang != null">
                #{yayunyuanshuliang},
            </if>
            <if test="zhuangxieyuanshuliang != null">
                #{zhuangxieyuanshuliang},
            </if>
            <if test="xuhao != null">
                #{xuhao},
            </if>
            <if test="xingzhengqudaima != null">
                #{xingzhengqudaima},
            </if>
            <if test="jingyingxukezhengbianma != null">
                #{jingyingxukezhengbianma},
            </if>
            <if test="fujian != null">
                #{fujian},
            </if>
            <if test="anquanguanlitu != null">
                #{anquanguanlitu},
            </if>
            <if test="zuzhijigoutu != null">
                #{zuzhijigoutu},
            </if>
            <if test="jingyingfanwei != null">
                #{jingyingfanwei},
            </if>
            <if test="jingyingdizhi != null">
                #{jingyingdizhi},
            </if>
            <if test="xiangxidizhi != null">
                #{xiangxidizhi},
            </if>
            <if test="jigoumiaoshu != null">
                #{jigoumiaoshu},
            </if>
            <if test="loginPhoto != null">
                #{loginPhoto},
            </if>
            <if test="homePhoto != null">
                #{homePhoto},
            </if>
            <if test="profilePhoto != null">
                #{profilePhoto},
            </if>
            <if test="logoPhoto != null">
                #{logoPhoto},
            </if>
            <if test="logoRizhi != null">
                #{logoRizhi},
            </if>
            <if test="caozuoren != null">
                #{caozuoren},
            </if>
            <if test="caozuorenid != null">
                #{caozuorenid},
            </if>
            <if test="caozuoshijian != null">
                #{caozuoshijian},
            </if>
            <if test="createtime != null">
                #{createtime},
            </if>
            <if test="loginPhotoApp != null">
                #{loginPhotoApp},
            </if>
            <if test="homePhotoApp != null">
                #{homePhotoApp},
            </if>
            <if test="profilePhotoApp != null">
                #{profilePhotoApp},
            </if>
            <if test="isdelete != null">
                #{isdelete},
            </if>
            <if test="yunyingleixing != null">
                #{yunyingleixing},
            </if>
            <if test="province != null">
                #{province},
            </if>
            <if test="city != null">
                #{city},
            </if>
            <if test="country != null">
                #{country},
            </if>
            <if test="area != null">
                #{area},
            </if>
            <if test="securityofficertelephone != null">
                #{securityofficertelephone},
            </if>
            <if test="daoluyunshuzhengfujian != null">
                #{daoluyunshuzhengfujian},
            </if>
            <if test="daoluyunshuzhengkaishiriqi != null and daoluyunshuzhengkaishiriqi != ''">
                #{daoluyunshuzhengkaishiriqi},
            </if>
            <if test="daoluyunshuzhengjieshuriqi != null and daoluyunshuzhengjieshuriqi != ''">
                #{daoluyunshuzhengjieshuriqi},
            </if>
            <if test="jingyingxukezhengfujian != null">
                #{jingyingxukezhengfujian},
            </if>
            <if test="yingyezhizhaofujian != null">
                #{yingyezhizhaofujian},
            </if>
            <if test="daoluxukezhenghao != null">
                #{daoluxukezhenghao},
            </if>
            <if test="jigoubianma != null">
                #{jigoubianma},
            </if>
            <if test="jingyingxukezhengchulingriqi != null and jingyingxukezhengchulingriqi != ''">
                #{jingyingxukezhengchulingriqi},
            </if>
            <if test="jingyingxukezhengyouxiaoqi != null and jingyingxukezhengyouxiaoqi != ''">
                #{jingyingxukezhengyouxiaoqi},
            </if>
            <if test="yyzzksdate != null and yyzzksdate != ''">
                #{yyzzksdate},
            </if>
            <if test="yyzzjzdate != null and yyzzjzdate != ''">
                #{yyzzjzdate},
            </if>
            <if test="htbegindate != null and htbegindate != ''">
                #{htbegindate},
            </if>
            <if test="htlastdate != null and htlastdate != ''">
                #{htlastdate}
            </if>
        </trim>
    </insert>

    <select id="selectParentDeptById" resultType="org.springblade.anbiao.guanlijigouherenyuan.vo.OrganizationsVO" parameterType="java.lang.String"  >
        SELECT
            b.*
        from(
            SELECT
                DISTINCT
                shangji.id,
                shangji.parent_id,
                shangji.dept_name,
                shangji.is_deleted
            FROM
                blade_dept shangji,
                blade_dept xiaji
            WHERE xiaji.parent_id = shangji.id
                AND xiaji.is_deleted = 0
                AND xiaji.extend_type='机构'
                AND xiaji.id= #{deptId}
            )a
        left join anbiao_organization b on a.id = b.dept_id
<!--        where b.jigouleixing = 'fenzu'-->
        limit 1
    </select>

    <select id="selectMaxId" resultType="java.lang.Integer">
        SELECT
            max(CONVERT(dept_id,SIGNED)) AS id
        FROM anbiao_organization
    </select>

    <select id="getorganizationByOne" resultType="org.springblade.anbiao.guanlijigouherenyuan.entity.Organizations">
        SELECT * FROM `anbiao_organization`
        <where>
            <if test="deptId != null and deptId != ''">
                dept_id = #{deptId}
            </if>
            <if test="deptName != null and deptName != ''">
                and dept_name =  #{deptName}
            </if>
            <if test="jigoubianma != null and jigoubianma != ''">
                and jigoubianma = #{jigoubianma}
            </if>
            <if test="jigouleixing != null and jigouleixing != ''">
                and jigouleixing = #{jigouleixing}
            </if>
            <if test="daoluxukezhenghao != null and daoluxukezhenghao != ''">
                and daoluxukezhenghao = #{daoluxukezhenghao}
            </if>
        </where>
    </select>

    <select id="selectByName" resultType="java.lang.Integer">
        select count(1) from blade_dept where is_deleted = 0 and extend_type = '岗位' and full_name=#{param1} and parent_id = #{deptId}
    </select>

    <select id="selectByGw" resultType="org.springblade.system.entity.Dept">
        select * from blade_dept where is_deleted = 0 and extend_type = '岗位' and full_name=#{param1} and parent_id = #{deptId}
    </select>

    <select id="selectByUser" resultType="org.springblade.system.user.entity.User">
        select a.*,b.jiatingdizhi from blade_user a,anbiao_personnel b
        where a.is_deleted = 0
          and a.id = b.userid
          and b.is_deleted = 0
          and b.post_id = #{deptId}
        limit 1
    </select>

    <select id="selectDept" resultType="org.springblade.system.entity.Dept">
        SELECT
            DISTINCT
            xiaji.id,
            xiaji.parent_id,
            xiaji.dept_name,
            xiaji.is_deleted
        FROM
            blade_dept shangji,
            blade_dept xiaji
        WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
          AND xiaji.is_deleted = 0 AND xiaji.extend_type='机构'
    </select>

    <select id="selectByDeptImg" resultType="org.springblade.anbiao.guanlijigouherenyuan.entity.OrganizationsFuJian">
        select
            id,dept_id as deptId,dept_name as deptName,daoluyunshuzhengfujian,jingyingxukezhengfujian,yingyezhizhaofujian
        from
            anbiao_organization
        where isdelete = 0
          and dept_id = #{deptId}
            limit 1
    </select>

    <select id="selectByPersonnelImg" resultType="org.springblade.anbiao.guanlijigouherenyuan.entity.OrganizationsFuJian">
        select
        DISTINCT
        a.id as personId,a.post_id as postId,xingming personName,a.dept_id as deptId,
        qitazhengmianfujian,shenfenzhengfanmianfujian,shenfenzhengfujian,qitafanmianfujian
        from
        anbiao_personnel a
        INNER JOIN blade_post b ON a.userid=b.user_id
        <!--&#45;&#45; 	INNER JOIN blade_user renyuan ON a.userid=renyuan.id AND renyuan.is_deleted=0-->
        where a.is_deleted = 0
        and a.dept_id = #{deptId}
        and b.post_id = #{postId}
    </select>

    <select id="selectByDeptPost" resultType="org.springblade.anbiao.guanlijigouherenyuan.entity.OrganizationsFuJian">
        select id as postId,dept_name as postName from blade_dept
        where parent_id = #{deptId}
          and is_deleted = 0
          and extend_type = '岗位'
    </select>

</mapper>
