<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.baobiaowenjian.mapper.BaobiaoWenjianMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baobiaowenjianResultMap" type="org.springblade.anbiao.baobiaowenjian.entity.BaobiaoWenjian">
        <id column="id" property="id"/>
        <result column="muluid" property="muluid"/>
        <result column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <result column="caozuorenid" property="caozuorenid"/>
        <result column="caozuoren" property="caozuoren"/>
        <result column="caozuoshijian" property="caozuoshijian"/>
        <result column="createtime" property="createtime"/>
        <result column="fileType" property="fileType"/>
        <result column="path" property="path"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="baseResultMap" type="org.springblade.anbiao.baobiaowenjian.vo.BaobiaoWenjianVO">
    </resultMap>

    <sql id="tableSql">
        SELECT
        a.id,
        a.muluid,
        a.dept_id,
        d.dept_name,
        a.fileName,
        a.fileType,
        a.path,
        a.caozuorenid,
        a.caozuoren,
        a.caozuoshijian,
        a.createtime,
        a.is_deleted as isDeleted,
        b.property,
        b.countdate
        FROM
        baobiao_baobiaowenjian AS a
        inner join blade_dept AS d
        on a.dept_id = d.id
        INNER JOIN baobiao_baobiaomulu AS b ON a.muluid = b.id
        <if test="id != null">
            and a.muluid = #{id}
        </if>
        WHERE ifnull(a.is_deleted,0)=0
        and a.fileType in (0,3)
    </sql>
    <!--更新访问时间，累计次数-->
    <update id="updatePreviewRecordById">
         UPDATE baobiao_baobiaomulu
         SET cumulative_visits = IFNULL(cumulative_visits, 0) + 1,
         last_preview_time = DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
         WHERE
            id = #{id}
    </update>


    <select id="fujianList" parameterType="java.lang.Integer"
            resultMap="baseResultMap">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            limit ${offsetNo},${size}
        </if>
    </select>
    <!--文件总数-->
    <select id="selectFujianTotal" parameterType="java.lang.Integer"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
    </select>

    <!-- 文件pdf/图片预览 -->
    <select id="selectPicPath" resultMap="baseResultMap">
        SELECT a.id,a.muluid,a.dept_id,a.fileName,a.fileType,a.path,b.cumulative_visits,b.last_preview_time
            from baobiao_baobiaowenjian a
            inner join baobiao_baobiaomulu b
            on a.muluid = b.id
        where  muluid = #{param1} and fileType=#{param2}
    </select>

</mapper>
