<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.qiyeshouye.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="noticeResultMap" type="org.springblade.anbiao.qiyeshouye.entity.Notice">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="is_deleted"/>
        <result column="release_time" property="releaseTime"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="tenant_code" property="tenantCode"/>
        <result column="category" property="category"/>
    </resultMap>

    <insert id="insertSelective" parameterType="org.springblade.anbiao.qiyeshouye.entity.Notice" >
        insert into blade_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="createUser != null">
                create_user,
            </if>

            <if test="createTime != null">
                create_time,
            </if>

            <if test="status != null">
                status,
            </if>

            <if test="is_deleted != null">
                is_deleted,
            </if>

            <if test="title != null">
                title,
            </if>

            <if test="content != null">
                content,
            </if>

            <if test="category != null">
                category,
            </if>

            <if test="tenantCode != null">
                tenant_code,
            </if>

            <if test="releaseTime != null">
                release_time
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createUser != null">
                #{createUser},
            </if>

            <if test="createTime != null">
                #{createTime},
            </if>

            <if test="status != null">
                #{status},
            </if>

            <if test="is_deleted != null">
                #{is_deleted},
            </if>

            <if test="title != null">
                #{title},
            </if>

            <if test="content != null">
                #{content},
            </if>

            <if test="category != null">
                #{category},
            </if>

            <if test="tenantCode != null">
                #{tenantCode},
            </if>

            <if test="releaseTime != null">
                #{releaseTime}
            </if>

        </trim>
    </insert>

    <!-- 根据文件ID更新通知公告相应数据 -->
    <update id="updateSelective" parameterType="org.springblade.anbiao.qiyeshouye.entity.Notice" >
        update blade_notice
        <set>
            <if test="releaseTime != null">
                release_time = #{releaseTime},
            </if>

            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="is_deleted != null">
                is_deleted = #{is_deleted},
            </if>

            <if test="content != null">
                content = #{content},
            </if>

            <if test="tenantCode != null">
                tenant_code = #{tenantCode},
            </if>

            <if test="status != null">
                status = #{status},
            </if>

            <if test="category != null">
                category = #{category},
            </if>

            <if test="title != null">
                title = #{title}
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        select id,
        create_user AS createUser,
        create_time AS createTime,
        update_user AS updateUser,
        update_time AS updateTime,
        status,
        is_deleted AS isDeleted,
        title, content
    </sql>

    <select id="topList" resultMap="noticeResultMap">
        select * from blade_notice limit #{number}
    </select>

    <select id="selectNoticePage" resultMap="noticeResultMap">
        select
            b.*
        from(
            SELECT
                DISTINCT
                xiaji.id,
                xiaji.parent_id,
                xiaji.dept_name,
                xiaji.is_deleted
            FROM
                blade_dept shangji,
                blade_dept xiaji
            WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
                AND xiaji.is_deleted = 0
                AND xiaji.extend_type='机构'
                AND shangji.id = #{deptId}
            )a
        inner join(
            select
                id,tenant_code,title,category,release_time,content,create_user,create_time,update_user,update_time,
                case
                    when IFNULL(status,0) = 0 then '待发布'
                    when IFNULL(status,0) = 1 then '已发布'
                    else '已过期'
                end as statusShow
            from
                blade_notice
            where is_deleted = 0
                and left(release_time,10) = left(NOW(),10)
        )b on a.id = b.tenant_code
    </select>

    <!-- 查询通知公告列表 -->
    <sql id="tableSql">
        select
            b.*
        from(
            SELECT
                DISTINCT
                xiaji.id,
                xiaji.parent_id,
                xiaji.dept_name,
                xiaji.is_deleted
            FROM
                blade_dept shangji,
                blade_dept xiaji
            WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
                AND xiaji.is_deleted = 0
                AND xiaji.extend_type='机构'
                AND shangji.id = #{deptId}
            )a
        inner join(
            select
                id,tenant_code,title,category,release_time,content,create_user,create_time,update_user,update_time,
                case
                    when IFNULL(status,0) = 0 then '待发布'
                    when IFNULL(status,0) = 1 then '已发布'
                    else '已过期'
                end as statusShow
            from
                blade_notice
            where is_deleted = 0
                and left(release_time,10) &gt;= left(#{beginTime},10)
                and left(release_time,10) &lt; left(#{endTime},10)
            )b on a.id = b.tenant_code
        where 1=1
    </sql>

    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by release_time desc
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
        <if test="orderColumn != null and orderColumn != '' and order == 0">
            asc
        </if>
    </sql>

    <sql id="querySql">

        <if test="title != null and title != ''">
            and title = '%${title}%'
        </if>

        <if test="category != null and category != ''">
            and category like '%${category}%'
        </if>

        <if test="status != null and status != ''">
            and status like '%${status}%'
        </if>

    </sql>

    <select timeout="600" id="selectGetAll" resultMap="noticeResultMap"
            parameterType="org.springblade.anbiao.qiyeshouye.page.NoticePage">
        <if test="size == 0">
            select * from (
            <include refid="tableSql"/>
            )b
            where 1=1
            <include refid="querySql"/>
            <include refid="orderSql"/>
            limit ${total}
        </if>
        <if test="current != 0">
            select * from (
            <include refid="tableSql"/>
            )b
            where 1=1
            <include refid="querySql"/>
            <include refid="orderSql"/>
            limit ${offsetNo},${size}
        </if>
    </select>

    <select timeout="90" id="selectGetAllTotal"
            parameterType="org.springblade.anbiao.qiyeshouye.page.NoticePage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql"/>
        )d where 1 = 1
        <include refid="querySql"/>
    </select>

    <!--删除-->
    <delete id="deleteBind">
        update
            blade_notice
        set
            is_deleted=1,
            update_time = #{updateTime},
            update_user = #{updateUser}
        where id=#{Id}
    </delete>

    <select id="selectByIds" resultType="org.springblade.anbiao.qiyeshouye.entity.Notice">
        select * from blade_notice where id=#{id}
    </select>



</mapper>
