<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.anquanhuiyi.mapper.AnbiaoAnquanhuiyiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.anbiao.anquanhuiyi.entity.AnbiaoAnquanhuiyi">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="caozuoren" property="caozuoren" />
        <result column="caozuorenid" property="caozuorenid" />
        <result column="caozuoshijian" property="caozuoshijian" />
        <result column="huiyimingcheng" property="huiyimingcheng" />
        <result column="huiyibianhao" property="huiyibianhao" />
<!--        <result column="huiyileixing" property="huiyileixing" />-->
        <result column="huiyixingshi" property="huiyixingshi" />
<!--        <result column="huiyiriqi" property="huiyiriqi" />-->
        <result column="zhuchiren" property="zhuchiren" />
        <result column="jiluren" property="jiluren" />
        <result column="huiyididian" property="huiyididian" />
        <result column="huiyikaishishijian" property="huiyikaishishijian" />
        <result column="huiyijieshushijian" property="huiyijieshushijian" />
        <result column="huiyineirong" property="huiyineirong" />
        <result column="beizhu" property="beizhu" />
        <result column="huiyizhaopian" property="huiyizhaopian" />
        <result column="is_deleted" property="isDeleted" />
        <result column="createtime" property="createtime" />
        <result column="canhuirenshu" property="canhuirenshu" />
    </resultMap>

	<sql id="tableSql">
		select
			a.*,
            concat(left(a.huiyikaishishijian,10),'至',left(a.huiyijieshushijian,10)) as dateShow,
			b.dept_name as deptname
        <if test="aadApIds != null and aadApIds != '' ">
            ,case when IFNULL(c.add_time,'') != '' then 1 else 0 end as status
        </if>
		from
			anbiao_anquanhuiyi a
		inner join  (
			<include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
		) b on a.dept_id = b.id
    <if test="aadApIds != null and aadApIds != '' ">
        left join anbiao_anquanhuiyi_detail c on c.aad_aa_ids = a.id
    </if>
		where a.is_deleted = 0
			and left(a.huiyikaishishijian,7) >= left(#{huiyikaishishijian},7)
        <if test="aadApIds != null and aadApIds != '' ">
            and aad_ap_ids = #{aadApIds}
        </if>
	</sql>

	<sql id="orderSql">
		<!-- 默认排序规则 -->
		<if test="orderColumn == null or orderColumn == ''">
			order by huiyijieshushijian desc
		</if>
		<if test="orderColumn != null and orderColumn != ''">
			order by ${orderColumn}
		</if>
		<if test="orderColumn != null and orderColumn != '' and order != 0">
			desc
		</if>
		<if test="orderColumn != null and orderColumn != '' and order == 0">
			asc
		</if>
	</sql>

	<sql id="querySql">

		<if test="huiyimingcheng != null and huiyimingcheng != '' ">
			and huiyimingcheng like '%${huiyimingcheng}%'
		</if>

		<if test="deptname != null and deptname != ''">
			and deptname like '%${deptname}%'
		</if>

	</sql>

	<select timeout="600" id="selectGetAll" resultMap="BaseResultMap"
			parameterType="org.springblade.anbiao.anquanhuiyi.page.AnQuanHuiYiPage">
		<if test="size == 0">
			select * from (
			<include refid="tableSql"/>
			)b
			where 1=1
			<include refid="querySql"/>
			<include refid="orderSql"/>
			limit ${total}
		</if>
		<if test="current != 0">
			select * from (
			<include refid="tableSql"/>
			)b
			where 1=1
			<include refid="querySql"/>
			<include refid="orderSql"/>
			limit ${offsetNo},${size}
		</if>
	</select>

	<select timeout="90" id="selectGetAllTotal"
			parameterType="org.springblade.anbiao.anquanhuiyi.page.AnQuanHuiYiPage"
			resultType="int">
		select COUNT(1) from (
		<include refid="tableSql"/>
		)d where 1 = 1
		<include refid="querySql"/>
	</select>

    <select id="selectAnquanHuiYiMonth" resultType="org.springblade.anbiao.anquanhuiyi.entity.AnbiaoAnquanhuiyi">
        select dept_id,id,
               date_format(huiyikaishishijian, '%Y-%m') months
        from   anbiao_anquanhuiyi
        where  huiyikaishishijian &gt;= concat(#{year},'-01-01 00:00:00') and huiyikaishishijian &lt;= concat(#{year},'-12-31 23:59:59')
          and    is_deleted = 0
          and    dept_id=#{deptId}
        group by months
    </select>

    <select id="selectLedgerList" resultType="org.springblade.anbiao.anquanhuiyi.VO.AnquanhuiyiledgerVO">
        SELECT
            c.dept_name as deptName,
            a.huiyimingcheng ,
            (case when a.huiyixingshi = 0 then '线上'
                  else '线下' end) as huiyixingshi,
            a.huiyikaishishijian ,
            a.zhuchiren ,
            a.canhuirenshu ,
            a.huiyineirong ,
            b.*
        FROM
            (
                SELECT
                    id,dept_id,huiyimingcheng,huiyixingshi,huiyikaishishijian,zhuchiren,canhuirenshu,huiyineirong,is_deleted
                FROM
                    anbiao_anquanhuiyi
                where
                    is_deleted=0
            ) a
                inner JOIN ( SELECT id, dept_name FROM blade_dept ) c ON c.id = a.dept_id
                LEFT JOIN(
                SELECT
                    aad_aa_ids,aad_ap_name as aadApName,add_time AS addTime,add_ap_head_portrait AS addApHeadPortrait,add_ap_autograph AS addApAutograph
                FROM
                    anbiao_anquanhuiyi_detail
-- 	where
-- 		add_ap_being_joined = 1
            ) b on b.aad_aa_ids=a.id
    </select>
</mapper>
