<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.chuchejiancha.mapper.AnbiaoCarExamineInfoMapper">

    <resultMap id="AnbiaoCarExamineInfoResultMap" type="org.springblade.anbiao.chuchejiancha.entity.AnbiaoCarExamineInfo">
    </resultMap>

    <resultMap id="AnbiaoCarExamineInfoVOResultMap" type="org.springblade.anbiao.chuchejiancha.vo.AnbiaoCarExamineInfoVO">
    </resultMap>

	<resultMap id="AnbiaoCarExamineInfoTZVOResultMap" type="org.springblade.anbiao.chuchejiancha.vo.AnbiaoCarExamineInfoTZVO">
	</resultMap>


    <sql id="tableDeptYHSql">
        <if test="jsyId != null and jsyId != '' ">
            select * from (
                select
                    distinct
                    a.day as date,
                    case when IFNULL(b.vehid,'') = '' then (
                    select vehid from anbiao_cheliang_jiashiyuan_daily  where jiashiyuanid = #{jsyId} and vstatus = 1 )
                    else b.vehid end as vehid,
                    case when IFNULL(b.gvehid,'') = '' then (
                    select gvehid from anbiao_cheliang_jiashiyuan_daily where jiashiyuanid = #{jsyId} and gstatus = 1 )
                    else b.gvehid end as gvehid,
                    b.cheliangpaizhao,
                    b.chepaiyanse,
                    b.jiashiyuanxingming,
                    b.shoujihaoma,
                    b.deptname,
                    b.id,
                    b.jsyid,
                    b.`status`,
                    b.type,
                    b.vehimg,
                    b.remark,
                    b.fujianremark,
                    b.jcrsignatrue,
                    b.address,
                    b.statusshow
                from
                    anbiao_help_topic_time a
                LEFT JOIN(
                    select
                        a.id as vehid,
                        a.cheliangpaizhao,
                        a.chepaiyanse,
                        c.jiashiyuanxingming,
                        c.shoujihaoma,
                        d.dept_name as deptname,
                        b.id,
                        b.gvehid,
                        b.jsyid,
                        b.`status`,
                        b.type,
                        b.date,
                        b.vehimg,
                        b.remark,
                        b.fujianremark,
                        b.jcrsignatrue,
                        b.address,
                        case when IFNULL(b.id,'') = '' then '未完成' else '已完成' end as statusshow
                    from(
                        select * from anbiao_vehicle where is_deleted = 0
                    ) a
                    left join (
                        select * from anbiao_car_examine_info
                        where left(date,10) &lt;= left(#{date},10)
                            and left(date,10) >= date_add(#{date}, interval -30 day)
                    ) b on b.vehid = a.id
                left join anbiao_jiashiyuan c on b.jsyid = c.id and c.isdelete = 0
                inner join  (
                    <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
                    ) d on c.dept_id = d.id
                where 1=1
                    and b.jsyid = #{jsyId}
                )b on a.day = b.date
                where a.day &lt;= left(#{date},10)
                    and a.day >= date_add(#{date}, interval -30 day)
            )a
            where
            <!--a.date >= (
                select left(avx_register_date,10) as createTime from anbiao_vehicle_xingshizheng where avx_av_ids = vehid
            )
            and -->
            a.date >= date_add(#{date}, interval -30 day)
        </if>
        <if test="jsyId == null or jsyId == '' ">
        select
            a.id as vehid,
            a.cheliangpaizhao,
            a.chepaiyanse,
            c.jiashiyuanxingming,
            c.shoujihaoma,
            d.dept_name as deptname,
            b.id,
            b.jsyid,
            b.`status`,
            b.type,
            b.date,
            b.vehimg,
            b.remark,
            b.fujianremark,
            b.jcrsignatrue,
            b.address,
            case when IFNULL(b.id,'') = '' then '未完成' else '已完成' end as statusshow
        from
            anbiao_vehicle a
            left join (
                select * from anbiao_car_examine_info
                where left(date,7) = left(#{date},7)
            ) b on b.vehid = a.id
            left join anbiao_jiashiyuan c on b.jsyid = c.id and c.isdelete = 0
            inner join  (
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) d on a.dept_id = d.id
        where 1=1
            and a.is_deleted = 0
        </if>
    </sql>

    <sql id="queryDeptYHSql">
        <if test="cheliangpaizhao != null and cheliangpaizhao != '' ">
            and cheliangpaizhao like '%${cheliangpaizhao}%'
        </if>

        <if test="deptname != null and deptname != '' ">
            and deptname like '%${deptname}%'
        </if>

        <if test="statusshow != null and statusshow != '' ">
            and statusshow = #{statusshow}
        </if>
    </sql>

    <sql id="orderDeptYHSql">
        <!-- 默认排序规则 -->
        ORDER BY date desc,statusshow,cheliangpaizhao desc
    </sql>

    <select id="selectCarExamineInfoPage" resultMap="AnbiaoCarExamineInfoVOResultMap"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage" >
        <if test="size == 0" >
            select * from (
            <include refid="tableDeptYHSql" />
            )b
            where 1=1
            <include refid="queryDeptYHSql" />
            <include refid="orderDeptYHSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableDeptYHSql" />
            )b
            where 1=1
            <include refid="queryDeptYHSql" />
            <include refid="orderDeptYHSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectCarExamineInfoPageTubingend" resultMap="AnbiaoCarExamineInfoVOResultMap"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage" >
        <if test="size == 0" >
            select
            a.id as vehid,
            a.cheliangpaizhao,
            a.chepaiyanse,
            c.jiashiyuanxingming,
            c.shoujihaoma,
            d.dept_name as deptname,
            b.id,
            b.jsyid,
            b.`status`,
            b.type,
            b.date,
            b.vehimg,
            b.remark,
            b.fujianremark,
            b.jcrsignatrue,
            b.address,
            case when IFNULL(b.id,'') = '' then '未完成' else '已完成' end as statusshow
            from
            anbiao_vehicle a
            left join (
            select * from anbiao_car_examine_info
            where date = #{date}
            ) b on b.vehid = a.id
            left join anbiao_jiashiyuan c on b.jsyid = c.id and c.isdelete = 0
            inner join  (
            <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) d on a.dept_id = d.id
            where 1=1
            and a.is_deleted = 0
            limit ${total}
        </if>
        <if test="current != 0" >
            select
            a.id as vehid,
            a.cheliangpaizhao,
            a.chepaiyanse,
            c.jiashiyuanxingming,
            c.shoujihaoma,
            d.dept_name as deptname,
            b.id,
            b.jsyid,
            b.`status`,
            b.type,
            b.date,
            b.vehimg,
            b.remark,
            b.fujianremark,
            b.jcrsignatrue,
            b.address,
            case when IFNULL(b.id,'') = '' then '未完成' else '已完成' end as statusshow
            from
            anbiao_vehicle a
            left join (
            select * from anbiao_car_examine_info
            where date = #{date}
            ) b on b.vehid = a.id
            left join anbiao_jiashiyuan c on b.jsyid = c.id and c.isdelete = 0
            inner join  (
            <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) d on a.dept_id = d.id
            where 1=1
            and a.is_deleted = 0
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectCarExamineInfoTubingendTotal"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage"
            resultType="int">
        select COUNT(1) from (
        select
        a.id as vehid,
        a.cheliangpaizhao,
        a.chepaiyanse,
        c.jiashiyuanxingming,
        c.shoujihaoma,
        d.dept_name as deptname,
        b.id,
        b.jsyid,
        b.`status`,
        b.type,
        b.date,
        b.vehimg,
        b.remark,
        b.fujianremark,
        b.jcrsignatrue,
        b.address,
        case when IFNULL(b.id,'') = '' then '未完成' else '已完成' end as statusshow
        from
        anbiao_vehicle a
        left join (
        select * from anbiao_car_examine_info
        where date = #{date}
        ) b on b.vehid = a.id
        left join anbiao_jiashiyuan c on b.jsyid = c.id and c.isdelete = 0
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) d on a.dept_id = d.id
        where 1=1
        and a.is_deleted = 0
        )d
        where 1 = 1
    </select>

    <select id="selectCarExamineInfoTotal"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableDeptYHSql" />
        )d
        where 1 = 1
        <include refid="queryDeptYHSql" />
    </select>


    <!-- 查询出车检查列表 -->
    <sql id="tableAnBiaoCheckCarSql">
        select
            b.dept_name as deptName,a.*,right(a.date,2) as dateShow,
            v.cheliangpaizhao,
            j.jiashiyuanxingming
        from
            anbiao_car_examine_info a
            inner join  (
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.deptid = b.id
            LEFT JOIN anbiao_vehicle v on v.id = a.Vehid and v.is_deleted = 0
            LEFT JOIN anbiao_jiashiyuan j on j.id = a.jsyid
        where a.isdelete = 0
        <if test="deptName != null and deptName != ''">
            and b.dept_name like '%${deptName}%'
        </if>

        <if test="vehId != null and vehId != '' and vehIdidss == null">
            and a.vehId = #{vehId}
        </if>

        <if test="vehIdidss != null and vehIdidss != ''">
            and a.vehId in
            <foreach collection="vehIdidss" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>

        <if test="date != null and date != ''">
            and year(a.date) = left(#{date},4)
            <if test="date != null and date != '' and date.length() == 10 ">
                and month(a.date) = month(#{date})
            </if>
            <if test="date != null and date != '' and date.length() == 7 ">
                and month(a.date) = right(#{date},2)
            </if>
        </if>

        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != '' ">
            and a.date >= #{beginTime}
            and a.date &lt;= #{endTime}
        </if>

        <if test="createId != null and createId != ''">
            and a.createid = #{createId}
        </if>
        order by left(a.date,10) asc
    </sql>

    <select timeout="600" id="selectAnBiaoCheckCarALLPage" resultMap="AnbiaoCarExamineInfoVOResultMap"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnBiaoCheckCarPage">
            <include refid="tableAnBiaoCheckCarSql"/>
    </select>

	<sql id="tableDeptYHTZSql">
<!--        SELECT-->
<!--            DISTINCT-->
<!--            deptId,-->
<!--            deptName,-->
<!--            cheliangpaizhao,-->
<!--            vehId,-->
<!--            jiashiyuanxingming,-->
<!--            COUNT(date) as count,-->
<!--            CONCAT(#{beginTime},'至',#{endTime}) as date-->
<!--        FROM(-->
<!--            select-->
<!--                DISTINCT-->
<!--                b.id as deptId,-->
<!--                b.dept_name as deptName,-->
<!--                v.cheliangpaizhao,-->
<!--                v.id as vehId,-->
<!--                a.jiashiyuanxingming,-->
<!--                a.date,-->
<!--                a.`status`,-->
<!--                a.statusshow,-->
<!--                a.jcrsignatrueshow-->
<!--            from-->
<!--                anbiao_vehicle v-->
<!--            LEFT JOIN(-->
<!--                select-->
<!--                    a.Vehid,-->
<!--                    case when ifnull(j.jiashiyuanxingming,'') = '' then u.name else j.jiashiyuanxingming end as jiashiyuanxingming,-->
<!--                    a.date,-->
<!--                    a.`status`,-->
<!--                    case when IFNULL(a.id,'') != '' then '1' else '0' end as statusshow,-->
<!--                    case when IFNULL(a.jcrsignatrue,'') != '' then '1' else '0' end as jcrsignatrueshow-->
<!--                from-->
<!--                    anbiao_car_examine_info a-->
<!--                    LEFT JOIN anbiao_jiashiyuan j on j.id = a.jsyid-->
<!--                    LEFT JOIN blade_user u ON u.id = a.jsyid-->
<!--                where a.isdelete = 0-->
<!--                <if test="beginTime != null and beginTime != '' and endTime != null and endTime != '' ">-->
<!--                    and a.date >= #{beginTime}-->
<!--                    and a.date &lt;= #{endTime}-->
<!--                </if>-->
<!--                ) a on v.id = a.Vehid-->
<!--            inner join  (-->
<!--                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>-->
<!--            ) b on v.dept_id = b.id-->
<!--        where 1=1-->
<!--            and v.is_deleted = 0-->
<!--            and v.cheliangpaizhao not like '%挂%'-->
<!--        <if test="cheliangpaizhao != null and cheliangpaizhao != '' ">-->
<!--            and v.cheliangpaizhao like '%${cheliangpaizhao}%'-->
<!--        </if>-->

<!--        <if test="deptname != null and deptname != ''">-->
<!--            and b.dept_name like '%${deptname}%'-->
<!--        </if>-->
<!--        ) b-->
<!--        GROUP BY-->
<!--            deptId,-->
<!--            deptName,-->
<!--            cheliangpaizhao,-->
<!--            vehId,-->
<!--            jiashiyuanxingming-->



        SELECT
        deptId,
        deptName,
        cheliangpaizhao,
        vehId,
        jiashiyuanxingming,
        COUNT(date) as count,
        CONCAT(#{beginTime},'至',#{endTime}) AS date,
        b.`status` ,
        b.statusshow ,
        b.jcrsignatrueshow
        FROM
        (
        SELECT DISTINCT
        b.id as deptId,
        b.dept_name as deptName,
        v.cheliangpaizhao,
        v.id as vehId,
        COALESCE(j.jiashiyuanxingming, u.name) as jiashiyuanxingming,
        a.date,
        a.`status` as status,
        a.statusshow as statusshow,
        a.jcrsignatrueshow as jcrsignatrueshow
        FROM
        anbiao_vehicle v
        LEFT JOIN (
        SELECT
        a.Vehid,
        a.jsyid,
        a.date,
        a.`status`,
        case when IFNULL(a.id,'') != '' then '1' else '0' end as statusshow,
        case when IFNULL(a.jcrsignatrue,'') != '' then '1' else '0' end as jcrsignatrueshow
        FROM
        anbiao_car_examine_info a
        WHERE
        a.isdelete = 0
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != '' ">
            and a.date >= #{beginTime}
            and a.date &lt;= #{endTime}
        </if>
        ) a ON v.id = a.Vehid
        LEFT JOIN anbiao_jiashiyuan j ON j.id = a.jsyid
        LEFT JOIN blade_user u ON u.id = a.jsyid
        INNER JOIN (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b ON v.dept_id = b.id
        WHERE
        v.is_deleted = 0
        AND v.cheliangpaizhao NOT LIKE '%挂%'
        <if test="cheliangpaizhao != null and cheliangpaizhao != '' ">
            and v.cheliangpaizhao like '%${cheliangpaizhao}%'
        </if>

        <if test="deptname != null and deptname != ''">
            and b.dept_name like '%${deptname}%'
        </if>
        ) b
        GROUP BY
        deptId,
        deptName,
        cheliangpaizhao,
        vehId,
        jiashiyuanxingming

	</sql>

	<sql id="queryDeptYHTZSql">

		<if test="cheliangpaizhao != null and cheliangpaizhao != '' ">
			and cheliangpaizhao like '%${cheliangpaizhao}%'
		</if>

        <if test="deptname != null and deptname != ''">
            and deptName like '%${deptname}%'
        </if>

	</sql>

	<sql id="orderDeptYHTZSql">
		<!-- 默认排序规则 -->
		ORDER BY date desc
	</sql>

	<select id="selectCarExamineInfoTZPage" resultMap="AnbiaoCarExamineInfoTZVOResultMap"
			parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage" >
		<if test="size == 0" >
			select * from (
			<include refid="tableDeptYHTZSql" />
			)b
			where 1=1
			<include refid="orderDeptYHTZSql" />
			limit ${total}
		</if>
		<if test="current != 0" >
			select * from (
			<include refid="tableDeptYHTZSql" />
			)b
			where 1=1
			<include refid="orderDeptYHTZSql" />
			limit ${offsetNo},${size}
		</if>
	</select>

	<select id="selectCarExamineInfoTZTotal"
			parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage"
			resultType="int">
		select COUNT(1) from (
		<include refid="tableDeptYHTZSql" />
		)d
		where 1 = 1
	</select>

    <select timeout="600" id="selectDeptVeh" resultMap="AnbiaoCarExamineInfoTZVOResultMap"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnBiaoCheckCarPage">
        SELECT
            DISTINCT
            b.dept_name AS deptName,
            v.cheliangpaizhao,
            v.id as vehId
        FROM(
            <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b
            INNER JOIN anbiao_vehicle v ON v.dept_id = b.id and v.cheliangpaizhao not like '%挂'
        where 1=1
            and v.is_deleted = 0
        <if test="vehId != null and vehId != '' and vehIdidss == null">
            and v.id = #{vehId}
        </if>

        <if test="vehIdidss != null and vehIdidss != ''">
            and v.id in
            <foreach collection="vehIdidss" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select timeout="600" id="selectDeptVehExamine" resultMap="AnbiaoCarExamineInfoTZVOResultMap"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnBiaoCheckCarPage">
        SELECT
            RIGHT (date, 2 ) AS date,
            `status`
        from
            anbiao_car_examine_info
        where 1=1
        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != '' ">
            <!--and date >= #{beginTime}
            and date &lt;= #{endTime}-->
            and year(date) = left(#{beginTime},4)
            and month(date) = month(#{endTime})
        </if>
        <if test="vehId != null and vehId != '' ">
            and vehid = #{vehId}
        </if>
    </select>

    <select id="selectSafetyCheckMingXi" resultType="org.springblade.anbiao.chuchejiancha.vo.SafetyCheckMingXiVO"
            parameterType="org.springblade.anbiao.chuchejiancha.vo.SafetyCheckMingXiVO">
        SELECT
        a.jcrsignatrue,
        b.dept_name as deptName,
        f.jiashiyuanxingming,
        c.cheliangpaizhao,
        a.id as infoId,
        a.vehid,
        a.deptid as deptId,
        a.`status`,
        a.date,

        d.id as remarkId,
        d.examid,
        d.xiangid

        FROM
        `anbiao_car_examine_info` a
        INNER JOIN (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on b.id = a.deptid
        LEFT JOIN anbiao_vehicle c ON a.vehid = c.id and c.is_deleted=0
        left join anbiao_car_examine_info_remark d on a.id = d.examid
        LEFT JOIN anbiao_cheliang_jiashiyuan_daily e on c.id = e.vehid and e.vstatus = 1
        left join anbiao_jiashiyuan f on e.jiashiyuanid = f.id and f.isdelete=0
        WHERE
        <if test="vehid != null and vehid != ''">
             c.id=#{vehid}
        </if>
<!--         	and a.date >= "2023-03-27"-->
<!--        	and a.date <= "2023-04-07"-->
        <if test="date != null and date != ''">
        and YEAR(a.date)=YEAR(#{date})
        and MONTH(a.date)=MONTH(#{date})
        </if>
        ORDER BY a.id,a.date

    </select>

    <select id="selectSafetyCheckScore" resultType="org.springblade.anbiao.chuchejiancha.vo.SafetyCheckMingXiVO"
            parameterType="org.springblade.anbiao.chuchejiancha.vo.SafetyCheckMingXiVO">

        SELECT
            *
        FROM
            `anbiao_car_examine_info`
        where
                isdelete=0
        <if test="deptId != null and deptId != ''">
                and deptid=#{deptId}
        </if>
        <if test="month != null and month != ''">
                and MONTH(date)=#{month}
        </if>
        <if test="year != null and year != ''">
                and YEAR(date)=#{year}
        </if>

    </select>

</mapper>
