<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.chuchejiancha.mapper.AnbiaoCarExamineInfoMapper">

    <resultMap id="AnbiaoCarExamineInfoResultMap" type="org.springblade.anbiao.chuchejiancha.entity.AnbiaoCarExamineInfo">
    </resultMap>

    <resultMap id="AnbiaoCarExamineInfoVOResultMap" type="org.springblade.anbiao.chuchejiancha.vo.AnbiaoCarExamineInfoVO">
    </resultMap>

	<resultMap id="AnbiaoCarExamineInfoTZVOResultMap" type="org.springblade.anbiao.chuchejiancha.vo.AnbiaoCarExamineInfoTZVO">
	</resultMap>


    <sql id="tableDeptYHSql">
        <if test="jsyId != null and jsyId != '' ">
            select * from (
                select
                    distinct
                    a.day as date,
                    case when IFNULL(b.vehid,'') = '' then (
                    select vehid from anbiao_cheliang_jiashiyuan_daily  where jiashiyuanid = #{jsyId} and vstatus = 1 )
                    else b.vehid end as vehid,
                    case when IFNULL(b.gvehid,'') = '' then (
                    select gvehid from anbiao_cheliang_jiashiyuan_daily where jiashiyuanid = #{jsyId} and gstatus = 1 )
                    else b.gvehid end as gvehid,
                    b.cheliangpaizhao,
                    b.chepaiyanse,
                    b.jiashiyuanxingming,
                    b.shoujihaoma,
                    b.deptname,
                    b.id,
                    b.jsyid,
                    b.`status`,
                    b.type,
                    b.vehimg,
                    b.remark,
                    b.fujianremark,
                    b.jcrsignatrue,
                    b.address,
                    b.statusshow
                from
                    anbiao_help_topic_time a
                LEFT JOIN(
                    select
                        a.id as vehid,
                        a.cheliangpaizhao,
                        a.chepaiyanse,
                        c.jiashiyuanxingming,
                        c.shoujihaoma,
                        d.dept_name as deptname,
                        b.id,
                        b.gvehid,
                        b.jsyid,
                        b.`status`,
                        b.type,
                        b.date,
                        b.vehimg,
                        b.remark,
                        b.fujianremark,
                        b.jcrsignatrue,
                        b.address,
                        case when IFNULL(b.id,'') = '' then '未完成' else '已完成' end as statusshow
                    from(
                        select * from anbiao_vehicle where is_deleted = 0
                    ) a
                    left join (
                        select * from anbiao_car_examine_info
                        where left(date,10) &lt;= left(#{date},10)
                    ) b on b.vehid = a.id
                left join anbiao_jiashiyuan c on b.jsyid = c.id and c.isdelete = 0
                inner join  (
                    <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
                    ) d on a.dept_id = d.id
                where 1=1
                    and b.jsyid = #{jsyId}
                )b on a.day = b.date
                where a.day &lt;= left(#{date},10)
            )a
            where
            <!--a.date >= (
                select left(avx_register_date,10) as createTime from anbiao_vehicle_xingshizheng where avx_av_ids = vehid
            )
            and -->
            a.date >= date_add(#{date}, interval -30 day)
        </if>
        <if test="jsyId == null or jsyId == '' ">
        select
            a.id as vehid,
            a.cheliangpaizhao,
            a.chepaiyanse,
            c.jiashiyuanxingming,
            c.shoujihaoma,
            d.dept_name as deptname,
            b.id,
            b.jsyid,
            b.`status`,
            b.type,
            b.date,
            b.vehimg,
            b.remark,
            b.fujianremark,
            b.jcrsignatrue,
            b.address,
            case when IFNULL(b.id,'') = '' then '未完成' else '已完成' end as statusshow
        from
            anbiao_vehicle a
            left join (
                select * from anbiao_car_examine_info
                where left(date,7) = left(#{date},7)
            ) b on b.vehid = a.id
            left join anbiao_jiashiyuan c on b.jsyid = c.id and c.isdelete = 0
            inner join  (
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) d on a.dept_id = d.id
        where 1=1
        </if>
    </sql>

    <sql id="queryDeptYHSql">
        <if test="cheliangpaizhao != null and cheliangpaizhao != '' ">
            and cheliangpaizhao like '%${cheliangpaizhao}%'
        </if>

        <if test="deptname != null and deptname != '' ">
            and deptname like '%${deptname}%'
        </if>

        <if test="statusshow != null and statusshow != '' ">
            and statusshow = #{statusshow}
        </if>
    </sql>

    <sql id="orderDeptYHSql">
        <!-- 默认排序规则 -->
        ORDER BY date desc,statusshow,cheliangpaizhao desc
    </sql>

    <select id="selectCarExamineInfoPage" resultMap="AnbiaoCarExamineInfoVOResultMap"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage" >
        <if test="size == 0" >
            select * from (
            <include refid="tableDeptYHSql" />
            )b
            where 1=1
            <include refid="queryDeptYHSql" />
            <include refid="orderDeptYHSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableDeptYHSql" />
            )b
            where 1=1
            <include refid="queryDeptYHSql" />
            <include refid="orderDeptYHSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectCarExamineInfoTotal"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableDeptYHSql" />
        )d
        where 1 = 1
        <include refid="queryDeptYHSql" />
    </select>


    <!-- 查询出车检查列表 -->
    <sql id="tableAnBiaoCheckCarSql">
        select
            b.dept_name as deptName,a.*,right(a.date,2) as dateShow,
            v.cheliangpaizhao,
            j.jiashiyuanxingming
        from
            anbiao_car_examine_info a
            inner join  (
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.deptid = b.id
            LEFT JOIN anbiao_vehicle v on v.id = a.Vehid
            LEFT JOIN anbiao_jiashiyuan j on j.id = a.jsyid
        where a.isdelete = 0
        <if test="deptName != null and deptName != ''">
            and b.dept_name like '%${deptName}%'
        </if>

        <if test="vehId != null and vehId != ''">
            and a.vehId = #{vehId}
        </if>

        <if test="date != null and date != ''">
            and year(a.date) = left(#{date},4)
            <if test="date != null and date != '' and date.length() == 10 ">
                and month(a.date) = month(#{date})
            </if>
            <if test="date != null and date != '' and date.length() == 7 ">
                and month(a.date) = right(#{date},2)
            </if>
        </if>

        <if test="beginTime != null and beginTime != '' and endTime != null and endTime != '' ">
            and a.date >= #{beginTime}
            and a.date &lt;= #{endTime}
        </if>

        <if test="createId != null and createId != ''">
            and a.createid = #{createId}
        </if>
        order by left(a.date,10) asc
    </sql>

    <select timeout="600" id="selectAnBiaoCheckCarALLPage" resultMap="AnbiaoCarExamineInfoVOResultMap"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnBiaoCheckCarPage">
            <include refid="tableAnBiaoCheckCarSql"/>
    </select>

	<sql id="tableDeptYHTZSql">
        SELECT
            DISTINCT
            deptId,
            deptName,
            cheliangpaizhao,
            vehId,
            jiashiyuanxingming,
<!--            status,-->
            COUNT(date) as count,
            CONCAT(#{beginTime},'至',#{endTime}) as date
        FROM(
            select
                DISTINCT
                b.id as deptId,
                b.dept_name as deptName,
                v.cheliangpaizhao,
                v.id as vehId,
                case when ifnull(j.jiashiyuanxingming,'') = '' then u.name else j.jiashiyuanxingming end as jiashiyuanxingming,
                a.date,
                a.`status`,
                case when IFNULL(a.id,'') != '' then '1' else '0' end as statusshow,
                case when IFNULL(a.jcrsignatrue,'') != '' then '1' else '0' end as jcrsignatrueshow
            from
                anbiao_car_examine_info a
            inner join  (
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.deptid = b.id
            LEFT JOIN anbiao_vehicle v on v.id = a.Vehid
            LEFT JOIN anbiao_jiashiyuan j on j.id = a.jsyid
            LEFT JOIN blade_user u ON u.id = a.jsyid
            where a.isdelete = 0
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != '' ">
                and a.date >= #{beginTime}
                and a.date &lt;= #{endTime}
            </if>
            ) b
        GROUP BY
            deptId,
            deptName,
            cheliangpaizhao,
            vehId,
            jiashiyuanxingming
<!--        ,-->
<!--            status-->
	</sql>

	<sql id="queryDeptYHTZSql">

		<if test="cheliangpaizhao != null and cheliangpaizhao != '' ">
			and cheliangpaizhao like '%${cheliangpaizhao}%'
		</if>

        <if test="deptname != null and deptname != ''">
            and deptName like '%${deptname}%'
        </if>

	</sql>

	<sql id="orderDeptYHTZSql">
		<!-- 默认排序规则 -->
		ORDER BY date desc
	</sql>

	<select id="selectCarExamineInfoTZPage" resultMap="AnbiaoCarExamineInfoTZVOResultMap"
			parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage" >
		<if test="size == 0" >
			select * from (
			<include refid="tableDeptYHTZSql" />
			)b
			where 1=1
			<include refid="queryDeptYHTZSql" />
			<include refid="orderDeptYHTZSql" />
			limit ${total}
		</if>
		<if test="current != 0" >
			select * from (
			<include refid="tableDeptYHTZSql" />
			)b
			where 1=1
			<include refid="queryDeptYHTZSql" />
			<include refid="orderDeptYHTZSql" />
			limit ${offsetNo},${size}
		</if>
	</select>

	<select id="selectCarExamineInfoTZTotal"
			parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage"
			resultType="int">
		select COUNT(1) from (
		<include refid="tableDeptYHTZSql" />
		)d
		where 1 = 1
		<include refid="queryDeptYHTZSql" />
	</select>
</mapper>
