<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.train.mapper.ExamSignatrueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.train.entity.ExamSignatrue">
    </resultMap>

    <select id="getSignatrue" resultType="org.springblade.train.entity.ExamSignatrue">
        SELECT DISTINCT
            c.*
        FROM
            relation_unit_course a,
            biz_test_record b,
            base_exam_signatrue c
        WHERE
            a.id = b.rel_unit_course_id
          AND c.examid = a.id
          AND c.studentid = b.student_id
          AND b.student_id = #{studentId}
          AND a.course_id = #{coursewareId}
        ORDER BY createtime DESC
            LIMIT 1
    </select>
</mapper>
