<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.train.mapper.StudentMapper">


    <!--根据企业名称获取企业相关信息-->
    <select id="getStudentById" resultType="org.springblade.train.entity.Student">
        select * from base_student where deleted = 0 and id = #{driverId} limit 1
    </select>


</mapper>
