<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.alarm.mapper.AlarmhandleresultMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="alarmhandleresultResultMap" type="org.springblade.alarm.vo.AlarmhandleresultVO">
        <id column="id" property="id"/>
        <result column="baojingid" property="baojingid"/>
        <result column="baojingleixing" property="baojingleixing"/>
        <result column="remark" property="remark"/>
        <result column="chulizhuangtai" property="chulizhuangtai"/>
        <result column="chulixingshi" property="chulixingshi"/>
        <result column="chulimiaoshu" property="chulimiaoshu"/>
        <result column="chulirenid" property="chulirenid"/>
        <result column="chuliren" property="chuliren"/>
        <result column="chulishijian" property="chulishijian"/>
        <result column="fujian" property="fujian"/>
        <result column="beizhu" property="beizhu"/>
        <result column="qiyemingcheng" property="qiyemingcheng"/>
        <result column="qiyeid" property="qiyeid"/>
        <result column="cheliangpaizhao" property="cheliangpaizhao"/>
        <result column="chepaiyanse" property="chepaiyanse"/>
        <result column="hedingzhuangtai" property="hedingzhuangtai"/>
        <result column="hedingrenyuan" property="hedingrenyuan"/>
        <result column="hedingrenyuanid" property="hedingrenyuanid"/>
        <result column="hedingshijian" property="hedingshijian"/>
        <result column="shensushenheren" property="shensushenheren"/>
        <result column="shensushenheshijian" property="shensushenheshijian"/>
        <result column="shensushenhebiaoshi" property="shensushenhebiaoshi"/>
        <result column="shensusudu" property="shensusudu"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="idlist" type="java.lang.String">
        <result column="id" javaType="java.lang.String"/>
    </resultMap>

    <update id="updateRibao">
        UPDATE baobiao_baobiaomulu
        SET processRate = #{chulilv,jdbcType=CHAR}
        WHERE id = #{id}
    </update>

    <select id="selectIdList" parameterType="org.springblade.alarm.entity.Alarmhandleresult" resultMap="alarmhandleresultResultMap">
        select id,shensushenhebiaoshi,baojingid from baobiao_alarmhandleresult
        where 1=1 and ifnull(is_deleted,0)=0
        and baojingleixing = #{baojingleixing}
        <if test=" remark == true">
            and remark = 1
        </if>
        <if test=" remark == false">
            and remark = 0
        </if>
        and baojingid in
        <foreach item="item" index="index" collection="idss" open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>

    <update id="removeByAlmIds" parameterType="java.lang.String" >
        update baobiao_alarmhandleresult
        set is_deleted = 1
        where ifnull(is_deleted,0)=0
        and baojingid = #{baojingid}
    </update>

    <select id="selectChuliDetail" parameterType="int" resultMap="alarmhandleresultResultMap">
    select 	id,
	baojingid,
	baojingleixing,
	remark,
	chulizhuangtai,
	chulixingshi,
	chulimiaoshu,
	chulirenid,
	chuliren,
	chulishijian,
	fujian,
	beizhu,
	qiyemingcheng,
	qiyeid,
	cheliangpaizhao,
	chepaiyanse,
	hedingrenyuan,
	hedingrenyuanid,
	hedingshijian,
	shensushenheren,
	shensushenheshijian,
	shensushenhebiaoshi,
	shensusudu,
	is_deleted  from baobiao_alarmhandleresult where baojingid=#{baojingid} and IFNULL(is_deleted,'')!=1
	AND remark = 1
	order by chulishijian desc
	limit 1
    </select>
    <select id="selectBybaojin" resultType="org.springblade.alarm.entity.Alarmhandleresult">
        SELECT
	        *
        FROM
	        baobiao_alarmhandleresult
        WHERE
	        baojingid = #{id}
            AND is_deleted = 0
            AND baojingleixing = #{baojingleixing}
    </select>
    <!--根据ids和单位id查询报警数量-->
    <select id="selectAlarmCountByIdsAndDetpId" resultType="java.lang.Integer">
        SELECT
            count(*)
        from(
            SELECT id from baobiao_driverbehavior where cid = (select id from blade_dept where dept_name = #{deptName} and is_deleted = 0)
            UNION ALL
            SELECT AlarmReportID as id from baobiao_alarmsummary_cutofftime a,anbiao_vehicle b where a.VehId = b.id and b.dept_id = (select id from blade_dept where dept_name = #{deptName} and is_deleted = 0)
        ) a where a.id in
        <foreach collection="idss" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>

<!--        SELECT count(*) from (-->
<!--        SELECT id from baobiao_driverbehavior where company=#{deptName}-->
<!--        UNION ALL-->
<!--        SELECT AlarmReportID as id from baobiao_alarmsummary_cutofftime where company=#{deptName}-->
<!--      ) a where a.id in-->
<!--        <foreach collection="idss" item="id" index="index" open="(" close=")" separator=",">-->
<!--            #{id}-->
<!--        </foreach>-->
    </select>

    <select id="gpsweichuli" resultType="org.springblade.alarm.entity.AlarmWeichuliType">
        select
            a.AlarmType,
            COUNT(1) as number,
            CONCAT(#{date},'至',left(now(),10)) as times
        from(
            SELECT
                a.AlarmReportID,
                b.dept_id,
                a.AlarmType
            FROM
                baobiao_alarmsummary_cutofftime a,
                (select id,dept_id from anbiao_vehicle) b
            where 1=1
            <if test=" type == 'ss' ">
                and CutoffTime >= CONCAT( left(#{date},10), ' 00:00:00')
                and CutoffTime &lt;= CONCAT( left(now(),10), ' 23:59:59')
            </if>
            <if test=" type == 'true' ">
                and CutoffTime >= CONCAT( #{date}, ' 00:00:00')
                and CutoffTime &lt; CONCAT( left(now(),10), ' 23:59:59')
            </if>
            <if test=" type == 'false' ">
                and CutoffTime >= CONCAT( #{date}, ' 00:00:00')
                and CutoffTime &lt; CONCAT( left(now(),10), ' 00:00:00')
            </if>
                and b.dept_id = #{deptId}
                and a.AlarmType in('超速报警','疲劳驾驶报警','夜间行驶报警','不定位报警','无数据报警','24小时不在线报警','高速禁行报警')
                and passed = 100
                and AnalyzeMode = 1
                and a.VehId = b.id
            <if test=" type == 'true' ">
                and timestampdiff(day,CONCAT( left(CutoffTime,10), ' 00:00:00'),CONCAT( left(now(),10), ' 00:00:00')) > 7
            </if>
            <if test=" type == 'false' ">
                and timestampdiff(day,CONCAT( left(CutoffTime,10), ' 00:00:00'),CONCAT( left(now(),10), ' 00:00:00')) > 5
                and timestampdiff(day,CONCAT( left(CutoffTime,10), ' 00:00:00'),CONCAT( left(now(),10), ' 00:00:00')) &lt; 8
            </if>
            ) a
            LEFT JOIN baobiao_alarmhandleresult b on a.AlarmReportID=b.baojingid
            and a.dept_id = b.qiyeid
            and (a.AlarmType=b.baojingleixing or b.baojingleixing = '异常车辆报警')
        WHERE b.baojingid is null
        GROUP BY AlarmType

    </select>

    <select id="zhudonganquanweichuli" resultType="org.springblade.alarm.entity.AlarmWeichuliType">
        SELECT
            COUNT(1) as number,
            AlarmType,
            CONCAT(#{date},'至',left(now(),10)) as times
        from (
            select
                a.*,
                b.baojingid
            from(
                SELECT
                    *
                FROM
                    baobiao_driverbehavior
                WHERE
                    cid = #{deptId}
                <if test=" type == 'ss' ">
                    and GpsTime >= CONCAT( left( #{date} ,10), ' 00:00:00')
                    and GpsTime &lt;= CONCAT( left(now(),10), ' 23:59:59')
                </if>
                <if test=" type == 'true' ">
                    and GpsTime >= CONCAT( #{date}, ' 00:00:00')
                    and GpsTime &lt; CONCAT( left(now(),10), ' 23:59:59')
                </if>
                <if test=" type == 'false' ">
                    and GpsTime >= CONCAT( #{date}, ' 00:00:00')
                    and GpsTime &lt; CONCAT( left(now(),10), ' 00:00:00')
                </if>
                <if test=" type == 'true' ">
                    and timestampdiff(day,CONCAT( left(GpsTime,10), ' 00:00:00'),CONCAT( left(now(),10), ' 00:00:00')) > 7
                </if>
                <if test=" type == 'false' ">
                    and timestampdiff(day,CONCAT( left(GpsTime,10), ' 00:00:00'),CONCAT( left(now(),10), ' 00:00:00')) > 5
                    and timestampdiff(day,CONCAT( left(GpsTime,10), ' 00:00:00'),CONCAT( left(now(),10), ' 00:00:00')) &lt; 8
                </if>
                ) a
                LEFT JOIN baobiao_alarmhandleresult b on a.id=b.baojingid and a.AlarmType=b.baojingleixing
            WHERE b.baojingid is null
                and a.stateEx='核定报警'
                and a.AlarmType in('接打电话报警','分神驾驶报警','抽烟报警','生理疲劳报警','驾驶员异常报警')
            ) ab  GROUP BY AlarmType
    </select>
    <select id="selectOneribao" resultType="java.lang.Integer">
        SELECT
	         id
            FROM
	            baobiao_baobiaomulu
            WHERE
            	dept_id = #{deptId}
            AND countdate =#{date}
            LIMIT 1
    </select>
    <select id="alarmCount" resultType="org.springblade.alarm.entity.AlarmBaojingTongji">
        select
            COUNT(a.alarmreportid) as alarmCount,
            COUNT(CASE WHEN b.chulizhuangtai is not null THEN 1 END) as handledCount
        from
            baobiao_alarmsummary_cutofftime as a
        left join ( select a.id,a.dept_id from anbiao_vehicle a ) v on a.VehId = v.id
        left join baobiao_alarmhandleresult as b on a.alarmreportid = b.baojingid
            and v.dept_id = b.qiyeid
            and (a.AlarmType=b.baojingleixing or b.baojingleixing = '异常车辆报警')
            and ifnull(b.is_deleted,0) = 0
        where 1=1
            and a.passed = 100
            and a.AnalyzeMode = 1
            and a.cutoffTime &gt;= CONCAT( #{date}, ' 00:00:00')
            and a.cutoffTime &lt;= CONCAT( #{date}, ' 23:59:59')
            and v.dept_id = (select id from blade_dept where dept_name = #{company} and is_deleted = 0)
<!--            and a.company=#{company}-->
    </select>
    <select id="zhudongCount" resultType="org.springblade.alarm.entity.AlarmBaojingTongji">
        select
        COUNT(a.id) as alarmCount,
        COUNT(CASE WHEN b.chulizhuangtai is not null THEN 1 END) as handledCount
        from baobiao_driverbehavior as a
        left join baobiao_alarmhandleresult as b
        on a.id = b.baojingid and a.AlarmType=b.baojingleixing and ifnull(b.is_deleted,0) = 0
        where 1=1
        and GpsTime &gt;= CONCAT( #{date}, ' 00:00:00')
        and GpsTime &lt;= CONCAT( #{date}, ' 23:59:59')
        AND company=#{company}
        and stateEx ='核定报警'
    </select>

    <update id="updateAftertreatment" parameterType="map" >
        update baobiao_alarmhandleresult set
            twicechulixingshi = #{twicechulixingshi},
            twicechulimiaoshu = #{twicechulimiaoshu},
            twicechuliren = #{twicechuliren},
            twicechulishijian = #{twicechulishijian},
            twicechulirenid = #{twicechulirenid},
            twicefujian = #{twicefujian},
            endresult = 1
        where baojingid = #{id}
    </update>

    <!-- 根据报警ID、报警类型补传报警处理附件 -->
    <update id="updateAlarmhandleresult" parameterType="org.springblade.alarm.entity.Alarmhandleresult" >
        update baobiao_alarmhandleresult
        <set>
            <if test="fujian != null">
                fujian = #{fujian},
            </if>

            <if test="beizhu != null">
                beizhu = #{beizhu}
            </if>
        </set>
        where baojingid = #{baojingid}
            and baojingleixing = #{baojingleixing}
    </update>


</mapper>
