<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.alarm.mapper.BaojingtongjiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baojingtongjiResultMap" type="org.springblade.alarm.entity.BaojingTJ">
        <result column="chaosucisu" property="chaosucisu"/>
        <result column="plateNumber" property="plateNumber"/>
        <result column="OperatType" property="OperatType"/>
        <result column="color" property="color"/>
        <result column="AlarmType" property="AlarmType"/>
        <result column="keeptime" property="keeptime"/>
        <result column="maxspeed" property="maxspeed"/>
        <result column="id" property="id"/>
        <result column="xiansuzhi" property="xiansuzhi"/>
        <result column="weizhi" property="weizhi"/>
        <result column="chaosubi" property="chaosubi"/>

    </resultMap>

    <resultMap id="baojingTJMXResultMap" type="org.springblade.alarm.entity.BaojingTJMX">
    </resultMap>


    <select id="selectBaojingtongjiPage" resultMap="baojingtongjiResultMap">
        select * from baojingtongji where is_deleted = 0
    </select>
    <select id="selectAlarmTotal" parameterType="org.springblade.alarm.page.BaojingTJPage"  resultType="integer">
        select count(1) from (
        <include refid="ChaosutableSql"/>
      ) ab
    </select>
    <select id="selectPilaoTotal" parameterType="org.springblade.alarm.page.BaojingTJPage"  resultType="integer">
        select count(1) from (
        <include refid="PilaotableSql"/>
        ) ab
    </select>
    <select id="pilaoTongjiPage" parameterType="org.springblade.alarm.page.BaojingTJPage" resultType="org.springblade.alarm.entity.PiLaoBaojingTJ">
        <if test="size ==0">
            select  * from (
            <include refid="PilaotableSql"/>
            )b
            <include refid="PilaoorderSql"/>
            LIMIT #{total}
        </if>
        <if test="current != 0">
            select  * from (
            <include refid="PilaotableSql"/>
            )b
            <include refid="PilaoorderSql"/>
            LIMIT #{offsetNo},#{size}
        </if>

    </select>
    <select id="TongjiPage" parameterType="org.springblade.alarm.page.BaojingTJPage"  resultType="org.springblade.alarm.entity.BaojingTJ">
        <if test="size ==0">
            select  * from (
            <include refid="ChaosutableSql"/>
            )b
            <include refid="ChaosuorderSql"/>
            LIMIT #{total}
        </if>
        <if test="current != 0">
            select  * from (
            <include refid="ChaosutableSql"/>
            )b
            <include refid="ChaosuorderSql"/>
            LIMIT #{offsetNo},#{size}
        </if>


    </select>
    <select id="alarmCount" resultType="java.util.Map">
        SELECT
	    count(1) as baojingCount,
	        AlarmType
         FROM
	        baobiao_alarmsummary_cutofftime
         WHERE
             CutoffTime BETWEEN STR_TO_DATE(
	       concat(
 		    #{date},'00:00:00'),'%Y-%m-%d %H:%i:%s') AND   STR_TO_DATE(concat(#{date},'23:59:59'),'%Y-%m-%d %H:%i:%s')
 		    AND company = #{company}
 		    and passed = 100
 		    and AnalyzeMode = 1
		GROUP BY
			AlarmType
    </select>

    <select id="zhudongCount" resultType="java.util.Map">
    SELECT
	    count(1) as baojingCount,
	    AlarmType
    FROM
	    baobiao_driverbehavior
    WHERE
         GpsTime BETWEEN STR_TO_DATE(
	        concat(
 		    #{date},'00:00:00'),'%Y-%m-%d %H:%i:%s') AND   STR_TO_DATE(concat(#{date},'23:59:59'),'%Y-%m-%d %H:%i:%s')
 		AND company = #{company}
 		and StateEx='核定报警'
		GROUP BY
			AlarmType
    </select>

    <sql id="buzaixiansql">
        SELECT
	         plate as plateNumber,
	        '24小时不在线' AS alarmType,
	        operatType,
	        color,
	        company,
	        lastTime,
	        offlineTime,
	        createDate
        FROM
	        baobiao_offlinedetail
	    where 1=1
    </sql>

    <sql id="budingweisql">
        SELECT
        plate as plateNumber,
        '24小时不定位' AS alarmType,
        operatType,
        color,
        company,
        systime,
        lastTime,
        lastlocateTime,
        offlineTime,
        createDate
        FROM
        baobiao_notlocatedetail
        WHERE 1=1
    </sql>

    <sql id="budingweiquerySql">
        and company=#{deptName}
        and  (offlineTimes>=86400 or  offlineTimes is null)
        and createDate &gt;= #{beginTime}
        and  createDate &lt;= #{endTime}
        ORDER BY offlineTimes desc
    </sql>

    <select id="budingwei" resultType="org.springblade.alarm.entity.BudingweiTongji">
        <if test="size ==0">
            select  * from (
            <include refid="budingweisql"/>
            <include refid="budingweiquerySql"/>
            )b
            LIMIT #{total}
        </if>
        <if test="current != 0">
            select  * from (
            <include refid="budingweisql"/>
            <include refid="budingweiquerySql"/>
            )b
            LIMIT #{offsetNo},#{size}
        </if>
    </select>

    <select id="budingweicount" resultType="org.springblade.alarm.entity.BudingweiCount">
        select COUNT(1) as number,a.plateNumber from(SELECT
        plate as plateNumber,
        '24小时不定位' AS alarmType,
        operatType,
        color,
        company,
        systime,
        lastTime,
        lastlocateTime,
        offlineTime,
        createDate
        FROM
        baobiao_notlocatedetail
        WHERE
         company=#{deptName}
        and  (offlineTimes>=86400 or  offlineTimes is null)
        and createDate &gt;= #{beginTime}
        and  createDate &lt;= #{endTime}
        ORDER BY offlineTimes desc

        ) a GROUP BY a.plateNumber
    </select>

    <select id="selectbudinweiTotal" resultType="java.lang.Integer">
        select count(1) from (
        <include refid="budingweisql"/>
        <include refid="budingweiquerySql"/>
        ) ab
    </select>

    <select id="selectbuzaixianTotal" resultType="java.lang.Integer">
        select count(1) from (
        <include refid="buzaixiansql"/>
        <include refid="budingweiquerySql"/>
        ) ab
    </select>

    <select id="buzaixian" resultType="org.springblade.alarm.entity.BudingweiTongji">
        <if test="size ==0">
            select  * from (
            <include refid="buzaixiansql"/>
            <include refid="budingweiquerySql"/>
            )b
            LIMIT #{total}
        </if>
        <if test="current != 0">
            select  * from (
            <include refid="buzaixiansql"/>
            <include refid="budingweiquerySql"/>
            )b
            LIMIT #{offsetNo},#{size}
        </if>
    </select>

    <select id="buzaixiancount" resultType="org.springblade.alarm.entity.BudingweiCount">
        select COUNT(1) as number,a.plateNumber  from (
        <include refid="buzaixiansql"/>
        <include refid="budingweiquerySql"/>

        ) a
        GROUP BY a.plateNumber
    </select>

    <sql id="ChaosutableSql">
        SELECT
			a.*,b.plateNumber, b.color, b.company, b.OperatType, b.beginTime,
			b.endTime,b.KeepTime,b.limited AS xiansuzhi, CONCAT(b.ChaoSuBi, '%') AS chaosubi,b.Road_Name AS weizhi,
			CONCAT(	(floor(b.KeepTime / 86400) % 24),'天',(floor(b.KeepTime / 3600) % 24),'时',(floor(b.KeepTime / 60) % 60),'分',(b.KeepTime % 60),'秒') AS keeptimeOne,
			CONCAT(#{beginTime},'至',#{endTime}) as createDate
        FROM
			(
				SELECT
					COUNT(1) AS chaosucisu,
					a.VehId,
					a.AlarmType,
					MAX(a.MaxSpeed) as maxspeed,
					CONCAT(	(floor(SUM(KeepTime) / 86400) % 24),'天',	(	floor(SUM(KeepTime) / 3600) % 24),'时',(floor(SUM(KeepTime) / 60) % 60),	'分',(SUM(KeepTime) % 60),'秒') AS keeptimeShow,
					(
						SELECT AlarmReportID
						FROM baobiao_alarmsummary_cutofftime b
						WHERE maxSpeed = MAX(a.maxSpeed)
						AND CutoffTime BETWEEN STR_TO_DATE(concat(#{beginTime}, '00:00:00'), '%Y-%m-%d %H:%i:%s' )
						AND STR_TO_DATE(concat(#{endTime}, '23:59:59'), '%Y-%m-%d %H:%i:%s')
						AND b.vehid = a.vehid
						AND b.AlarmType = a.AlarmType
						AND company = #{deptName}
						AND AlarmType = '超速报警'
						and passed = 100
						and AnalyzeMode = 1
						ORDER BY KeepTime DESC,Limited asc
						LIMIT 1
					) id
				FROM baobiao_alarmsummary_cutofftime a
				WHERE 1 = 1
				    AND CutoffTime BETWEEN STR_TO_DATE(concat(#{beginTime}, '00:00:00'), '%Y-%m-%d %H:%i:%s' )
                    AND STR_TO_DATE(concat(#{endTime}, '23:59:59'), '%Y-%m-%d %H:%i:%s')
					AND company = #{deptName}
                    AND AlarmType = '超速报警'
                    and passed = 100
                    and AnalyzeMode = 1
				GROUP BY a.VehId, a.AlarmType
			) a
		INNER JOIN baobiao_alarmsummary_cutofftime b ON a.id = b.AlarmReportID
    </sql>
    <sql id="PilaotableSql">
        SELECT
			a.*,b.plateNumber, b.color, b.company, b.OperatType,b.beginTime,
			b.endTime,b.CutoffTime, b.KeepTime,b.Road_Name AS weizhi,
			CONCAT(#{beginTime},'至',#{endTime}) as createDate,
			CONCAT( (floor(b.KeepTime / 86400) % 24), '天', (floor(b.KeepTime / 3600) % 24), '时', (floor(b.KeepTime / 60) % 60), '分', (b.KeepTime % 60), '秒' ) AS keeptimeOne
		FROM
			(
				SELECT
					COUNT(1) AS pilaocisu, a.VehId, a.AlarmType,
					CONCAT( (floor(SUM(KeepTime) / 86400) % 24), '天',( floor(SUM(KeepTime) / 3600) % 24 ), '时', (floor(SUM(KeepTime) / 60) % 60), '分', (SUM(KeepTime) % 60), '秒' ) AS keeptimeShow,
					(
						SELECT AlarmReportID
						FROM baobiao_alarmsummary_cutofftime b
						WHERE  b.VehId = a.VehId
						AND b.AlarmType = a.AlarmType
						AND company = #{deptName}
						AND AlarmType = '疲劳驾驶报警'
						AND CutoffTime BETWEEN STR_TO_DATE(concat(#{beginTime}, '00:00:00'), '%Y-%m-%d %H:%i:%s' )
						AND STR_TO_DATE(concat(#{endTime}, '23:59:59'), '%Y-%m-%d %H:%i:%s')
						ORDER BY KeepTime DESC
						LIMIT 1
					) id
				FROM
					baobiao_alarmsummary_cutofftime a
				WHERE 1 = 1
				AND company = #{deptName}
                AND AlarmType = '疲劳驾驶报警'
                AND CutoffTime BETWEEN STR_TO_DATE(concat(#{beginTime}, '00:00:00'), '%Y-%m-%d %H:%i:%s' )
                AND STR_TO_DATE(concat(#{endTime}, '23:59:59'), '%Y-%m-%d %H:%i:%s')
				GROUP BY a.VehId,a.AlarmType
			) a
		INNER JOIN baobiao_alarmsummary_cutofftime b ON a.id = b.AlarmReportID

    </sql>
    <sql id="ChaosuorderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by chaosucisu desc
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>
    <sql id="PilaoorderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by pilaocisu desc
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <sql id="tableTJMXSql">
        SELECT
            a.id as deptId,
            a.dept_name as deptName,
            t1.alarmReportID,
            t1.alarmType,
            left(t1.beginTime,20) as beginTime,
            t1.endTime,
            left(t1.cutoffTime,10) as cutoffTime,
            t1.velocity,
            t1.chulixingshi,
            t1.chulimiaoshu,
            t1.chulizhuangtai,
            t1.chulishijian,
            t1.endresult,
            t1.chulirenid,
            t1.chuliren,
            t1.remark,
            t1.shensushenhebiaoshi,
            t1.shensushenheren,
            t1.shensushenheshijian,
            t1.shensushenheyijian,
            t1.twicechulixingshi,
            t1.twicechulimiaoshu,
            t1.twicechuliren,
            t1.twicechulishijian,
            t1.twicechulirenid,
            t1.cheliangpaizhao,
            t1.chepaiyanse,
            t1.vehid,
            t1.jiashiyuanxingming
        FROM
            blade_dept a
        inner join(
            select
                a.AlarmReportID as alarmReportID,
                a.AlarmType as alarmType,
                a.BeginTime as beginTime,
                a.EndTime as endTime,
                a.CutoffTime as cutoffTime,
                a.Velocity as velocity,
                ifnull(b.chulixingshi,'') as chulixingshi,
                ifnull(b.chulimiaoshu,'') as chulimiaoshu,
                ifnull(b.chulizhuangtai,'') as chulizhuangtai,
                ifnull(b.chulishijian,'') as chulishijian,
                b.endresult,
                b.chulirenid,
                b.chuliren,
                b.remark,
                b.shensushenhebiaoshi,
                b.shensushenheren,
                b.shensushenheshijian,
                b.shensushenheyijian,
                b.twicechulixingshi,
                b.twicechulimiaoshu,
                b.twicechuliren,
                b.twicechulishijian,
                b.twicechulirenid,
                v.cheliangpaizhao,
                v.chepaiyanse,
                v.id as vehid,
                v.dept_id,
                (select jiashiyuanxingming from anbiao_jiashiyuan where id = d.driver_id and dept_id = v.dept_id) as jiashiyuanxingming
            from
                baobiao_alarmsummary_cutofftime a
            left join ( select a.id,a.dept_id,cheliangpaizhao,chepaiyanse from anbiao_vehicle a ) v on a.VehId = v.id
            LEFT JOIN baobiao_alarmhandleresult b on a.AlarmReportID = b.baojingid
                and v.dept_id = b.qiyeid
                and (a.AlarmType=b.baojingleixing or b.baojingleixing = '异常车辆报警')
                and ifnull(b.is_deleted,0)=0
            LEFT JOIN baobiao_alarmhandleresult_driver d on d.alarm_id = a.AlarmReportID and d.alarm_type = a.AlarmType
            where 1 = 1
                and Passed = 100
                and a.AnalyzeMode = 1
            <!-- 根据推送时间查询报警数据 -->
            <if test=" beginTime != null and beginTime != '' ">
                and a.cutoffTime &gt;= CONCAT( '${beginTime}', ' 00:00:00')
                and a.cutoffTime &lt;= CONCAT( '${endTime}', ' 23:59:59')
            </if>
            )t1 on a.id = t1.dept_id
        where a.is_deleted = 0
            and a.id = #{deptId}
    UNION
        SELECT
            a.id as deptId,
            a.dept_name as deptName,
            t2.alarmReportID,
            t2.alarmType,
            left(t2.beginTime,20) as beginTime,
            t2.endTime,
            left(t2.cutoffTime,10) as cutoffTime,
            t2.velocity,
            t2.chulixingshi,
            t2.chulimiaoshu,
            t2.chulizhuangtai,
            t2.chulishijian,
            t2.endresult,
            t2.chulirenid,
            t2.chuliren,
            t2.remark,
            t2.shensushenhebiaoshi,
            t2.shensushenheren,
            t2.shensushenheshijian,
            t2.shensushenheyijian,
            t2.twicechulixingshi,
            t2.twicechulimiaoshu,
            t2.twicechuliren,
            t2.twicechulishijian,
            t2.twicechulirenid,
            t2.cheliangpaizhao,
            t2.chepaiyanse,
            t2.vehid,
            t2.jiashiyuanxingming
        FROM
            blade_dept a
        inner join (
            select
                a.id as alarmReportID,
                a.AlarmType as alarmType,
                a.GpsTime as beginTime,
                '' as endTime,
                a.insertTime as cutoffTime,
                a.Velocity as velocity,
                ifnull(b.chulixingshi,'') as chulixingshi,
                ifnull(b.chulimiaoshu,'') as chulimiaoshu,
                ifnull(b.chulizhuangtai,'') as chulizhuangtai,
                ifnull(b.chulishijian,'') as chulishijian,
                b.endresult,
                b.chulirenid,
                b.chuliren,
                b.remark,
                b.shensushenhebiaoshi,
                b.shensushenheren,
                b.shensushenheshijian,
                b.shensushenheyijian,
                b.twicechulixingshi,
                b.twicechulimiaoshu,
                b.twicechuliren,
                b.twicechulishijian,
                b.twicechulirenid,
                a.plate as cheliangpaizhao,
                a.color as chepaiyanse,
                a.VehID as vehid,
                a.cid,
                (select jiashiyuanxingming from anbiao_jiashiyuan where id = d.driver_id and dept_id = a.cid) as jiashiyuanxingming
            from
                baobiao_driverbehavior a
            LEFT JOIN baobiao_alarmhandleresult b on a.id = b.baojingid and a.AlarmType=b.baojingleixing and ifnull(b.is_deleted,0)=0
            LEFT JOIN baobiao_alarmhandleresult_driver d on d.alarm_id = a.id and d.alarm_type = a.AlarmType
            where 1 = 1
                and a.StateEx = '核定报警'
            <if test=" beginTime != null and beginTime != '' ">
                and a.GpsTime &gt;= CONCAT( '${beginTime}', ' 00:00:00')
                and a.GpsTime &lt;= CONCAT( '${endTime}', ' 23:59:59')
            </if>
            )t2 on a.id = t2.cid
        where a.is_deleted = 0
            and a.id = #{deptId}
    </sql>
    <sql id="queryTJMXSql">

        <if test=" (alarmType != null and alarmType != '') and alarmType == '异常车辆报警' ">
            and alarmType in ('无数据报警','不定位报警')
        </if>

        <if test=" (alarmType != null and alarmType != '') and alarmType != '异常车辆报警' ">
            and alarmType = #{alarmType}
        </if>

        <if test="cheliangpaizhao != null and cheliangpaizhao != '' ">
            and cheliangpaizhao like concat('%', #{cheliangpaizhao} ,'%')
        </if>

    </sql>
    <sql id="orderTJMXSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by cheliangpaizhao desc
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select timeout="600" id="selectAlarmTJMXPage" resultMap="baojingTJMXResultMap"
            parameterType="org.springblade.alarm.page.AlarmPage">
        <if test="size == 0">
            select * from (
            <include refid="tableTJMXSql"/>
            )b
            where 1=1
            <include refid="queryTJMXSql"/>
            <include refid="orderTJMXSql"/>
            limit ${total}
        </if>
        <if test="current != 0">
            select * from (
            <include refid="tableTJMXSql"/>
            )b
            where 1=1
            <include refid="queryTJMXSql"/>
            <include refid="orderTJMXSql"/>
            limit ${offsetNo},${size}
        </if>
    </select>

    <select timeout="90" id="selectAlarmTJMXTotal"
            parameterType="org.springblade.alarm.page.AlarmPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableTJMXSql"/>
        )d where 1 = 1
        <include refid="queryTJMXSql"/>
    </select>

</mapper>
