<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.cheliangguanli.mapper.CheliangbaoxianMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="cheliangbaoxianResultMap" type="org.springblade.anbiao.cheliangguanli.entity.Cheliangbaoxian">
        <id column="id" property="id"/>
        <result column="dept_id" property="deptId"/>
        <result column="caozuoren" property="caozuoren"/>
        <result column="caozuorenid" property="caozuorenid"/>
        <result column="caozuoshijian" property="caozuoshijian"/>
        <result column="zibianhao" property="zibianhao"/>
        <result column="cheliangid" property="cheliangid"/>
        <result column="zhaopian" property="zhaopian"/>
        <result column="jiluren" property="jiluren"/>
        <result column="dengjiren" property="dengjiren"/>
        <result column="beibaoxianren" property="beibaoxianren"/>
        <result column="dengjishijian" property="dengjishijian"/>
        <result column="beizhu" property="beizhu"/>
        <result column="fujian" property="fujian"/>
        <result column="isdelete" property="isdelete"/>
    </resultMap>

    <insert id="insertSelective" parameterType="org.springblade.anbiao.cheliangguanli.entity.Cheliangbaoxian" >
        insert into anbiao_cheliangbaoxian
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="id != null">
                id,
            </if>

            <if test="deptId != null">
                dept_id,
            </if>

            <if test="caozuoren != null">
                caozuoren,
            </if>

            <if test="caozuorenid != null">
                caozuorenid,
            </if>

            <if test="caozuoshijian != null">
                caozuoshijian,
            </if>

            <if test="zibianhao != null">
                zibianhao,
            </if>

            <if test="cheliangid != null">
                cheliangid,
            </if>

            <if test="zhaopian != null">
                zhaopian,
            </if>

            <if test="dengjiren != null">
                dengjiren,
            </if>

            <if test="beibaoxianren != null">
                beibaoxianren,
            </if>

            <if test="dengjishijian != null">
                dengjishijian,
            </if>

            <if test="beizhu != null">
                beizhu,
            </if>

            <if test="fujian != null">
                fujian,
            </if>

            <if test="isdelete != null">
                isdelete,
            </if>

            <if test="jiluren != null">
                jiluren
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>

            <if test="deptId != null">
                #{deptId},
            </if>

            <if test="caozuoren != null">
                #{caozuoren},
            </if>

            <if test="caozuorenid != null">
                #{caozuorenid},
            </if>

            <if test="caozuoshijian != null">
                #{caozuoshijian},
            </if>

            <if test="zibianhao != null">
                #{zibianhao},
            </if>

            <if test="cheliangid != null">
                #{cheliangid},
            </if>

            <if test="zhaopian != null">
                #{zhaopian},
            </if>

            <if test="dengjiren != null">
                #{dengjiren},
            </if>


            <if test="beibaoxianren != null">
                #{beibaoxianren},
            </if>

            <if test="dengjishijian != null">
                #{dengjishijian},
            </if>

            <if test="beizhu != null">
                #{beizhu},
            </if>

            <if test="fujian != null">
                #{fujian},
            </if>

            <if test="isdelete != null">
                #{isdelete},
            </if>

            <if test="jiluren != null">
                #{jiluren}
            </if>

        </trim>
    </insert>


    <select id="selectCheliangbaoxianPage" resultMap="cheliangbaoxianResultMap">
        select * from anbiao_cheliangbaoxian where is_deleted = 0
    </select>

    <update id="updateDel" parameterType="java.lang.String">
        UPDATE anbiao_cheliangbaoxian SET isdelete = 1 where id = #{id}
    </update>

	<update id="updateStatus" parameterType="java.lang.String">
		UPDATE anbiao_cheliangbaoxian SET isdelete = 2,caozuoshijian = now() where id = #{id}
	</update>

    <sql id="tableSql">
        SELECT
            a.id,
            a.dept_id as deptId,
            b.dept_name as deptName,
            a.caozuoren as baoxiancaozuoren,
            a.caozuorenid as baoxiancaozuorenid,
            a.caozuoshijian as baoxiancaozuoshijian,
            a.zibianhao,
            a.cheliangid,
            a.zhaopian,
            c.cheliangpaizhao as cheliangpaizhao,
            c.chepaiyanse as chepaiyanse,
            c.shiyongxingzhi,
            a.createtime as baoxiancreatetime,
            a.jiluren,
            a.dengjiren,
            a.beibaoxianren,
            a.dengjishijian,
            c.tuishishijian,
            d.id as mingxiid,
            d.toubaogongsi,
            d.baoxiandanhao,
            d.toubaoleixing,
            d.goumaixiangmu,
            d.goumaijine,
            d.baofei,
            d.qibaoshijian,
            d.zhongbaoshijian,
            d.chudanshijian,
            d.lingquren,
            d.lingqushijian,
            d.zhengbenjieshouren,
            d.zhengbenjiaojieshijian,
            d.fapiaojiaojieshijian,
            d.fapiaojieshouren,
            d.beizhu as mingxibeizhu,
            d.fujian as mingxifujian,
            d.caozuoren as mingxicaozuoren,
            d.caozuorenid as mingxicaozuorenid,
            d.caozuoshijian as mingxicaozuoshijian,
            d.isdelete as mingxiisdelete,
            d.baoxianid,
            d.createtime as mingxicreatetime
        FROM
            anbiao_cheliangbaoxian a
            left join anbiao_baoxianxinxi d on a.id = d.baoxianid
            inner join  (
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.dept_id = b.id and a.isdelete = 0 and  b.is_deleted = 0
            INNER JOIN anbiao_vehicle c on a.cheliangid = c.id

        <if test="ids !=null and ids != ''and ids == '1'.toString()">
            and a.id in (
            SELECT biaoid from anbiao_jinritixing_jiesuan where IFNULL(isdelete,0)=0 and dept_id = #{deptId} and tongjiriqi = #{tongjiriqi}
            and tixingleixing = #{tixingleixing} and tixingxiangqingid = #{tixingxiangqingid} )
        </if>
    </sql>

    <sql id="querySql">
        <if test="deptName !=null and deptName != ''">
            AND deptName LIKE '%${deptName}%'
        </if>
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by baoxiancaozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <select id="selectPageList" parameterType="org.springblade.anbiao.cheliangguanli.page.CheliangbaoxianPage" resultType="org.springblade.anbiao.cheliangguanli.vo.CheliangbaoxianVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.cheliangguanli.page.CheliangbaoxianPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <select id="selectByIds" parameterType="java.lang.String" resultType="org.springblade.anbiao.cheliangguanli.vo.CheliangbaoxianVO">
        SELECT
            a.id,
            a.cheliangid,
            a.dept_id,
            b.dept_name as deptName,
            c.cheliangpaizhao as cheliangpaizhao,
            c.chepaiyanse as chepaiyanse,
            d.toubaoleixing,
            d.zhongbaoshijian,
            d.fujian
        FROM
            anbiao_cheliangbaoxian a
            INNER JOIN anbiao_baoxianxinxi d on a.id = d.baoxianid
            INNER JOIN blade_dept b ON a.dept_id = b.id and a.isdelete = 0 and  b.is_deleted = 0
            INNER JOIN anbiao_vehicle c on a.cheliangid = c.id
        WHERE 1=1 and ifnull(a.isdelete ,0) = 0
        <if test="id !=null and id != '' ">
            and a.id=#{id}
        </if>
        <if test="toubaoleixing !=null and toubaoleixing != '' ">
            and d.toubaoleixing = #{toubaoleixing}
        </if>
        <if test="cheliangid !=null and cheliangid != '' ">
            and a.cheliangid = #{cheliangid}
        </if>
    </select>

</mapper>
