<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.cheliangguanli.mapper.JiashiyuanBaoxianMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="jiashiyuanBaoxianResultMap" type="org.springblade.anbiao.cheliangguanli.entity.JiashiyuanBaoxian">
        <id column="ajb_ids" property="ajbIds"/>
        <result column="ajb_policy_no" property="ajbPolicyNo"/>
        <result column="ajb_dept_ids" property="ajbDeptIds"/>
        <result column="ajb_insured_ids" property="ajbInsuredIds"/>
        <result column="ajb_certificate_number" property="ajbCertificateNumber"/>
        <result column="ajb_insured_name" property="ajbInsuredName"/>
        <result column="ajb_insured_contacts" property="ajbInsuredContacts"/>
        <result column="ajb_insured_contact_number" property="ajbInsuredContactNumber"/>
        <result column="ajb_insured_contact_address" property="ajbInsuredContactAddress"/>
        <result column="ajb_insure_ids" property="ajbInsureIds"/>
        <result column="ajb_insure_name" property="ajbInsureName"/>
        <result column="ajb_insure_contacts" property="ajbInsureContacts"/>
        <result column="ajb_insure_contact_number" property="ajbInsureContactNumber"/>
        <result column="ajb_insure_contact_address" property="ajbInsureContactAddress"/>
        <result column="ajb_insurance_period_start" property="ajbInsurancePeriodStart"/>
        <result column="ajb_insurance_period_end" property="ajbInsurancePeriodEnd"/>
        <result column="ajb_insurance_days" property="ajbInsuranceDays"/>
        <result column="ajb_calculation_method" property="ajbCalculationMethod"/>
        <result column="ajb_aj_ids" property="ajbAjIds"/>
        <result column="ajb_year_security_pooling_fund" property="ajbYearSecurityPoolingFund"/>
        <result column="ajb_year_premium" property="ajbYearPremium"/>
        <result column="ajb_insurance_company" property="ajbInsuranceCompany"/>
        <result column="ajb_baoshi_bao_no" property="ajbBaoshiBaoNo"/>
        <result column="ajb_signing_date" property="ajbSigningDate"/>
        <result column="ajb_total" property="ajbTotal"/>
        <result column="ajb_replacement_price" property="ajbReplacementPrice"/>
        <result column="ajb_bail_company_date" property="ajbBailCompanyDate"/>
        <result column="ajb_bail_headquarters_date" property="ajbBailHeadquartersDate"/>
        <result column="ajb_compensation_standard" property="ajbCompensationStandard"/>
        <result column="ajb_are_accidents" property="ajbAreAccidents"/>
        <result column="ajb_purchase_method" property="ajbPurchaseMethod"/>
        <result column="ajb_insurance_ratio" property="ajbInsuranceRatio"/>
        <result column="ajb_permitted_seat" property="ajbPermittedSeat"/>
        <result column="ajb_permitted_seat_driver_seat" property="ajbPermittedSeatDriverSeat"/>
        <result column="ajb_permitted_seat_front_seats" property="ajbPermittedSeatFrontSeats"/>
        <result column="ajb_permitted_seat_back_row_seats" property="ajbPermittedSeatBackRowSeats"/>
        <result column="ajb_live_seat" property="ajbLiveSeat"/>
        <result column="ajb_live_seat_driver_seat" property="ajbLiveSeatDriverSeat"/>
        <result column="ajb_live_seat_front_seats" property="ajbLiveSeatFrontSeats"/>
        <result column="ajb_live_seat_back_row_seats" property="ajbLiveSeatBackRowSeats"/>
        <result column="ajb_seating_mode" property="ajbSeatingMode"/>
        <result column="ajb_driver_seat_rate" property="ajbDriverSeatRate"/>
        <result column="ajb_front_row_rate" property="ajbFrontRowRate"/>
        <result column="ajb_back_row_rate" property="ajbBackRowRate"/>
        <result column="ajb_vehicle_and_vessel_tax" property="ajbVehicleAndVesselTax"/>
        <result column="ajb_vehicle_and_vessel_tax_reduction" property="ajbVehicleAndVesselTaxReduction"/>
        <result column="ajb_vehicle_and_vessel_tax_paid_in" property="ajbVehicleAndVesselTaxPaidIn"/>
        <result column="ajb_total_premium" property="ajbTotalPremium"/>
        <result column="ajb_company_total_premium" property="ajbCompanyTotalPremium"/>
        <result column="ajb_total_planned_premium" property="ajbTotalPlannedPremium"/>
        <result column="ajb_totalize_premium" property="ajbTotalizePremium"/>
        <result column="ajb_company_totalize_premium" property="ajbCompanyTotalizePremium"/>
        <result column="ajb_approve" property="ajbApprove"/>
        <result column="ajb_special_agreement" property="ajbSpecialAgreement"/>
        <result column="ajb_enclosure" property="ajbEnclosure"/>
        <result column="ajb_delete" property="ajbDelete"/>
        <result column="ajb_create_time" property="ajbCreateTime"/>
        <result column="ajb_create_by_ids" property="ajbCreateByIds"/>
        <result column="ajb_create_by_name" property="ajbCreateByName"/>
        <result column="ajb_update_time" property="ajbUpdateTime"/>
        <result column="ajb_update_by_ids" property="ajbUpdateByIds"/>
        <result column="ajb_update_by_name" property="ajbUpdateByName"/>
        <result column="dept_name" property="ajbDeptName"/>
        <result column="ajb_insure_deptid" property="ajbInsureDeptid"/>
    </resultMap>


    <select id="selectJiashiyuanBaoxianPage" resultMap="jiashiyuanBaoxianResultMap">
        select
            DISTINCT ajb.*,bd.dept_name,IFNULL(cc.ajbm_company_amount,0) as ajbmInsuranceAmount,IFNULL(ajbm_basic_premium,0) as ajbmBasicPremium
        from
            anbiao_jiashiyuan_baoxian ajb
        inner join  (
            SELECT
                DISTINCT
                xiaji.id,
                xiaji.parent_id,
                xiaji.dept_name,
                xiaji.is_deleted
            FROM
                blade_dept shangji,
                blade_dept xiaji
            WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
                AND xiaji.is_deleted = 0 AND xiaji.extend_type='机构'
            <if test="jiashiyuanBaoxian.deptId != null and jiashiyuanBaoxian.deptId != ''">
                AND shangji.id= #{jiashiyuanBaoxian.deptId}
            </if>
        ) bd on ajb.ajb_dept_ids = bd.id
        left join (
            select
                ajbm_avb_ids,IFNULL(SUM(ajbm_company_amount),0) as ajbm_company_amount,IFNULL(SUM(ajbm_basic_premium),0) as ajbm_basic_premium
            from
                anbiao_jiashiyuan_baoxian_mingxi
            GROUP BY
                ajbm_avb_ids
        ) cc on cc.ajbm_avb_ids = ajb.ajb_ids
        <where>
                ajb.ajb_delete = 0
              <if test="ajbInsuredIds != null">
                and ajb.ajb_insured_ids= #{ajbInsuredIds}
              </if>
            <if test="jiashiyuanBaoxian.ajbInsuredName !=null and jiashiyuanBaoxian.ajbInsuredName != ''">
                and ajb.ajb_insured_name like concat('%', #{jiashiyuanBaoxian.ajbInsuredName}, '%')
            </if>
        </where>
    </select>

    <select id="selectById" resultMap="jiashiyuanBaoxianResultMap" parameterType="java.lang.String">
        select ajb.*,bd.dept_name from anbiao_jiashiyuan_baoxian ajb
        LEFT JOIN blade_dept bd ON bd.id = ajb.ajb_dept_ids
        where ajb_delete = 0 and  ajb.ajb_ids= #{ajbIds}
    </select>

    <select id="queryByMax" resultMap="jiashiyuanBaoxianResultMap" parameterType="java.lang.String">
        select ajb.*,bd.dept_name from anbiao_jiashiyuan_baoxian ajb
        LEFT JOIN blade_dept bd ON bd.id = ajb.ajb_dept_ids
        where ajb_delete = 0 and  ajb.ajb_insured_ids= #{driverId}
        ORDER BY ajb.ajb_insurance_period_end DESC LIMIT 1
    </select>


    <select id="getDeptUser" resultType="org.springblade.system.user.entity.User" >
        select
            DISTINCT
            u.id,p.id as postId,gangwei.id as gangweiid,bumen.id as bumenid,jigou.id as jigouid,
            u.name as name,
            u.real_name as realName,
            u.account,
            CONCAT(jigou.dept_name,case when bumen.dept_name is null then '' else concat('/',bumen.dept_name)end,'/',gangwei.dept_name) as deptName,
            gangwei.dept_name as postName,
            u.phone,
            case
                when ifnull(u.is_deleted,0) = 0 then '启用'
                when ifnull(u.is_deleted,0) = 1 then '删除'
                when ifnull(u.is_deleted,0) = 2 then '禁用'
                end as zhuangtai,
            u.create_time as createTimes,
            u.update_time as updateTimes,
            ux.jiatingdizhi as address,
            u.password
        from
            blade_user u
                INNER JOIN anbiao_personnel ux on ux.userid = u.id and ux.is_deleted = 0
                INNER JOIN blade_post p ON u.id=p.user_id
                INNER JOIN blade_dept gangwei ON p.post_id=gangwei.id
                LEFT JOIN blade_dept bumen ON gangwei.parent_id = bumen.id and bumen.extend_type='部门'
                INNER JOIN blade_dept jigou ON (gangwei.parent_id=jigou.id or bumen.parent_id=jigou.id) and jigou.extend_type='机构'
                INNER JOIN blade_dept shangji ON locate(shangji.tree_code,jigou.tree_code)>0 and shangji.id=#{deptId}
        where u.is_deleted != 1
            and IFNULL(account,'') != ''
    </select>

    <select id="QiYeList" resultType="org.springblade.system.entity.Dept">
        select
            DISTINCT
            a.id,
            a.dept_name,
            b.jigoubianma
        from(
                SELECT
                    DISTINCT
                    xiaji.id,
                    xiaji.parent_id,
                    xiaji.dept_name,
                    xiaji.is_deleted
                FROM
                    blade_dept shangji,
                    blade_dept xiaji
                WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
                  AND xiaji.is_deleted = 0 AND xiaji.extend_type='机构'
                  AND shangji.id= #{deptId}
                )a
                INNER JOIN(
            select dept_id,jigoubianma from anbiao_organization
            where isdelete = 0 and jigouleixing in ('qiye','geti')
            )b on a.id = b.dept_id
        ORDER BY a.dept_name asc
    </select>

</mapper>
