<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.cheliangguanli.mapper.VehicleBiangengjiluMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vehicleBiangengjiluResultMap" type="org.springblade.anbiao.cheliangguanli.entity.VehicleBiangengjilu">
        <id column="avbj_ids" property="avbjIds"/>
        <result column="avbj_vehicle_id" property="avbjVehicleId"/>
        <result column="avbj_license_plate" property="avbjLicensePlate"/>
        <result column="avbj_license_colour" property="avbjLicenseColour"/>
        <result column="avbj_change_date" property="avbjChangeDate"/>
        <result column="avbj_delete" property="avbjDelete"/>
        <result column="avbj_create_time" property="avbjCreateTime"/>
        <result column="avbj_create_by_ids" property="avbjCreateByIds"/>
        <result column="avbj_create_by_name" property="avbjCreateByName"/>
        <result column="avbj_update_time" property="avbjUpdateTime"/>
        <result column="avbj_update_by_ids" property="avbjUpdateByIds"/>
        <result column="avbj_update_by_name" property="avbjUpdateByName"/>
    </resultMap>


    <select id="selectVehicleBiangengjiluPage" resultMap="vehicleBiangengjiluResultMap">
        select * from anbiao_vehicle_biangengjilu where avbj_delete = 0
    </select>

</mapper>
