<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.cheliangguanli.mapper.VehicleDengjizhengshuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vehicleDengjizhengshuResultMap" type="org.springblade.anbiao.cheliangguanli.entity.VehicleDengjizhengshu">
        <id column="avd_ids" property="avdIds"/>
        <result column="avd_vehicle_ids" property="avdVehicleIds"/>
        <result column="avd_technical_evaluation" property="avdTechnicalEvaluation"/>
        <result column="avd_technical_date" property="avdTechnicalDate"/>
        <result column="avd_enclosure" property="avdEnclosure"/>
        <result column="avd_scrap_date" property="avdScrapDate"/>
        <result column="avd_delete" property="avdDelete"/>
        <result column="avd_create_time" property="avdCreateTime"/>
        <result column="avd_create_by_ids" property="avdCreateByIds"/>
        <result column="avd_create_by_name" property="avdCreateByName"/>
        <result column="avd_update_time" property="avdUpdateTime"/>
        <result column="avd_update_by_ids" property="avdUpdateByIds"/>
        <result column="avd_update_by_name" property="avdUpdateByName"/>
        <result column="avd_vehicle_model" property="avdVehicleModel"/>
    </resultMap>


    <select id="selectVehicleDengjizhengshuPage" resultMap="vehicleDengjizhengshuResultMap">
        select * from anbiao_vehicle_dengjizhengshu where avd_delete = 0
    </select>

    <select id="selectVehicleDengjizhengshuByVehicleIds" resultMap="vehicleDengjizhengshuResultMap" parameterType="java.lang.String">
        select * from anbiao_vehicle_dengjizhengshu where avd_vehicle_ids=#{avdVehicleIds} AND avd_delete = 0 LIMIT 1
    </select>

</mapper>
