<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.cheliangguanli.mapper.VehiclesMoveInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vehicleVOResultMap" type="org.springblade.anbiao.cheliangguanli.entity.VehiclesMoveInfo">
        <id column="id" property="id"/>
    </resultMap>

    <insert id="insertSelective" parameterType="org.springblade.anbiao.cheliangguanli.entity.VehiclesMoveInfo" >
        insert into anbiao_vehicles_move_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>

            <if test="vehId != null">
                vehId,
            </if>

            <if test="outOfDeptId != null">
                outOfDeptId,
            </if>

            <if test="inOfDeptId != null">
                inOfDeptId,
            </if>

            <if test="updateTime != null">
                updateTime,
            </if>

            <if test="updateUserId != null">
                updateUserId,
            </if>

            <if test="updateUser != null">
                updateUser,
            </if>

            <if test="fuJian != null">
                fuJian,
            </if>

            <if test="type != null">
                type,
            </if>

            <if test="remark != null">
                remark
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>

            <if test="vehId != null">
                #{vehId},
            </if>

            <if test="outOfDeptId != null">
                #{outOfDeptId},
            </if>

            <if test="inOfDeptId != null">
                #{inOfDeptId},
            </if>

            <if test="updateTime != null">
                #{updateTime},
            </if>

            <if test="updateUserId != null">
                #{updateUserId},
            </if>

            <if test="updateUser != null">
                #{updateUser},
            </if>

            <if test="fuJian != null">
                #{fuJian},
            </if>

            <if test="type != null">
                #{type},
            </if>

            <if test="remark != null">
                #{remark}
            </if>
        </trim>
    </insert>

    <!--<sql id="tableSql">
        SELECT
            c.id,
            c.vehId,
            a.cheliangpaizhao,
            a.chepaiyanse,
            (
             select dept_name from blade_dept
             where id = c.outOfDeptId
            ) as outOfDeptName,
            (
             select dept_name from blade_dept
             where id = c.inOfDeptId
            ) as inOfDeptName,
            c.updateTime,
            c.updateUserId,
            c.updateUser,
            ifnull(c.fujian,'') as fujian,
            ifnull(c.remark,'') as remark,
            c.type
        FROM
            anbiao_vehicles_move_info c
            inner join anbiao_vehicle a on c.vehId = a.id
            inner join  (
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.dept_id = b.id
        WHERE 1=1
            and ifnull(a.is_deleted,0) = 0

    </sql>

    <sql id="querySql">

        <if test="cheliangpaizhao !=null and cheliangpaizhao != ''">
            AND cheliangpaizhao like CONCAT('%',#{cheliangpaizhao},'%')
        </if>

        <if test="caozuoshijian !=null and caozuoshijian != ''">
            AND updateTime &gt;= #{caozuoshijian}
        </if>

    </sql>

    <sql id="orderSql">
        &lt;!&ndash; 默认排序规则 &ndash;&gt;
        <if test="orderColumn == null or orderColumn == ''">
            order by cheliangpaizhao
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>

    </sql>

    <select id="selectVehiclePage" resultMap="vehicleVOResultMap"
            parameterType="org.springblade.anbiao.cheliangguanli.page.VehiclePage" resultType="org.springblade.anbiao.cheliangguanli.vo.VehicleVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectVehicleTotal"
            parameterType="org.springblade.anbiao.cheliangguanli.page.VehiclePage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>-->

    <sql id="tableSql">
        SELECT
        a.id,
        a.dept_id as deptId,
        cc.dept_name deptName,
        cheliangpaizhao ,
        chepaiyanse ,
        b.jiashiyuanxingming ,
        b.shoujihaoma ,
        c.avx_register_date as xingshizhengzhuceriqi,
        c.avx_issue_date as xingshizhengfazhengriqi,
        c.avx_valid_until as xingshizhengjieshuriqi,
        case when IFNULL(c.avx_valid_until,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),c.avx_valid_until),'天') end as xingshizhengshengyuyouxiaoqi,
        c.avx_baofei_time as qiangzhibaofeiriqi,
        case when IFNULL(c.avx_baofei_time,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),c.avx_baofei_time),'天') end as qiangzhibaofeishengyuyouxiaoqi,
        xinghao ,
        c.avx_vin as cheliangxinghao,
        c.avx_owner as cheliangsuoyouren,
        c.avx_address as address,
        shiyongxingzhi ,
        c.avx_file_no as danganbianhao,
        c.avx_model as pinpaixinghao,
        c.avx_vin as cheliangshibiedaima,
        a.cheshenyanse ,
        cc.jingyingxukezhengbianma ,
        a.jingjileixing ,
        a.jingyingzuzhifangshi ,
        a.cheliangyunyingleixing ,
        a.teamno,
        a.chelianghuoqufangshi ,
        a.weihuzhouqi ,
        a.chejiahao ,
        a.shifoujinkou ,
        a.ranliaoleibie ,
        a.fadongjipailianggonglv ,
        a.zhuanxiangfangshi ,
        a.zhizhaochangshang ,
        a.lunju ,
        a.frontlunju ,
        a.luntaishu ,
        a.luntaiguige ,
        a.gangbantanhuangpianshu ,
        a.zhouju ,
        a.chezhoushu ,
        a.huoxiangneibuchicun ,
        a.hedingzaike ,
        a.jiashishizaike ,
        a.zongzhiliang ,
        a.hedingzaizhiliang ,
        a.zhunqianyinzongzhiliang ,
        a.cheliangwaikuochicun,
        a.chuchangriqi ,
        a.bencijipingriqi ,
        a.xiacijipingriqi ,
        case when IFNULL(a.bencijipingriqi,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),a.bencijipingriqi),'天') end as jishupingdingshengyuyouxiaoqi,
        ifnull(b.jiashiyuanxingming,'') as chezhu,
        d.avd_road_transport_certificate_no as daoluyunshuzhenghao,
        d.avd_issue_date as daoluyunshuzhengkaishiriqi,
        d.avd_valid_until as daoluyunshuzhengjieshuriqi,
        case when IFNULL(d.avd_valid_until,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),d.avd_valid_until),'天') end as daoluyunshuzhengshengyuyouxiaoqi,
        a.cheliangzhuangtai as status
        FROM
        anbiao_vehicle a
        inner join anbiao_organization cc on a.dept_id = cc.dept_id and cc.isdelete = 0
        left join anbiao_jiashiyuan b on a.jiashiyuanid = b.id and b.isdelete=0
        left join anbiao_vehicle_xingshizheng c on a.id = c.avx_av_ids
        left join anbiao_vehicle_daoluyunshuzheng d on a.id = d.avd_av_ids
        WHERE 1=1
        and a.cheliangzhuangtai not in (0,1)
        and a.dept_id in(
            SELECT
            DISTINCT
            xiaji.id
            FROM
            blade_dept shangji,
            blade_dept xiaji
            WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
            AND xiaji.is_deleted = 0 AND xiaji.extend_type='机构'
            <if test="deptId != null">
                and shangji.id=#{deptId}
            </if>
        )
        <if test="id !=null and id != '' ">
            AND a.id = #{id}
        </if>
    </sql>

    <sql id="querySql">
        <if test="cheliangpaizhao !=null and cheliangpaizhao != ''">
            AND cheliangpaizhao like CONCAT('%',#{cheliangpaizhao},'%')
        </if>

        <if test="deptName !=null and deptName != ''">
            AND deptName like CONCAT('%',#{deptName},'%')
        </if>

        <if test='cheliangleixing !=null and cheliangleixing != ""and cheliangleixing == "1" '>
            AND cheliangpaizhao LIKE '%挂%'
        </if>

        <if test='cheliangleixing !=null and cheliangleixing != ""and cheliangleixing == "0" '>
            AND cheliangpaizhao not LIKE '%挂%'
        </if>

        <if test="status !=null ">
            and status = #{status}
        </if>

    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        order by cheliangpaizhao
    </sql>

    <select id="selectPageList" parameterType="org.springblade.anbiao.cheliangguanli.page.VehiclePage" resultType="org.springblade.anbiao.cheliangguanli.vo.VehicleListVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.cheliangguanli.page.VehiclePage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <sql id="tableGHCSql">
        SELECT
        a.id,
        a.dept_id as deptId,
        cc.dept_name deptName,
        cheliangpaizhao ,
        chepaiyanse ,
        b.jiashiyuanxingming ,
        b.shoujihaoma ,
        c.avx_register_date as xingshizhengzhuceriqi,
        c.avx_issue_date as xingshizhengfazhengriqi,
        c.avx_valid_until as xingshizhengjieshuriqi,
        case when IFNULL(c.avx_valid_until,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),c.avx_valid_until),'天') end as xingshizhengshengyuyouxiaoqi,
        c.avx_baofei_time as qiangzhibaofeiriqi,
        case when IFNULL(c.avx_baofei_time,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),c.avx_baofei_time),'天') end as qiangzhibaofeishengyuyouxiaoqi,
        xinghao ,
        c.avx_vin as cheliangxinghao,
        c.avx_owner as cheliangsuoyouren,
        c.avx_address as address,
        shiyongxingzhi ,
        c.avx_file_no as danganbianhao,
        c.avx_model as pinpaixinghao,
        c.avx_vin as cheliangshibiedaima,
        a.cheshenyanse ,
        cc.jingyingxukezhengbianma ,
        a.jingjileixing ,
        a.jingyingzuzhifangshi ,
        a.cheliangyunyingleixing ,
        a.teamno,
        a.chelianghuoqufangshi ,
        a.weihuzhouqi ,
        a.chejiahao ,
        a.shifoujinkou ,
        a.ranliaoleibie ,
        a.fadongjipailianggonglv ,
        a.zhuanxiangfangshi ,
        a.zhizhaochangshang ,
        a.lunju ,
        a.frontlunju ,
        a.luntaishu ,
        a.luntaiguige ,
        a.gangbantanhuangpianshu ,
        a.zhouju ,
        a.chezhoushu ,
        a.huoxiangneibuchicun ,
        a.hedingzaike ,
        a.jiashishizaike ,
        a.zongzhiliang ,
        a.hedingzaizhiliang ,
        a.zhunqianyinzongzhiliang ,
        a.cheliangwaikuochicun,
        a.chuchangriqi ,
        a.bencijipingriqi ,
        a.xiacijipingriqi ,
        case when IFNULL(a.bencijipingriqi,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),a.bencijipingriqi),'天') end as jishupingdingshengyuyouxiaoqi,
        ifnull(b.jiashiyuanxingming,'') as chezhu,
        d.avd_road_transport_certificate_no as daoluyunshuzhenghao,
        d.avd_issue_date as daoluyunshuzhengkaishiriqi,
        d.avd_valid_until as daoluyunshuzhengjieshuriqi,
        case when IFNULL(d.avd_valid_until,'') = '' then '0天'
        else CONCAT(TIMESTAMPDIFF(day,NOW(),d.avd_valid_until),'天') end as daoluyunshuzhengshengyuyouxiaoqi,
        a.cheliangzhuangtai as status
        FROM
        anbiao_vehicle a
        inner join anbiao_organization cc on a.dept_id = cc.dept_id and cc.isdelete = 0
        left join anbiao_jiashiyuan b on a.jiashiyuanid = b.id and b.isdelete=0
        left join anbiao_vehicle_xingshizheng c on a.id = c.avx_av_ids
        left join anbiao_vehicle_daoluyunshuzheng d on a.id = d.avd_av_ids
        WHERE 1=1
        and a.is_deleted = 1
        and a.cheliangzhuangtai = 1
        and a.dept_id in(
            SELECT
            DISTINCT
            xiaji.id
            FROM
            blade_dept shangji,
            blade_dept xiaji
            WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
            AND xiaji.is_deleted = 0 AND xiaji.extend_type='机构'
            <if test="deptId != null">
                and shangji.id=#{deptId}
            </if>
        )
        <if test="id !=null and id != '' ">
            AND a.id = #{id}
        </if>
    </sql>

    <sql id="queryGHCSql">
        <if test="cheliangpaizhao !=null and cheliangpaizhao != ''">
            AND cheliangpaizhao like CONCAT('%',#{cheliangpaizhao},'%')
        </if>

        <if test="deptName !=null and deptName != ''">
            AND deptName like CONCAT('%',#{deptName},'%')
        </if>

        <if test='cheliangleixing !=null and cheliangleixing != ""and cheliangleixing == "1" '>
            AND cheliangpaizhao LIKE '%挂%'
        </if>

        <if test='cheliangleixing !=null and cheliangleixing != ""and cheliangleixing == "0" '>
            AND cheliangpaizhao not LIKE '%挂%'
        </if>

        <if test="status !=null ">
            and cheliangzhuangtai = #{status}
        </if>
    </sql>
    <sql id="orderGHCSql">
        <!-- 默认排序规则 -->
        order by cheliangpaizhao
    </sql>

    <select id="selectGHCPageList" parameterType="org.springblade.anbiao.cheliangguanli.page.VehiclePage" resultType="org.springblade.anbiao.cheliangguanli.vo.VehicleListVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableGHCSql" />
            )b
            where 1=1
            <include refid="queryGHCSql" />
            <include refid="orderGHCSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableGHCSql" />
            )b
            where 1=1
            <include refid="queryGHCSql" />
            <include refid="orderGHCSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectGHCTotal" parameterType="org.springblade.anbiao.cheliangguanli.page.VehiclePage" resultType="int">
        select COUNT(1) from (
        <include refid="tableGHCSql" />
        )d
        where 1 = 1
        <include refid="queryGHCSql" />
    </select>

</mapper>
