<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.yinhuanpaicha.mapper.AnbiaoHiddenDangerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.anbiao.yinhuanpaicha.entity.AnbiaoHiddenDanger">
        <id column="ahd_ids" property="ahdIds" />
        <result column="ahd_dept_ids" property="ahdDeptIds" />
        <result column="ahd_vehicle_ids" property="ahdVehicleIds" />
        <result column="ahd_type" property="ahdType" />
        <result column="ahd_driver_ids" property="ahdDriverIds" />
        <result column="ahd_driver_name" property="ahdDriverName" />
        <result column="ahd_discoverer_ids" property="ahdDiscovererIds" />
        <result column="ahd_discoverer_name" property="ahdDiscovererName" />
        <result column="ahd_discovery_time" property="ahdDiscoveryTime" />
        <result column="ahd_describe" property="ahdDescribe" />
        <result column="ahd_hiddendanger_enclosure" property="ahdHiddendangerEnclosure" />
        <result column="ahd_rectification_situation" property="ahdRectificationSituation" />
        <result column="ahd_rectification_persion_ids" property="ahdRectificationPersionIds" />
        <result column="ahd_rectification_time" property="ahdRectificationTime" />
        <result column="ahd_rectification_persion_name" property="ahdRectificationPersionName" />
        <result column="ahd_rectification_enclosure" property="ahdRectificationEnclosure" />
        <result column="ahd_delete" property="ahdDelete" />
        <result column="ahd_create_time" property="ahdCreateTime" />
        <result column="ahd_create_by_ids" property="ahdCreateByIds" />
        <result column="ahd_create_by_name" property="ahdCreateByName" />
        <result column="ahd_update_time" property="ahdUpdateTime" />
        <result column="ahd_update_by_ids" property="ahdUpdateByIds" />
        <result column="ahd_update_by_name" property="ahdUpdateByName" />
    </resultMap>

    <resultMap id="AnbiaoHiddenDangerVOBaseResultMap" type="org.springblade.anbiao.yinhuanpaicha.vo.AnbiaoHiddenDangerVO">
    </resultMap>

    <sql id="tableSql">
        select
            a.*,
            b.dept_name as deptname,
            c.cheliangpaizhao
        from
            anbiao_hidden_danger a
            inner join  (
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.ahd_dept_ids = b.id
            left join anbiao_vehicle c on b.ahdVehicleIds = c.id
        where a.ast_delete = 0
            and a.ahd_discovery_time >= #{date}
    </sql>

    <sql id="querySql">
        <if test="deptname != null and deptname != '' ">
            and deptname like '%${deptname}%'
        </if>
        <if test="cheliangpaizhao != null and cheliangpaizhao != '' ">
            and cheliangpaizhao like '%${cheliangpaizhao}%'
        </if>
        <if test="ahdType != null and ahdType != '' ">
            and ahdType = #{ahdType}
        </if>
    </sql>

    <sql id="orderSql">
        <!-- 默认排序规则 -->
        ORDER BY ahd_discovery_time desc
    </sql>

    <select id="selectPage" resultMap="AnbiaoHiddenDangerVOBaseResultMap"
            parameterType="org.springblade.anbiao.yinhuanpaicha.page.AnbiaoHiddenDangerPage" >
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal"
            parameterType="org.springblade.anbiao.chuchejiancha.page.AnbiaoCarExamineInfoPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

</mapper>
