<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.labor.mapper.laborMapper">


    <!--劳保列表-->
    <select id="selectList" parameterType="org.springblade.anbiao.labor.page.LaborPage" resultType="org.springblade.anbiao.labor.VO.LaborVO">
        <if test="size==0">
        select
        a.ali_name AS aliName,a.ali_issue_date AS aliIssueDate,a.ali_issue_quantity AS aliIssueQuantity,
        a.ali_issue_people_number AS aliIssuePeopleNumber,a.ali_status AS aliStatus,a.ali_ids AS aliIds,
        a.ali_application_scope AS aliApplicationScope,b.dept_name as detName
        from
        anbiao_labor_insurance a
        inner join (
        <include
            refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.ali_dept_ids = b.id
        <where> a.ali_delete = 0
         <if test="asiYear!=null">
            a.ali_create_time between #{asiYear} and #{asiYear}
         </if>
         <if test="deptName!=null">
             b.dept_name= #{deptName}
         </if>
        limit ${total}
        </where>
        </if>
        <if test="current != 0">
                select
            a.ali_name AS aliName,a.ali_issue_date AS aliIssueDate,a.ali_issue_quantity AS aliIssueQuantity,
            a.ali_issue_people_number AS aliIssuePeopleNumber,a.ali_status AS aliStatus,a.ali_ids AS aliIds,
            a.ali_application_scope AS aliApplicationScope,b.dept_name as detName
                from
                anbiao_labor_insurance a
                inner join (
                <include
                    refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
                ) b on a.ali_dept_ids = b.id
                <where> a.ali_delete = 0
                    <if test="asiYear!=null">
                        a.ali_create_time between #{asiYear} and #{asiYear}
                    </if>
                    <if test="deptName!=null">
                        b.dept_name= #{deptName}
                    </if>
                limit ${offsetNo},${size}
                </where>
        </if>
    </select>


    <select id="selectAll" parameterType="org.springblade.anbiao.labor.page.LaborPage" resultType="org.springblade.anbiao.labor.entity.LaborEntity">
        SELECT
            ali_ids AS aliIds,
            ali_name AS aliName,
            ali_delete AS aliDelete,
            ali_status AS aliStatus,
            ali_issue_people_number AS aliIssuePeopleNumber,
            ali_application_scope AS aliApplicationScope,
            ali_issue_quantity AS aliIssueQuantity,
            ali_issue_date AS aliIssueDate,
            ali_dept_ids AS aliDeptIds
        FROM
            anbiao_labor_insurance
        where
            ali_ids =#{aliIds} and ali_delete = 0
    </select>

    <select id="selectC" parameterType="org.springblade.anbiao.labor.page.LaborPage" resultType="org.springblade.anbiao.labor.entity.Labor">
        SELECT
        alr_person_name AS aadApName,ali_application_scope AS aadApType ,alr_person_ids AS aadApIds
        FROM
            anbiao_labor_receive
        where alr_ali_ids  = #{aliIds}
    </select>



    <!--新增劳保-->
    <insert id="insertOne" parameterType="org.springblade.anbiao.labor.entity.LaborEntity">
        insert into anbiao_labor_insurance(ali_ids,ali_dept_ids,ali_name,ali_issue_date,ali_issue_quantity,ali_issue_people_number,
                                       ali_status,ali_application_scope,ali_delete
        )
        values (#{aliIds},${aliDeptIds},#{aliName},#{aliIssueDate},#{aliIssueQuantity},#{aliIssuePeopleNumber},
                #{aliStatus},#{aliApplicationScope},0)
    </insert>

    <insert id="insertA" parameterType="org.springblade.anbiao.labor.entity.Labor">
        insert into anbiao_labor_receive(alr_person_name,alr_delete,alr_person_ids,alr_ids,ali_application_scope,alr_ali_ids)
        values (#{aadApName},0,#{aadApIds},#{alrIds},#{aadApType},#{alrAliIds})
    </insert>

    <select id="selectGrapsihVO" resultType="org.springblade.anbiao.labor.VO.graphicsVO">
        select
            ali_application_scope AS ali_application_scope ,ali_issue_quantity AS ali_issue_quantity
        from
            anbiao_labor_insurance
        where ali_name = #{ali_name}
    </select>

    <update id="updateA" parameterType="org.springblade.anbiao.labor.entity.LaborlingquEntity">
        update 	anbiao_labor_receive
        <set>
            <if test="aadApName != null">
                alr_person_name = #{aadApName},
            </if>
            <if test="aadApType != null">
                alr_person_ids = #{aadApType},
            </if>
            <if test="aadApIds != null">
                alr_person_ids = #{aadApIds},
            </if>
            <if test="alrIds != null">
                alr_ids = #{alrIds},
            </if>
            alr_delete = 1
        </set>
        where alr_ali_ids = #{alrIds}
    </update>

    <update id="updateL" parameterType="org.springblade.anbiao.labor.entity.LaborlingquEntity">
        update 	anbiao_labor_receive
        <set>
            <if test="alrAliIds != null">
                alr_ali_ids = #{alrAliIds}
            </if>
            <if test="alrPersonIds != null">
                alr_person_ids = #{alrPersonIds}
            </if>
            <if test="alrPersonName != null">
                alr_person_name = #{alrPersonName}
            </if>
            <if test="alrReceiptsNumber != null">
                alr_receipts_number = #{alrReceiptsNumber}
            </if>
            <if test="alrReceiptDate != null">
                alr_receipt_date = #{alrReceiptDate}
            </if>
            <if test="alrPersonAutograph != null">
                alr_person_autograph = #{alrPersonAutograph}
            </if>
            <if test="alrDelete!= null">
                alr_delete = #{alrDelete}
            </if>
            <if test="alrCreateTime != null">
                alr_create_time = #{alrCreateTime}
            </if>
            <if test="alrCreateByIds != null">
                alr_create_by_ids = #{alrCreateByIds}
            </if>
            <if test="alrCreateByName != null">
                alr_create_by_name = #{alrCreateByName}
            </if>
            <if test="alrUpdateTime != null">
                alr_update_time = #{alrUpdateTime}
            </if>
            <if test="alrUpdateByIds != null">
                alr_update_by_ids = #{alrUpdateByIds}
            </if>
            <if test="alrUpdateByName != null">
                alr_update_by_name = #{alrUpdateByName}
            </if>
        </set>
        where alr_ali_ids = #{alrIds}
    </update>

    <!--修改劳保-->
    <update id="updateLao" parameterType="org.springblade.anbiao.labor.entity.LaborEntity">
        update anbiao_labor_insurance
        <set>
            <if test="aliIssuePeopleNumber != null">
                ali_issue_people_number = #{aliIssuePeopleNumber},
            </if>
            <if test="aliApplicationScope != null">
                ali_application_scope = #{aliApplicationScope},
            </if>
            <if test="aliDeptIds != null">
                ali_dept_ids = #{aliDeptIds},
            </if>
            <if test="aliName != null">
                ali_name = #{aliName},
            </if>
            <if test="aliStatus != null">
                ali_status = #{aliStatus},
            </if>
            <if test="aliIssueDate != null">
                ali_issue_date = #{aliIssueDate},
            </if>
            <if test="aliUpdateByIds!=null">
                ajw_update_by_ids =#{deptId}
            </if>
        </set>
        where ali_ids = #{aliIds}
    </update>

    <!--删除劳保-->
    <update id="deleteLao" parameterType="org.springblade.anbiao.labor.DTO.laborDTO" >
        update anbiao_labor_insurance set
            ali_delete = 1
        WHERE ali_ids = #{aliIds}
    </update>

    <sql id="tableSql">
        select
        a.*,
        b.dept_name as deptName
        from
        anbiao_labor_insurance a
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.ali_dept_ids = b.id
        where a.ali_delete = 0
    </sql>

    <select id="selectTotal"
            parameterType="org.springblade.anbiao.labor.page.LaborPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql"/>
        )d where 1 = 1
        <if test="asiYear!=null and asiYear!=''">
            AND d.ali_issue_date = #{asiYear}
        </if>
        <if test="deptName!=null and deptName!=''">
            AND d.deptName = #{deptName}
        </if>
        <if test="Name!=null and Name!=''">
            AND d.ali_name = #{Name}
        </if>
    </select>


</mapper>
