<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.labor.mapper.laborMapper">

    <resultMap id="LaborVOResultMap" type="org.springblade.anbiao.labor.VO.LaborVO">
    </resultMap>

    <!--劳保列表-->
    <select id="selectList" parameterType="org.springblade.anbiao.labor.page.LaborPage" resultType="org.springblade.anbiao.labor.VO.LaborVO">
        <if test="size==0">
        select
            distinct
            a.ali_name AS aliName,a.ali_issue_date AS aliIssueDate,a.ali_issue_quantity AS aliIssueQuantity,
            a.ali_issue_people_number AS aliIssuePeopleNumber,a.ali_status AS aliStatus,a.ali_ids AS aliIds,
            a.ali_application_scope AS aliApplicationScope,b.dept_name as detName
        <if test="alrPersonIds!=null and alrPersonIds!=''">
            ,d.alr_person_autograph as alrPersonAutograph,
            d.alr_receipt_date as alrReceiptDate,
            d.alr_receipts_number as alrReceiptsNumber
        </if>
        from
            anbiao_labor_insurance a
            inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.ali_dept_ids = b.id
            left join anbiao_labor_receive d on d.alr_ali_ids = a.ali_ids
        <where> a.ali_delete = 0
         <if test="asiYear!=null and asiYear!=''">
             AND year(a.ali_issue_date) >= year(#{asiYear})
         </if>
         <if test="deptName!=null and deptName!=''">
             AND b.dept_name like CONCAT('%',#{deptName},'%')
         </if>
         <if test="aliName!=null and aliName!=''">
             AND a.ali_name= #{aliName}
         </if>
        <if test="alrPersonIds!=null and alrPersonIds!=''">
            AND d.alr_person_ids = #{alrPersonIds}
        </if>
        order by d.alr_receipt_date
        limit ${total}
        </where>
        </if>
        <if test="current != 0">
            select
                distinct
                a.ali_name AS aliName,a.ali_issue_date AS aliIssueDate,a.ali_issue_quantity AS aliIssueQuantity,
                a.ali_issue_people_number AS aliIssuePeopleNumber,a.ali_status AS aliStatus,a.ali_ids AS aliIds,
                a.ali_application_scope AS aliApplicationScope,b.dept_name as detName
            <if test="alrPersonIds!=null and alrPersonIds!=''">
                ,d.alr_person_autograph as alrPersonAutograph,
                d.alr_receipt_date as alrReceiptDate,
                d.alr_receipts_number as alrReceiptsNumber
            </if>
            from
            anbiao_labor_insurance a
            inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.ali_dept_ids = b.id
            left join anbiao_labor_receive d on d.alr_ali_ids = a.ali_ids
            <where> a.ali_delete = 0
                <if test="asiYear!=null and asiYear!=''">
                    AND year(a.ali_issue_date) >= year(#{asiYear})
                </if>
                <if test="deptName!=null  and deptName!=''">
                    AND b.dept_name= #{deptName}
                </if>
                <if test="aliName!=null and aliName!=''">
                    AND a.ali_name= #{aliName}
                </if>
                <if test="alrPersonIds!=null and alrPersonIds!=''">
                    AND d.alr_person_ids = #{alrPersonIds}
                </if>
                order by d.alr_receipt_date
            limit ${offsetNo},${size}
            </where>
        </if>
    </select>


    <select id="selectAll" parameterType="org.springblade.anbiao.labor.page.LaborPage" resultType="org.springblade.anbiao.labor.entity.LaborEntity">
        SELECT
            ali_ids AS aliIds,
            ali_name AS aliName,
            ali_delete AS aliDelete,
            ali_status AS aliStatus,
            ali_issue_people_number AS aliIssuePeopleNumber,
            ali_application_scope AS aliApplicationScope,
            ali_issue_quantity AS aliIssueQuantity,
            ali_issue_date AS aliIssueDate,
            ali_dept_ids AS aliDeptIds
        FROM
            anbiao_labor_insurance
        where
            ali_ids =#{aliIds} and ali_delete = 0
    </select>

    <select id="selectC" parameterType="org.springblade.anbiao.labor.page.LaborPage" resultType="org.springblade.anbiao.labor.entity.Labor">
        SELECT
            alr_ids as alrIds,
            alr_ali_ids as alrAliIds,
            alr_person_name AS aadApName,
            ali_application_scope AS aadApType,
            alr_person_ids AS aadApIds,
            alr_person_autograph as alrPersonAutograph,
            alr_receipt_date as alrReceiptDate,
            alr_receipts_number as alrReceiptsNumber
        FROM
            anbiao_labor_receive
        where alr_ali_ids  = #{aliIds}
    </select>

    <!--新增劳保-->
    <insert id="insertOne" parameterType="org.springblade.anbiao.labor.entity.LaborEntity">
        insert into anbiao_labor_insurance(ali_ids,ali_dept_ids,ali_name,ali_issue_date,ali_issue_quantity,ali_issue_people_number,
                                       ali_status,ali_application_scope,ali_delete,ali_create_time,ali_create_by_ids,ali_create_by_name
        )
        values (#{aliIds},${aliDeptIds},#{aliName},#{aliIssueDate},#{aliIssueQuantity},#{aliIssuePeopleNumber},
                #{aliStatus},#{aliApplicationScope},0,#{aliCreateTime},#{aliCreateByIds},#{aliCreateByName})
    </insert>

    <insert id="insertA" parameterType="org.springblade.anbiao.labor.entity.Labor">
        insert into anbiao_labor_receive(alr_person_name,alr_delete,alr_person_ids,alr_ids,ali_application_scope,alr_ali_ids,alr_create_time,alr_create_by_ids,alr_create_by_name)
        values (#{aadApName},0,#{aadApIds},#{alrIds},#{aadApType},#{alrAliIds},#{alrCreateTime},#{alrCreateByIds},#{alrCreateByName})
    </insert>

    <select id="selectGrapsihVO" resultType="org.springblade.anbiao.labor.VO.graphicsVO" parameterType="map">
        select
            ali_name as aliname,
            sum(ali_issue_quantity) AS aliissuequantity,
            SUM(ali_issue_people_number) as aliissuepeoplenumber
        from
            anbiao_labor_insurance
        where left(ali_issue_date,4) = left(#{aliIssueDate},4)
          and ali_dept_ids = #{aliDeptIds}
          and ali_delete = 0
        group by ali_name
    </select>

    <update id="updateA" parameterType="org.springblade.anbiao.labor.entity.LaborlingquEntity">
        update 	anbiao_labor_receive
        <set>
            <if test="aadApName != null">
                alr_person_name = #{aadApName},
            </if>
            <if test="aadApType != null">
                alr_person_ids = #{aadApType},
            </if>
            <if test="aadApIds != null">
                alr_person_ids = #{aadApIds},
            </if>
            <if test="alrIds != null">
                alr_ids = #{alrIds},
            </if>
            alr_delete = 1
        </set>
        where alr_ali_ids = #{alrIds}
    </update>

    <update id="updateL" parameterType="org.springblade.anbiao.labor.entity.LaborlingquEntity">
        update anbiao_labor_receive
        <set>
            <if test="alrPersonName != null">
                alr_person_name = #{alrPersonName},
            </if>
            <if test="alrReceiptsNumber != null">
                alr_receipts_number = #{alrReceiptsNumber},
            </if>
            <if test="alrReceiptDate != null">
                alr_receipt_date = #{alrReceiptDate},
            </if>
            <if test="alrPersonAutograph != null">
                alr_person_autograph = #{alrPersonAutograph},
            </if>
            <if test="alrDelete!= null">
                alr_delete = #{alrDelete},
            </if>
            <if test="alrCreateTime != null">
                alr_create_time = #{alrCreateTime},
            </if>
            <if test="alrCreateByIds != null">
                alr_create_by_ids = #{alrCreateByIds},
            </if>
            <if test="alrCreateByName != null">
                alr_create_by_name = #{alrCreateByName},
            </if>
            <if test="alrUpdateTime != null">
                alr_update_time = #{alrUpdateTime},
            </if>
            <if test="alrUpdateByIds != null">
                alr_update_by_ids = #{alrUpdateByIds},
            </if>
            <if test="alrUpdateByName != null">
                alr_update_by_name = #{alrUpdateByName}
            </if>
        </set>
        where alr_ali_ids = #{alrAliIds}
            and alr_person_ids = #{alrPersonIds}
    </update>

    <!--修改劳保-->
    <update id="updateLao" parameterType="org.springblade.anbiao.labor.entity.LaborEntity">
        update anbiao_labor_insurance
        <set>
            <if test="aliIssuePeopleNumber != null">
                ali_issue_people_number = #{aliIssuePeopleNumber},
            </if>
            <if test="aliApplicationScope != null">
                ali_application_scope = #{aliApplicationScope},
            </if>
            <if test="aliDeptIds != null">
                ali_dept_ids = #{aliDeptIds},
            </if>
            <if test="aliName != null">
                ali_name = #{aliName},
            </if>
            <if test="aliStatus != null">
                ali_status = #{aliStatus},
            </if>
            <if test="aliIssueDate != null">
                ali_issue_date = #{aliIssueDate},
            </if>
            <if test="aliUpdateByIds!=null">
                ajw_update_by_ids =#{deptId}
            </if>
        </set>
        where ali_ids = #{aliIds}
    </update>

    <!--删除劳保-->
    <update id="deleteLao" parameterType="org.springblade.anbiao.labor.DTO.laborDTO" >
        update anbiao_labor_insurance set
            ali_delete = 1
        WHERE ali_ids = #{aliIds}
    </update>

    <sql id="tableSql">
        select
            a.*,
            b.dept_name as deptName
        <if test="alrPersonIds!=null and alrPersonIds!=''">
            ,d.alr_person_autograph as alrPersonAutograph,
            d.alr_receipt_date as alrReceiptDate,
            d.alr_receipts_number as alrReceiptsNumber,
            d.alr_person_ids
        </if>
        from
        anbiao_labor_insurance a
        left join anbiao_labor_receive d on d.alr_ali_ids = a.ali_ids
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.ali_dept_ids = b.id
        where a.ali_delete = 0
    </sql>

    <select id="selectTotal"
            parameterType="org.springblade.anbiao.labor.page.LaborPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql"/>
        )d where 1 = 1
        <if test="asiYear!=null and asiYear!=''">
            AND year(d.ali_issue_date) >= year(#{asiYear})
        </if>
        <if test="deptName!=null and deptName!=''">
            AND d.deptName= #{deptName}
        </if>
        <if test="aliName!=null and aliName!=''">
            AND d.ali_name= #{aliName}
        </if>
        <if test="alrPersonIds!=null and alrPersonIds!=''">
            AND d.alr_person_ids = #{alrPersonIds}
        </if>
    </select>

    <select id="selectInsurance" resultType="org.springblade.anbiao.labor.entity.LaborEntity">
        SELECT * FROM
            anbiao_labor_insurance
        WHERE ali_dept_ids = #{aliDeptIds}
          and ali_delete = 0
    </select>

    <select id="selectLedgerList" resultType="org.springblade.anbiao.labor.VO.LaborledgerVO" >

        SELECT
            c.dept_name as deptName,
            a.* ,
            b.*
        FROM
            (
                SELECT
                    ali_ids,ali_dept_ids,ali_name AS aliName,ali_issue_date as aliIssueDate,ali_issue_people_number AS aliIssuePeopleNumber,ali_issue_quantity AS aliIssueQuantity,ali_delete
                FROM
                    anbiao_labor_insurance
                where
                    ali_delete=0
            ) a
                inner JOIN ( SELECT id, dept_name FROM blade_dept ) c ON c.id = a.ali_dept_ids
                LEFT JOIN(
                SELECT
                    alr_ids,alr_ali_ids,alr_person_name AS alrPersonName,alr_receipts_number as alrReceiptsNumber,alr_receipt_date AS alrReceiptDate,alr_person_autograph AS alrPersonAutograph,alr_delete
                FROM
                    anbiao_labor_receive
                where
                    alr_delete=0) b on b.alr_ali_ids=a.ali_ids

    </select>

    <select id="selectLedgerPage"
            parameterType="org.springblade.anbiao.labor.page.laborledgerPage"
            resultType="org.springblade.anbiao.labor.VO.LaborledgerVO">
        <if test="size == 0" >
            SELECT
            c.dept_name as deptName,
            c.id as deptId,
            a.*
            FROM
            (
            SELECT
            ali_ids,ali_dept_ids,ali_name AS aliName,ali_issue_date as aliIssueDate,ali_issue_people_number AS aliIssuePeopleNumber,ali_issue_quantity AS aliIssueQuantity,ali_delete
            FROM
            anbiao_labor_insurance
            where
            ali_delete=0
            ) a
            inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) c ON c.id = a.ali_dept_ids
            where 1=1
            <if test="date != null and date != ''">
                <!--AND a.aliIssueDate >= #{date}-->
                AND year(a.aliIssueDate) = year(#{date})
                AND month(a.aliIssueDate) = month(#{date})
            </if>
            <if test="deptName != null and deptName != ''">
                AND c.dept_name like '%${deptName}%'
            </if>
            <if test="aliName != null and aliName != ''">
                AND a.aliName like '%${aliName}%'
            </if>
            <if test="aliIds != null and aliIds != ''">
                AND a.ali_ids=#{aliIds}
            </if>
            limit ${total}
        </if>
        <if test="current != 0" >
            SELECT
            c.dept_name as deptName,
            c.id as deptId,
            a.*
            FROM
            (
            SELECT
            ali_ids,ali_dept_ids,ali_name AS aliName,ali_issue_date as aliIssueDate,ali_issue_people_number AS aliIssuePeopleNumber,ali_issue_quantity AS aliIssueQuantity,ali_delete
            FROM
            anbiao_labor_insurance
            where
            ali_delete=0
            ) a
            inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) c ON c.id = a.ali_dept_ids
            where 1=1
            <if test="date != null and date != ''">
                <!--AND a.aliIssueDate >= #{date}-->
                AND year(a.aliIssueDate) = year(#{date})
                AND month(a.aliIssueDate) = month(#{date})
            </if>
            <if test="deptName != null and deptName != ''">
                AND c.dept_name like '%${deptName}%'
            </if>
            <if test="aliName != null and aliName != ''">
                AND a.aliName like '%${aliName}%'
            </if>
            <if test="aliIds != null and aliIds != ''">
                AND a.ali_ids=#{aliIds}
            </if>
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectLedgerTotal"
            parameterType="org.springblade.anbiao.labor.page.laborledgerPage"
            resultType="int">
        select COUNT(1) from(
                             SELECT
                                  c.dept_name as deptName,
                                  c.id as deptId,
                                  a.*
                              FROM
                                  (
                                      SELECT
                                          ali_ids,ali_dept_ids,ali_name AS aliName,ali_issue_date as aliIssueDate,ali_issue_people_number AS aliIssuePeopleNumber,ali_issue_quantity AS aliIssueQuantity,ali_delete
                                      FROM
                                          anbiao_labor_insurance
                                      where
                                          ali_delete=0
                                  ) a
                                  inner join (
                                     <include
                                         refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
                                     ) c ON c.id = a.ali_dept_ids
                                where 1=1
                                <if test="date != null and date != ''">
                                    <!--AND a.aliIssueDate >= #{date}-->
                                    AND year(a.aliIssueDate) = year(#{date})
                                    AND month(a.aliIssueDate) = month(#{date})
                                </if>
                                <if test="deptName != null and deptName != ''">
                                    AND c.dept_name like '%${deptName}%'
                                </if>
                                <if test="aliName != null and aliName != ''">
                                    AND a.aliName like '%${aliName}%'
                                </if>
                                <if test="aliIds != null and aliIds != ''">
                                    AND a.ali_ids=#{aliIds}
                                </if>
                            ) d
    </select>


    <sql id="tableLaborSql">
        select
            distinct
            a.ali_name AS aliName,
            a.ali_issue_date AS aliIssueDate,
            a.ali_issue_quantity AS aliIssueQuantity,
            <!--a.ali_issue_people_number AS aliIssuePeopleNumber,-->
            (
                ( SELECT
                COUNT( 1 ) AS num
                FROM
                anbiao_labor_receive a
                inner join anbiao_jiashiyuan j on a.alr_person_ids = j.id and j.isdelete = 0
                WHERE
                alr_ali_ids = a.ali_ids
                AND ali_application_scope = 1
                )
            + (
                SELECT
                COUNT( 1 ) AS num
                FROM
                anbiao_labor_receive a
                inner join anbiao_personnel p on p.userid = a.alr_person_ids and p.is_deleted = 0
                WHERE
                alr_ali_ids = a.ali_ids
                AND ali_application_scope = 0
                )
            ) as aliIssuePeopleNumber,
            a.ali_status AS aliStatus,
            a.ali_ids AS aliIds,
            a.ali_application_scope AS aliApplicationScope,
            b.dept_name AS detName
        <if test="alrPersonIds!=null and alrPersonIds!=''">
                ,d.alr_person_autograph as alrPersonAutograph,
                d.alr_receipt_date as alrReceiptDate,
                d.alr_receipts_number as alrReceiptsNumber
            </if>
        from
            anbiao_labor_insurance a
        inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.ali_dept_ids = b.id
        left join anbiao_labor_receive d on d.alr_ali_ids = a.ali_ids
        where a.ali_delete = 0
        <if test="asiYear!=null and asiYear!=''">
            AND year(a.ali_issue_date) >= year(#{asiYear})
        </if>
        <if test="deptName!=null and deptName!=''">
            AND b.dept_name like '%${deptName}%'
        </if>
        <if test="aliName!=null and aliName!=''">
            AND a.ali_name like '%${aliName}%'
        </if>
        <if test="alrPersonIds!=null and alrPersonIds!=''">
            AND d.alr_person_ids = #{alrPersonIds}
        </if>
    </sql>

    <sql id="queryLaborSql">
    </sql>

    <sql id="orderLaborSql">
        <!-- 默认排序规则 -->
        ORDER BY aliIssueDate desc
    </sql>

    <select id="selectLaborPage" resultMap="LaborVOResultMap" parameterType="org.springblade.anbiao.labor.page.LaborPage" >
        <if test="size == 0" >
            select * from (
            <include refid="tableLaborSql" />
            )b
            where 1=1
            <include refid="queryLaborSql" />
            <include refid="orderLaborSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableLaborSql" />
            )b
            where 1=1
            <include refid="queryLaborSql" />
            <include refid="orderLaborSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectLaborTotal"
            parameterType="org.springblade.anbiao.labor.page.LaborPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableLaborSql" />
        )d
        where 1 = 1
        <include refid="queryLaborSql" />
    </select>

    <select id="selectLaborMonth" resultType="org.springblade.anbiao.labor.VO.LaborMonthVO">
        select
            case when IFNULL(a.aliIds,'') = '' then b.aliIds else a.aliIds end as aliIds,
            dp.id as aliDeptIds,
            case when IFNULL(a.aliIssueDate,'') = '' then b.aliIssueDate else a.aliIssueDate end as aliIssueDate,
            dp.dept_name as deptname,
            IFNULL( a.num, 0 ) + IFNULL( b.num, 0 ) AS num
        from(
            <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            )dp
        left join(
            select
                MAX(aliIds) as aliIds,
                month(a.aliIssueDate) AS aliIssueDate,
                b.id as aliDeptIds,
                b.dept_name as deptname,
                COUNT(1) as num
            from(
                SELECT
                    a.ali_ids AS aliIds,
                    a.ali_name AS aliName,
                    a.ali_issue_date AS aliIssueDate,
                    a.ali_dept_ids AS aliDeptIds,
                    b.alr_person_ids AS aadApIds,
                    case when IFNULL(b.ali_application_scope,0) =1 then j.jiashiyuanxingming else b.alr_person_name end AS aadApName
                FROM
                    anbiao_labor_insurance a
                left join anbiao_labor_receive b on a.ali_ids = b.alr_ali_ids and b.ali_application_scope = 1
                inner join anbiao_jiashiyuan j on b.alr_person_ids = j.id and j.isdelete = 0
                where a.ali_delete = 0
                    and year(a.ali_issue_date) = year(#{date})
                    and month(a.ali_issue_date) = month(#{date})
                    and IFNULL(b.alr_person_autograph,'') = ''
                )a
            inner join(
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.aliDeptIds = b.id
            GROUP BY
                b.id,b.dept_name
            )a on a.aliDeptIds = dp.id
        LEFT JOIN(
            select
                MAX(aliIds) as aliIds,
                month(a.aliIssueDate) AS aliIssueDate,
                b.id as aliDeptIds,
                b.dept_name as deptname,
                COUNT(1) as num
            from(
                SELECT
                    a.ali_ids AS aliIds,
                    a.ali_name AS aliName,
                    a.ali_issue_date AS aliIssueDate,
                    a.ali_dept_ids AS aliDeptIds,
                    b.alr_person_ids AS aadApIds
                FROM
                    anbiao_labor_insurance a
                left join anbiao_labor_receive b on a.ali_ids = b.alr_ali_ids and b.ali_application_scope = 0
                inner join anbiao_personnel p on p.userid = b.alr_person_ids and p.is_deleted = 0
                where a.ali_delete = 0
                    and year(a.ali_issue_date) = year(#{date})
                    and month(a.ali_issue_date) = month(#{date})
                    and IFNULL(b.alr_person_autograph,'') = ''
                )a
            inner join(
                <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
                ) b on a.aliDeptIds = b.id
            GROUP BY
                b.id,b.dept_name
            ) b on b.aliDeptIds = dp.id


        <!--select
            MAX(aliIds) as aliIds,
            month(a.aliIssueDate) AS aliIssueDate,
            b.id as aliDeptIds,
            b.dept_name as deptname,
            COUNT(1) as num
        from(
            SELECT
                a.ali_ids AS aliIds,
                a.ali_name AS aliName,
                a.ali_issue_date AS aliIssueDate,
                a.ali_dept_ids AS aliDeptIds,
                b.alr_person_ids AS aadApIds,
                case when IFNULL(b.ali_application_scope,0) =1 then j.jiashiyuanxingming else b.alr_person_name end AS aadApName
            FROM
                anbiao_labor_insurance a
            left join anbiao_labor_receive b on a.ali_ids = b.alr_ali_ids
            left join anbiao_jiashiyuan j on b.alr_person_ids = j.id and j.isdelete = 0
            where a.ali_delete = 0
              and year(a.ali_issue_date) = year(#{date})
              and month(a.ali_issue_date) = month(#{date})
              and IFNULL(b.alr_person_autograph,'') = ''
            )a
        inner join(
            <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.aliDeptIds = b.id
        GROUP BY
            b.id,b.dept_name -->
    </select>

</mapper>
