<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.AnbiaoVehicleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.system.entity.AnbiaoVehicle">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="cheliangpaizhao" property="cheliangpaizhao" />
        <result column="chepaiyanse" property="chepaiyanse" />
        <result column="shiyongxingzhi" property="shiyongxingzhi" />
        <result column="jiashiyuanid" property="jiashiyuanid" />
        <result column="changpai" property="changpai" />
        <result column="xinghao" property="xinghao" />
        <result column="chejiahao" property="chejiahao" />
        <result column="luntaiguige" property="luntaiguige" />
        <result column="cheshenyanse" property="cheshenyanse" />
        <result column="hedingzaike" property="hedingzaike" />
        <result column="yingyunnianxian" property="yingyunnianxian" />
        <result column="dengjizhengshubianhao" property="dengjizhengshubianhao" />
        <result column="chelianglaiyuan" property="chelianglaiyuan" />
        <result column="zhucedengjishijian" property="zhucedengjishijian" />
        <result column="ruhushijian" property="ruhushijian" />
        <result column="guohushijian" property="guohushijian" />
        <result column="tuishishijian" property="tuishishijian" />
        <result column="qiangzhibaofeishijian" property="qiangzhibaofeishijian" />
        <result column="jieboyunshuzhenghao" property="jieboyunshuzhenghao" />
        <result column="yuancheliangpaizhao" property="yuancheliangpaizhao" />
        <result column="cheliangzhuangtai" property="cheliangzhuangtai" />
        <result column="cheliangtingfangdiqu" property="cheliangtingfangdiqu" />
        <result column="danganhao" property="danganhao" />
        <result column="beiyongcheliang" property="beiyongcheliang" />
        <result column="yunyingshang" property="yunyingshang" />
        <result column="suoshuchedui" property="suoshuchedui" />
        <result column="xingshifujian" property="xingshifujian" />
        <result column="fujian" property="fujian" />
        <result column="fadongjixinghao" property="fadongjixinghao" />
        <result column="fadongjihao" property="fadongjihao" />
        <result column="fadongjipailianggonglv" property="fadongjipailianggonglv" />
        <result column="ranliaoleibie" property="ranliaoleibie" />
        <result column="ranyouxiaohao" property="ranyouxiaohao" />
        <result column="paifangbiaozhun" property="paifangbiaozhun" />
        <result column="zhuanxiangfangshi" property="zhuanxiangfangshi" />
        <result column="chemenshezhi" property="chemenshezhi" />
        <result column="zhouju" property="zhouju" />
        <result column="chechang" property="chechang" />
        <result column="chekuan" property="chekuan" />
        <result column="chegao" property="chegao" />
        <result column="luntaishu" property="luntaishu" />
        <result column="chezhoushu" property="chezhoushu" />
        <result column="gangbantanhuangpianshu" property="gangbantanhuangpianshu" />
        <result column="dipanxinghao" property="dipanxinghao" />
        <result column="donglileixing" property="donglileixing" />
        <result column="zongzhiliang" property="zongzhiliang" />
        <result column="zhengbeizhiliang" property="zhengbeizhiliang" />
        <result column="luntaizonglei" property="luntaizonglei" />
        <result column="xuanguaxingshi" property="xuanguaxingshi" />
        <result column="xingchezhidongfangshi" property="xingchezhidongfangshi" />
        <result column="zhidongqiqianlun" property="zhidongqiqianlun" />
        <result column="zhidongqihoulun" property="zhidongqihoulun" />
        <result column="abs" property="abs" />
        <result column="kongtiaoxitong" property="kongtiaoxitong" />
        <result column="huanshuqi" property="huanshuqi" />
        <result column="biansuxiangxingshi" property="biansuxiangxingshi" />
        <result column="zhizhaochangshang" property="zhizhaochangshang" />
        <result column="gouzhishuizhenghao" property="gouzhishuizhenghao" />
        <result column="chuchangriqi" property="chuchangriqi" />
        <result column="leijilicheng" property="leijilicheng" />
        <result column="zhongduanfuwuqi" property="zhongduanfuwuqi" />
        <result column="cheliangdengji" property="cheliangdengji" />
        <result column="weishengjian" property="weishengjian" />
        <result column="fadongjipailiang" property="fadongjipailiang" />
        <result column="cheliangwaikuochicun" property="cheliangwaikuochicun" />
        <result column="ranliaoxiaohaofujian" property="ranliaoxiaohaofujian" />
        <result column="beizhu" property="beizhu" />
        <result column="gpsanzhuangshijian" property="gpsanzhuangshijian" />
        <result column="zhinenghuaxitong" property="zhinenghuaxitong" />
        <result column="gps" property="gps" />
        <result column="xingshijiluyi" property="xingshijiluyi" />
        <result column="zongduanid" property="zongduanid" />
        <result column="zongduanxinghao" property="zongduanxinghao" />
        <result column="is_deleted" property="isDeleted" />
        <result column="createtime" property="createtime" />
        <result column="caozuoren" property="caozuoren" />
        <result column="caozuorenid" property="caozuorenid" />
        <result column="caozuoshijian" property="caozuoshijian" />
        <result column="cheliangzhaopian" property="cheliangzhaopian" />
        <result column="yunshujiezhi" property="yunshujiezhi" />
        <result column="cheliangyunyingleixing" property="cheliangyunyingleixing" />
        <result column="zhongduanchangshang" property="zhongduanchangshang" />
        <result column="simnum" property="simnum" />
        <result column="tongbushijian" property="tongbushijian" />
        <result column="yunyingshangmingcheng" property="yunyingshangmingcheng" />
        <result column="jiashiyuanxingming" property="jiashiyuanxingming" />
        <result column="jiashiyuandianhua" property="jiashiyuandianhua" />
        <result column="yayunyuanxingming" property="yayunyuanxingming" />
        <result column="yayunyuandianhua" property="yayunyuandianhua" />
        <result column="chezhu" property="chezhu" />
        <result column="chezhudianhua" property="chezhudianhua" />
        <result column="zhongduanleixing" property="zhongduanleixing" />
        <result column="yayunyuanid" property="yayunyuanid" />
        <result column="terminalprotocoltype" property="terminalprotocoltype" />
        <result column="videochannelnum" property="videochannelnum" />
        <result column="platformconnectiontype" property="platformconnectiontype" />
        <result column="teamno" property="teamno" />
        <result column="owenno" property="owenno" />
        <result column="daoluyunshuzheng" property="daoluyunshuzheng" />
        <result column="daoluyunshuzhengchulingriqi" property="daoluyunshuzhengchulingriqi" />
        <result column="daoluyunshuzhengyouxiaoqi" property="daoluyunshuzhengyouxiaoqi" />
        <result column="bencinianshenriqi" property="bencinianshenriqi" />
        <result column="xiacinianshenriqi" property="xiacinianshenriqi" />
        <result column="bencinianjianriqi" property="bencinianjianriqi" />
        <result column="xiacinianjianriqi" property="xiacinianjianriqi" />
        <result column="bencijipingriqi" property="bencijipingriqi" />
        <result column="xiacijipingriqi" property="xiacijipingriqi" />
        <result column="baofeiriqi" property="baofeiriqi" />
        <result column="cheliangjishudengji" property="cheliangjishudengji" />
        <result column="suoshuyunguan" property="suoshuyunguan" />
        <result column="area" property="area" />
        <result column="daoluyunzhengfujian" property="daoluyunzhengfujian" />
        <result column="dabiaojianchafujian" property="dabiaojianchafujian" />
        <result column="nianshenfujian" property="nianshenfujian" />
        <result column="xingshizhengzhengyefujian" property="xingshizhengzhengyefujian" />
        <result column="xingshizhengfuyefujian" property="xingshizhengfuyefujian" />
        <result column="cheliangdengjizhengshuzhengyefujian" property="cheliangdengjizhengshuzhengyefujian" />
        <result column="cheliangdengjizhengshufuyefujian" property="cheliangdengjizhengshufuyefujian" />
        <result column="baoxiandaoqishijian" property="baoxiandaoqishijian" />
        <result column="xingshizhengdaoqishijian" property="xingshizhengdaoqishijian" />
        <result column="carowneraddress" property="carowneraddress" />
        <result column="chelianghuoqufangshi" property="chelianghuoqufangshi" />
        <result column="weihuzhouqi" property="weihuzhouqi" />
        <result column="cheliangleixing" property="cheliangleixing" />
        <result column="cheliangpinpai" property="cheliangpinpai" />
        <result column="shifoujinkou" property="shifoujinkou" />
        <result column="lunju" property="lunju" />
        <result column="huoxiangneibuchicun" property="huoxiangneibuchicun" />
        <result column="hedingzaizhiliang" property="hedingzaizhiliang" />
        <result column="zhunqianyinzongzhiliang" property="zhunqianyinzongzhiliang" />
        <result column="jiashishizaike" property="jiashishizaike" />
        <result column="jingyingzuzhifangshi" property="jingyingzuzhifangshi" />
        <result column="jingjileixing" property="jingjileixing" />
        <result column="frontlunju" property="frontlunju" />
        <result column="yunyingshangjieruma" property="yunyingshangjieruma" />
    </resultMap>

    <select id="getByVehImg" resultType="org.springblade.system.entity.AnbiaoVehicleImg" parameterType="java.lang.String">
        select
            a.id,
            b.avx_ids as xszid,
            b.avx_original_enclosure as xszzmimg,
            b.avx_copy_enclosure as xszfmimg,
            c.avd_ids as yszid,
            c.avd_enclosure as yszimg,
            d.avx_ids as xnbgid,
            d.avx_enclosure as xnbgimg,
            e.avd_ids as djzid,
            e.avd_enclosure as djzimg
        from
            anbiao_vehicle a
                left join anbiao_vehicle_xingshizheng b on a.id = b.avx_av_ids and b.avx_delete = 0
                left join anbiao_vehicle_daoluyunshuzheng c on a.id = c.avd_av_ids and c.avd_delete = 0
                left join anbiao_vehicle_xingnengbaogao d on a.id = d.avx_av_ids and d.avx_delete = 0
                left join anbiao_vehicle_dengjizhengshu e on a.id = e.avd_vehicle_ids and e.avd_delete = 0
        where a.is_deleted = 0
          and a.id = #{vehId}
    </select>

    <select id="getByVehImgAll" resultType="org.springblade.system.entity.AnbiaoVehicleImg" parameterType="java.lang.String">
        SELECT
            a.id,
            a.dept_id as deptId,
            a.cheliangpaizhao,
            b.avx_original_enclosure as xszzmimg,
            CASE WHEN IFNULL( b.avx_original_enclosure, '' ) != '' THEN 1 ELSE 0 end as xszzmcount,
            b.avx_copy_enclosure as xszfmimg,
            CASE WHEN IFNULL( b.avx_copy_enclosure, '' ) != '' THEN 1 ELSE 0 end as xszfmcount,
            c.avd_enclosure as yszimg,
            CASE WHEN IFNULL( c.avd_enclosure, '' ) != '' THEN 1 ELSE 0 end as yszimgcount,
            d.avx_enclosure as xnbgimg,
            CASE WHEN IFNULL( d.avx_enclosure, '' ) != '' THEN 1 ELSE 0 end as xnbgimgcount,
            e.avd_enclosure as djzimg,
            CASE WHEN IFNULL( e.avd_enclosure, '' ) != '' THEN 1 ELSE 0 end as djzimgcount
        FROM
            anbiao_vehicle a
            inner join  (
                SELECT
                    DISTINCT
                    xiaji.id,
                    xiaji.parent_id,
                    xiaji.dept_name,
                    xiaji.is_deleted
                FROM
                    blade_dept shangji,
                    blade_dept xiaji
                WHERE xiaji.tree_code LIKE CONCAT(shangji.tree_code,'%')
                    AND xiaji.is_deleted = 0 AND xiaji.extend_type='机构'
                <if test="deptId !=null and deptId != ''">
                    and shangji.id=#{deptId}
                </if>
            ) bb on a.dept_id = bb.id
            left join anbiao_vehicle_xingshizheng b on a.id = b.avx_av_ids and b.avx_delete = 0
            left join anbiao_vehicle_daoluyunshuzheng c on a.id = c.avd_av_ids and c.avd_delete = 0
            left join anbiao_vehicle_xingnengbaogao d on a.id = d.avx_av_ids and d.avx_delete = 0
            left join anbiao_vehicle_dengjizhengshu e on a.id = e.avd_vehicle_ids and e.avd_delete = 0
        WHERE
            a.is_deleted = 0
        <if test="cheliangpaizhao !=null and cheliangpaizhao != ''">
            and a.cheliangpaizhao=#{cheliangpaizhao}
        </if>
    </select>

</mapper>
