<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.AnbiaoPersonnelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.springblade.system.entity.AnbiaoPersonnel">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="caozuoren" property="caozuoren" />
        <result column="caozuorenid" property="caozuorenid" />
        <result column="caozuoshijian" property="caozuoshijian" />
        <result column="xingming" property="xingming" />
        <result column="shenfenzheng" property="shenfenzheng" />
        <result column="shoujihao" property="shoujihao" />
        <result column="chushengriqi" property="chushengriqi" />
        <result column="qitalianxifangshi" property="qitalianxifangshi" />
        <result column="youxiang" property="youxiang" />
        <result column="jiatingdizhi" property="jiatingdizhi" />
        <result column="gonghao" property="gonghao" />
        <result column="ruzhiriqi" property="ruzhiriqi" />
        <result column="gongzuojingli" property="gongzuojingli" />
        <result column="beizhu" property="beizhu" />
        <result column="fujian" property="fujian" />
        <result column="is_deleted" property="isDeleted" />
        <result column="createtime" property="createtime" />
        <result column="dept_id" property="deptId" />
        <result column="post_id" property="postId" />
        <result column="shenfenzhengfujian" property="shenfenzhengfujian" />
        <result column="shenfenzhengfanmianfujian" property="shenfenzhengfanmianfujian" />
        <result column="qitazhengmianfujian" property="qitazhengmianfujian" />
        <result column="qitafanmianfujian" property="qitafanmianfujian" />
    </resultMap>

    <select id="selectPageList" parameterType="org.springblade.anbiao.guanlijigouherenyuan.page.PersonnelPage" resultType="org.springblade.anbiao.guanlijigouherenyuan.vo.PersonnelVO">
        <if test="size == 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${total}
        </if>
        <if test="current != 0" >
            select * from (
            <include refid="tableSql" />
            )b
            where 1=1
            <include refid="querySql" />
            <include refid="orderSql" />
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectTotal" parameterType="org.springblade.anbiao.guanlijigouherenyuan.page.PersonnelPage" resultType="int">
        select COUNT(1) from (
        <include refid="tableSql" />
        )d
        where 1 = 1
        <include refid="querySql" />
    </select>

    <sql id="tableSql">
        SELECT DISTINCT
        a.*,
        renyuan.account,
        renyuan.`password`,
        renyuan.`name`,
        renyuan.real_name,
        renyuan.email,
        renyuan.phone,
        renyuan.birthday,
        renyuan.sex,
        (select jigouleixing from anbiao_organization where dept_id = a.dept_id) as jigouleixing
        FROM
        anbiao_personnel a
        INNER JOIN blade_post b ON a.userid=b.user_id
        INNER JOIN blade_user renyuan ON a.userid=renyuan.id
        AND a.is_deleted=0
        AND renyuan.is_deleted=0
        <if test="postId !=null and postId != ''">
            AND b.post_id = #{postId}
            AND a.dept_id=#{deptId}
        </if>
    </sql>

    <sql id="querySql">
        <if test="userId !=null and userId != ''">
            AND userid = #{userId}
        </if>
        <if test="xingming !=null and xingming != ''">
            AND xingming LIKE '%${xingming}%'
        </if>
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by caozuoshijian
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

</mapper>
