<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.system.mapper.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dictResultMap" type="org.springblade.system.entity.Dict">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="code" property="code"/>
        <result column="dict_key" property="dictKey"/>
        <result column="dict_value" property="dictValue"/>
        <result column="sort" property="sort"/>
        <result column="remark" property="remark"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="dictVOResultMap" type="org.springblade.system.vo.DictVO">
    </resultMap>

    <resultMap id="treeNodeResultMap" type="org.springblade.core.tool.node.TreeNode">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="title" property="title"/>
        <result column="value" property="value"/>
        <result column="key" property="key"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        select
        id, parent_id, code, dict_key, dict_value, sort, remark, is_deleted
    </sql>

    <select id="selectDictPage" resultMap="dictResultMap">
        select * from blade_dict where is_deleted = 0
    </select>

    <select id="getValue" resultType="java.lang.String">
        select
            dict_value
        from blade_dict where code = #{param1} and dict_key = #{param2} and is_deleted = 0 limit 1
    </select>

    <!-- oracle 版本 -->
    <!--<select id="getValue" resultType="java.lang.String">
        select
            dict_value
        from blade_dict where code = #{param1, jdbcType=VARCHAR} and dict_key = #{param2} rownum 1
    </select>-->

    <select id="getList" resultMap="dictResultMap">
        select id, parent_id, code, dict_key, dict_value, sort, remark from blade_dict where code = #{param1} and is_deleted = 0
    </select>

    <!-- 查询列表 -->
    <sql id="tableSql">
        select
            id, parent_id, code, dict_key, dict_value, sort, remark from blade_dict
        where 1=1
            and is_deleted = 0
    </sql>

    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by id desc
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
    </sql>

    <sql id="querySql">

        <if test="code != null and code != '' ">
            and code = #{code}
        </if>

        <if test="dictValue != null and dictValue != '' ">
            and dict_value = #{dictValue}
        </if>

    </sql>

    <select timeout="600" id="selectALLPage" resultMap="dictResultMap"
            parameterType="org.springblade.system.page.DictPage">
        <if test="size == 0">
            select * from (
            <include refid="tableSql"/>
            )b
            where 1=1
            <include refid="querySql"/>
            <include refid="orderSql"/>
            limit ${total}
        </if>
        <if test="current != 0">
            select * from (
            <include refid="tableSql"/>
            )b
            where 1=1
            <include refid="querySql"/>
            <include refid="orderSql"/>
            limit ${offsetNo},${size}
        </if>
    </select>

    <select timeout="90" id="selectAllTotal"
            parameterType="org.springblade.system.page.DictPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql"/>
        )d where 1 = 1
        <include refid="querySql"/>
    </select>


    <select id="selectByCode" resultMap="dictResultMap">
        select id, parent_id, code, dict_key, dict_value, sort, remark from blade_dict where
         dict_key!=-1 and code = #{param1} and is_deleted = 0
    </select>

    <select id="tree" resultMap="treeNodeResultMap">
        select id, parent_id, dict_value as title, id as 'value', id as 'key' from blade_dict
        where is_deleted = 0
        <if test=" type == '其他' ">
            and code not in ('DiQu','省','市','县')
        </if>

        <if test=" type == '地区' ">
            and parent_id in (
                select id from blade_dict
                where code in ('DiQu','省','市','县')
            )
        </if>
    </select>

    <!--  其他字典   -->
    <select id="OtherTree" resultMap="dictVOResultMap">
        select id,parent_id,`code`,dict_key,dict_value,case when (select COUNT(1) from blade_dict where parent_id = id ) &gt; 0 then 1 else 0 end as childrens from blade_dict
        where 1=1
        <if test=" type == '其他' ">
            and code != 'DiQu'
            and parent_id = 0
        </if>
        and is_deleted = 0
        <if test=" type == '地区' ">
            and parent_id in (
            select id from blade_dict
            where code = 'DiQu'
            )
        </if>

    </select>

    <!--  根据上级ID获取下级字典   -->
    <select id="RegionalismTree" resultMap="dictVOResultMap">
        select id,parent_id,`code`,dict_key,dict_value,case when (select COUNT(1) from blade_dict where parent_id = a.id ) &gt; 0 then 1 else 0 end as childrens from blade_dict as a
        where 1=1
            and parent_id = #{id}
            and is_deleted = 0
    </select>

    <select id="getDictByCode" resultMap="dictResultMap" parameterType="java.lang.String" >
        select distinct dict_value, dict_key from blade_dict
        where `code` = #{code}
        <if test=" dictvalue != '' and dictvalue != null ">
            and dict_value = #{dictvalue}
            and parent_id != 0
        </if>
            and is_deleted = 0
    </select>


</mapper>
