<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.anbiao.AccidentReports.mapper.AccidentReportsMapper">


    <!--事故列表-->
    <select id="selectList" parameterType="org.springblade.anbiao.AccidentReports.page.AccidentPage" resultType="org.springblade.anbiao.AccidentReports.VO.AccidentReportsVO">
        <if test="size==0">
            select
            a.shigufashengshijian,a.shigufashengdidian,a.shigufenlei,a.shiguxingzhi,a.shiguzeren,
            a.chepaihao,a.jiashiyuan,b.dept_name AS deptName,a.caichansunshi,a.jianjiejingjisunshi,
            a.shiguzhaopian1,
            a.shiguzhaopian2,
            a.shiguzhaopian3,a.caozuoshijian,a.id
            from
            anbiao_shigubaogao a
        inner join (
        <include
            refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.dept_id = b.id
        <where> a.is_deleted = 0
             <if test="asiYear!=null and asiYear!=''">
                 AND year(a.shigufashengshijian) >= year(#{asiYear})
             </if>

            <if test="deptName !=null and deptName != ''">
                AND b.dept_name = #{deptName}
            </if>

            <if test="jiashiyuan !=null and jiashiyuan != ''">
                AND a.jiashiyuan = #{jiashiyuan}
            </if>

            <if test="chepaihao !=null and chepaihao != ''">
                AND a.chepaihao like CONCAT('%',#{chepaihao},'%')
            </if>

           limit ${total}
        </where>
        </if>
        <if test="current != 0">
            select
            a.shigufashengshijian,a.shigufashengdidian,a.shigufenlei,a.shiguxingzhi,a.shiguzeren,
            a.chepaihao,a.jiashiyuan,b.dept_name AS deptName,a.caichansunshi,a.jianjiejingjisunshi,
            a.shiguzhaopian1,
            a.shiguzhaopian2,
            a.shiguzhaopian3,a.caozuoshijian,a.id
            from
            anbiao_shigubaogao a
            inner join (
            <include
                refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) b on a.dept_id = b.id
            <where> a.is_deleted = 0
            <if test="asiYear!=null and asiYear!=''">
                AND year(a.shigufashengshijian) >= year(#{asiYear})
            </if>

            <if test="deptName !=null and deptName != ''">
                AND b.dept_name = #{deptName}
            </if>

            <if test="jiashiyuan !=null and jiashiyuan != ''">
                AND a.jiashiyuan = #{jiashiyuan}
            </if>

            <if test="chepaihao !=null and chepaihao != ''">
                AND a.chepaihao like CONCAT('%',#{chepaihao},'%')
            </if>

           limit ${offsetNo},${size}
        </where>
        </if>
    </select>

    <!--事故信息-->
    <select id="selectAll" parameterType="org.springblade.anbiao.AccidentReports.page.AccidentPage" resultType="org.springblade.anbiao.AccidentReports.VO.AccidentReportsVO">
        SELECT
        a.shigufashengdidian,
        a.shigufashengshijian,
        a.shiguxingzhi,
        a.shigufenlei,
        c.dept_name AS deptName,
        a.shiguzeren,
        a.chepaihao,
        a.jiashiyuan,
        a.caozuoshijian,
        a.shiguzhaopian1,
        a.shiguzhaopian2,
        a.shiguzhaopian3,
        a.id,
        a.siwang,
        a.shoushang,
        a.jianjiejingjisunshi,
        a.caichansunshi,
        a.dept_id AS deptId,
        a.fujian,
        a.shigugaikuang
        FROM
        anbiao_shigubaogao a
        INNER JOIN ( <include refid = "org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId" /> ) c ON a.dept_id = c.id
        WHERE
        a.id = #{id} AND a.is_deleted = 0
    </select>

    <!--新增事故-->
    <insert id="insertOne"  parameterType="org.springblade.anbiao.AccidentReports.DTO.AccidentReportsDTO">
        insert into anbiao_shigubaogao
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="deptId !=null and deptId !=''">
                dept_id,
            </if>
            <if test="shigufashengdidian !=null and shigufashengdidian !=''">
                shigufashengdidian,
            </if>
            <if test="jianjiejingjisunshi !=null and jianjiejingjisunshi !=''">
                jianjiejingjisunshi,
            </if>
            <if test="shigufashengshijian !=null">
                shigufashengshijian,
            </if>
            <if test="shiguxingzhi !=null">
                shiguxingzhi,
            </if>
            <if test="shigufenlei !=null">
                shigufenlei,
            </if>
            <if test="shiguzeren !=null">
                shiguzeren,
            </if>
            <if test="chepaihao !=null">
                chepaihao,
            </if>
            <if test="jiashiyuan !=null">
                jiashiyuan,
            </if>
            <if test="siwang !=null">
                siwang,
            </if>
            <if test="shoushang !=null">
                shoushang,
            </if>
            <if test="caichansunshi !=null">
                caichansunshi,
            </if>
            <if test="shiguzhaopian1 !=null and shiguzhaopian1 !=''">
                shiguzhaopian1,
            </if>
            <if test="shiguzhaopian2 !=null and shiguzhaopian2 !=''">
                shiguzhaopian2,
            </if>
            <if test="shiguzhaopian3 !=null and shiguzhaopian3 !=''">
                shiguzhaopian3,
            </if>
            <if test="fujian !=null and fujian !=''">
                fujian,
            </if>
            <if test="shigugaikuang !=null and shigugaikuang !=''">
                shigugaikuang,
            </if>
            is_deleted

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{id},

            <if test="deptId !=null and deptId !=''">
                #{deptId},
            </if>
            <if test="shigufashengdidian !=null and shigufashengdidian !=''">
                #{shigufashengdidian},
            </if>
            <if test="jianjiejingjisunshi !=null and jianjiejingjisunshi !=''">
                #{jianjiejingjisunshi},
            </if>
            <if test="shigufashengshijian !=null">
                #{shigufashengshijian},
            </if>
            <if test="shiguxingzhi !=null">
                #{shiguxingzhi},
            </if>
            <if test="shigufenlei !=null">
                #{shigufenlei},
            </if>
            <if test="shiguzeren !=null">
                #{shiguzeren},
            </if>
            <if test="chepaihao !=null">
                #{chepaihao},
            </if>
            <if test="jiashiyuan !=null">
                #{jiashiyuan},
            </if>
            <if test="siwang !=null">
                #{siwang},
            </if>
            <if test="shoushang !=null">
                #{shoushang},
            </if>
            <if test="caichansunshi !=null">
                #{caichansunshi},
            </if>
            <if test="shiguzhaopian1 !=null and shiguzhaopian1 !=''">
                #{shiguzhaopian1},
            </if>
            <if test="shiguzhaopian2 !=null and shiguzhaopian2 !=''">
                #{shiguzhaopian2},
            </if>
            <if test="shiguzhaopian3 !=null and shiguzhaopian3 !=''">
               #{shiguzhaopian3},
            </if>
            <if test="fujian !=null and fujian !=''">
                #{fujian},
            </if>
            <if test="shigugaikuang !=null and shigugaikuang !=''">
                #{shigugaikuang},
            </if>
             0
        </trim>
    </insert>

    <insert id="insertB" parameterType="org.springblade.anbiao.AccidentReports.DTO.AccidentReportsDTO">
        insert into anbiao_shiguchuli
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="shigubaogaoid !=null">
            shigubaogaoid,
        </if>
        <if test="shangwangcaichansunshi !=null">
            shangwangcaichansunshi,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="shigubaogaoid !=null">
            #{shigubaogaoid},
        </if>
        <if test="shangwangcaichansunshi !=null">
            #{shangwangcaichansunshi},
        </if>
        </trim>
    </insert>

    <!--修改事故-->
    <update id="updateAcc" parameterType="org.springblade.anbiao.AccidentReports.entity.AccidentReportsEntity">
        update anbiao_shigubaogao
        <set>
            <if test="deptId !=null">
                dept_id = #{deptId},
            </if>
            <if test="shigufashengdidian !=null">
                shigufashengdidian = #{shigufashengdidian},
            </if>
            <if test="jianjiejingjisunshi !=null and jianjiejingjisunshi !=''">
                jianjiejingjisunshi= #{jianjiejingjisunshi},
            </if>
            <if test="shigufashengshijian !=null ">
                shigufashengshijian = #{shigufashengshijian},
            </if>
            <if test="shiguxingzhi !=null and shiguxingzhi !=''">
                shiguxingzhi = #{shiguxingzhi},
            </if>
            <if test="shigufenlei !=null and shigufenlei !=''">
                shigufenlei = #{shigufenlei},
            </if>
            <if test="shiguzeren !=null and shiguzeren !=''">
                shiguzeren = #{shiguzeren},
            </if>
            <if test="chepaihao !=null and chepaihao !=''">
                chepaihao = #{chepaihao},
            </if>
            <if test="jiashiyuan !=null and jiashiyuan !=''">
                jiashiyuan = #{jiashiyuan},
            </if>
            <if test="siwang !=null and siwang !=''">
                siwang = #{siwang},
            </if>
            <if test="shoushang !=null and shoushang !=''">
                shoushang = #{shoushang},
            </if>
            <if test="caichansunshi !=null and caichansunshi !=''">
                caichansunshi = #{caichansunshi},
            </if>
            <if test="shiguzhaopian1 !=null  ">
                shiguzhaopian1 = #{shiguzhaopian1},
            </if>
            <if test="shiguzhaopian2 !=null ">
                shiguzhaopian2 = #{shiguzhaopian2},
            </if>
            <if test="shiguzhaopian3 !=null ">
                shiguzhaopian3 = #{shiguzhaopian3},
            </if>
            <if test="fujian !=null ">
                fujian = #{fujian},
            </if>
            <if test="shigugaikuang !=null and shigugaikuang !=''">
                shigugaikuang = #{shigugaikuang},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--删除事故-->
    <update id="deleteAcc" parameterType="org.springblade.anbiao.AccidentReports.page.AccidentPage" >
        update anbiao_shigubaogao set
            is_deleted = 1
        WHERE id = #{id}
    </update>

    <sql id="tableSql">
        select
        a.*,
        b.dept_name as deptName
        from
        anbiao_shigubaogao a
        inner join  (
        <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
        ) b on a.dept_id = b.id
        where a.is_deleted = 0
    </sql>
    <sql id="orderSql">
        <!-- 默认排序规则 -->
        <if test="orderColumn == null or orderColumn == ''">
            order by shigufashengshijian desc
        </if>
        <if test="orderColumn != null and orderColumn != ''">
            order by ${orderColumn}
        </if>
        <if test="orderColumn != null and orderColumn != '' and order != 0">
            desc
        </if>
        <if test="orderColumn != null and orderColumn != '' and order == 0">
            asc
        </if>
    </sql>

    <select id="selectTotal"
            parameterType="org.springblade.anbiao.AccidentReports.page.AccidentPage"
            resultType="int">
        select COUNT(1) from (
        <include refid="tableSql"/>
        )d where 1 = 1
        <if test="asiYear!=null and asiYear!=''">
            AND year(d.shigufashengshijian) >= year(#{asiYear})
        </if>
        <if test="deptName !=null and deptName != ''">
            AND d.deptName = #{deptName}
        </if>

        <if test="jiashiyuan !=null and jiashiyuan != ''">
            AND d.jiashiyuan = #{jiashiyuan}
        </if>

        <if test="chepaihao !=null and chepaihao != ''">
            AND d.chepaihao like CONCAT('%',#{chepaihao},'%')
        </if>
    </select>

    <select id="selectshigubaogao" resultType="org.springblade.anbiao.AccidentReports.DTO.AccidentReportsDTO" >
        SELECT * FROM `anbiao_shigubaogao`
        WHERE dept_id=#{deptId}
          and is_deleted=0
    </select>

    <select id="selectLedgerList" resultType="org.springblade.anbiao.AccidentReports.VO.AccidentLedgerReportsVO" >
        SELECT
            c.dept_name as deptName,
            a.*
        FROM
            (
                SELECT
                    dept_id,shigufashengshijian,shigufashengdidian,shigufenlei,shiguxingzhi,shiguzeren,chepaihao,jiashiyuan,shigugaikuang,caichansunshi,jianjiejingjisunshi,shiguzhaopian1,shiguzhaopian2,shiguzhaopian3,is_deleted
                FROM
                    anbiao_shigubaogao
                where
                    is_deleted=0
            ) a
                LEFT JOIN ( SELECT id, dept_name FROM blade_dept ) c ON c.id = a.dept_id
    </select>

    <select id="selectLedgerPage"
            parameterType="org.springblade.anbiao.AccidentReports.page.AccidentLedgerReportsPage"
            resultType="org.springblade.anbiao.AccidentReports.VO.AccidentLedgerReportsVO">
        <if test="size == 0" >
            SELECT
            c.dept_name as deptName,
            c.id as deptId,
            a.*
            FROM
            (
            SELECT
            id as accidentId,dept_id,left(shigufashengshijian,10) as shigufashengshijian,shigufashengdidian,shigufenlei,shiguxingzhi,shiguzeren,chepaihao,jiashiyuan,shigugaikuang,caichansunshi,jianjiejingjisunshi,shiguzhaopian1,shiguzhaopian2,shiguzhaopian3,is_deleted
            FROM
            anbiao_shigubaogao
            where
            is_deleted=0
            ) a
            inner join  (
            <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) c ON c.id = a.dept_id
            where 1=1
            <if test="date != null and date != ''">
<!--                AND a.shigufashengshijian >= #{date}-->
                AND year(a.shigufashengshijian) = year(#{date})
                AND month(a.shigufashengshijian) = month(#{date})
            </if>
            <if test="deptName != null and deptName != '' ">
                and c.dept_name like '%${deptName}%'
            </if>
            <if test="accidentId != null and accidentId != '' ">
                and a.accidentId =#{accidentId}
            </if>
            limit ${total}
        </if>
        <if test="current != 0" >
            SELECT
            c.dept_name as deptName,
            c.id as deptId,
            a.*
            FROM
            (
            SELECT
            id as accidentId,dept_id,left(shigufashengshijian,10) as shigufashengshijian,shigufashengdidian,shigufenlei,shiguxingzhi,shiguzeren,chepaihao,jiashiyuan,shigugaikuang,caichansunshi,jianjiejingjisunshi,shiguzhaopian1,shiguzhaopian2,shiguzhaopian3,is_deleted
            FROM
            anbiao_shigubaogao
            where
            is_deleted=0
            ) a
            inner join  (
            <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) c ON c.id = a.dept_id
            <if test="date != null and date != ''">
<!--                AND a.shigufashengshijian >= #{date}-->
                AND year(a.shigufashengshijian) = year(#{date})
                AND month(a.shigufashengshijian) = month(#{date})
            </if>
            <if test="deptName != null and deptName != '' ">
                and c.dept_name like '%${deptName}%'
            </if>
            <if test="accidentId != null and accidentId != '' ">
                and a.accidentId =#{accidentId}
            </if>
            limit ${offsetNo},${size}
        </if>
    </select>

    <select id="selectLedgerTotal"
            parameterType="org.springblade.anbiao.AccidentReports.page.AccidentLedgerReportsPage"
            resultType="int">
        select COUNT(1) from(SELECT
            c.dept_name as deptName,
            c.id as deptId,
            a.*
        FROM
            (
                SELECT
                    id as accidentId,dept_id,left(shigufashengshijian,10) as shigufashengshijian,shigufashengdidian,shigufenlei,shiguxingzhi,shiguzeren,chepaihao,jiashiyuan,shigugaikuang,caichansunshi,jianjiejingjisunshi,shiguzhaopian1,shiguzhaopian2,shiguzhaopian3,is_deleted
                FROM
                    anbiao_shigubaogao
                where
                    is_deleted=0
            ) a
            inner join  (
            <include refid="org.springblade.anbiao.guanlijigouherenyuan.mapper.OrganizationsMapper.getByDeptId"/>
            ) c ON c.id = a.dept_id
            <if test="date != null and date != ''">
<!--                AND a.shigufashengshijian >= #{date}-->
                AND year(a.shigufashengshijian) = year(#{date})
                AND month(a.shigufashengshijian) = month(#{date})
            </if>
            <if test="deptName != null and deptName != '' ">
                and c.dept_name like '%${deptName}%'
            </if>
            <if test="accidentId != null and accidentId != '' ">
                and a.accidentId =#{accidentId}
            </if>
            ) d
    </select>
</mapper>
